/* TODO This file addresses a parf of the administration.
   Why not include it in the admin styles? */
.bpi-admin-actions a {
  margin-right: 10px;
}

div.form-item-bpi-search-query {
  float: left;
  padding-top: 5px;
}

.form-item-bpi-search-query input {
  margin-right: 20px;
}

.edit-bpi-search-submit {
  float: left;
  margin-top: 10px;
}

.bpi-filter-text {
  line-height: 16px;
}

.bpi-filter-remove-cross {
  display: inline-block;
  height: 16px;
}

.bpi-filter-remove-cross {
  vertical-align: middle;
}

.bpi-title {
  width: 40%;
}

.bpi-photo {
  text-align: center;
}
