.bpi-single-well-item {
  margin-bottom: 5px;
}

.bpi-single-well-item .item-action-syndicate {
  border: 1px solid black;
  bottom: 0;
  padding: 3px;
  position: absolute;
  right: 3px;
}

#bpi-syndicate-page-form .form-item-bpi-search-query,
.bpi-single-well-item .item-title,
.bpi-single-well-item .item-details .details-left,
.bpi-single-well-item .item-details .details-right {
  display: inline-block;
}

.bpi-single-well-item .item-details .details-left,
.bpi-single-well-item .item-details .details-right {
  width: 45%;
}

.bpi-single-well-item .item-details .details-label {
  font-weight: bold;
}

#edit-bpi-search-sort {
  text-align: right;
}

#edit-bpi-actions {
  position: absolute;
  right: 0;
}

#edit-bpi-actions a {
  border: 1px solid black;
  margin-right: 5px;
  padding: 3px;
}

.bpi-marker {
  color: green;
  margin-left: 5px;
}
