/* line 11, ../sass/ddbasic.ie8.scss */
img {
  width: auto;
}

/* line 17, ../sass/ddbasic.ie8.scss */
.search input[type="text"] {
  min-height: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* line 25, ../sass/ddbasic.ie8.scss */
.topbar .search input[type="text"] {
  min-height: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 35, ../sass/ddbasic.ie8.scss */
.user input[type="text"],
.user input[type="password"] {
  min-height: 0;
  padding-top: 20px;
  padding-bottom: 19px;
}

/* line 44, ../sass/ddbasic.ie8.scss */
.topbar .user input[type="submit"] {
  padding-left: 20px;
}

/* line 51, ../sass/ddbasic.ie8.scss */
.pane-ding-facetbrowser .expand {
  margin-left: 2px;
}
