#edit-capacity, #edit-ding-place2book-defaults-capacity {
  width:auto;
}

.node .content .place2book {
  clear:both;
}

.node .content .place2book.order {
  background: url("../img/sprite-knapper-reservering.png") no-repeat scroll right 0 transparent;
  background-position: right -30px;
  width: 188px;
}

.node .content .place2book a,
.node .content .place2book a:link,
.node .content .place2book a:visited,
.node .content .place2book a:hover,
.node .content .place2book a:active {
  background: url("../img/sprite-knapper-reservering.png") no-repeat scroll left -60px transparent;
  background-position: left -90px;
  color: white;
  display: block;
  padding: 7px 0;
  text-align: center;
  width: 180px;
  font-size: 1.1em;
  font-weight: bold;
}

.node .content .place2book.info {
  background: #FFEE66;
  border: 1px solid #EEDD55;
  margin: 20px 0;
  padding: 5px;
  text-align: center;
  color: #884400;
}
