
.pending {
  color: #696a69;
}

.availability.processed {
  color: #ed1e88;
}

.availability.available {
  color: #3399FF;
}

.availability.reservable {
  color: #ea9123;
}

.availability.available.reservable {
  color: #4c9f45;
}
