
.pending, .availability.processed {
  color: #696a69;
}

.availability.available {
  color: #0072bc;
}

.availability.reservable {
  color: #ea9123;
}

/* Available and reservable */
.availability.available.reservable {
  color: #4c9f45;
}

