.ding-campaign-item {
  padding: 5px;
}

.ding-campaign-item-red {
  border: 3px solid red;
}

.ding-campaign-item-blue {
  border: 3px solid blue;
}

.ding-campaign-item-green {
  border: 3px solid green;
}

.ding-campaign-rule .clear {
  clear: both;
}

.ding-campaign-rule .form-item {
  margin: 0;
  padding: 0;
}

.ding-campaign-rule .rule-type, .ding-campaign-rule .rule-value {
  float: left;
}

.ding-campaign-rule .rule-type select, .ding-campaign-rule .rule-value input {
  margin: 2px;
  font-size: 10px;
}
.ding-campaign-rule select {
  height: 24px;
}
.ding-campaign-rule .rule-value input {
  height: 14px;
}

.ding-campaign-button-add {
  margin-top: 10px;
}
