#ding-tabroll {
  height: 0;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  max-width: 1260px;
  overflow: hidden;
  padding: 0 0 25%;
  border-radius: 0;
  border: 1px solid #ccc;
  }

#ding-tabroll ul.ui-tabs-nav {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 25%;
  z-index: 1;
  border: 0 none;
  left: 0; /* change to "right: 0;" to position the tabs navigation on the right*/
  bottom: 0;
  font-size: 0.9em;
  text-decoration: none;
  }

#ding-tabroll ul.ui-tabs-nav li {
  border: 0 none;
  color: #666666;
  white-space: normal;
  width: 100%;
  height: 20%; /* for 5 tabs..*/
  top: 0;
  margin: 0;
  }

#ding-tabroll .ui-tabs-nav li.ui-tabs-selected {
  background: url("../images/tab-active-right.png") no-repeat scroll right 40% transparent;
  padding-right: 16px;
  }

#ding-tabroll li.ui-tabs-nav-item a {
  display: block;
  overflow: hidden;
  padding: 0;
  background-color: white;
  outline: 1px solid #ccc;
  font-weight: normal;
  font-size: 1.1em;
  height: 100%;
  width: 100%;
  text-align: center;
  }
  
/* Ghost element, nudged to maintain perfect centering inside nav tabs - see http://css-tricks.com/centering-in-the-unknown/ */
#ding-tabroll li.ui-tabs-nav-item a:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}  

#ding-tabroll ul.ui-tabs-nav li.ui-tabs-selected a {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  outline: 1px solid #000; 
  }

#ding-tabroll .ui-tabs-panel {
    height: 100%;
    width:75%;
    right: 0;
    position: absolute;
    padding: 0;
}

#ding-tabroll .ui-tabs-panel .image {
    position: absolute;
    top:0;
    width: 100%;
}
#ding-tabroll a img {
  width: 100%;
  height: 100%;
}

#ding-tabroll .ui-tabs-panel .info {
  z-index: 1;
  position: absolute;
  background: url("../images/bluegbg-75.png") repeat scroll 0 0 transparent;
  bottom: 0;
  height: 30%;
  right: 0; /* uncomment to position image on the right*/
  /*left: 0; /* uncomment to position image on the left*/
  margin: 3%;
  width: 94%;
  }

#ding-tabroll .ui-tabs-panel .info h3 {
  margin: 0 0.5em;
  }

#ding-tabroll .ui-tabs-panel .info h3 a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

#ding-tabroll .ui-tabs-panel .info p {
  color: #FFFFFF;
  margin: 0 0.5em;
  line-height: 1.1em;
  }

#ding-tabroll .ui-tabs-hide {
    display: none;
}

#ding-tabroll ul.ui-tabs-nav a:hover {
    background-color: #D9D9D9;
    text-decoration: none !important;
}

.ding-tabroll-select-tabs {
  margin: 1% 0;
  width: 100%;
  display: none;
}

/* 
 * Overrides for placing the nav tabs on the right 
 */
#ding-tabroll.nav-right ul.ui-tabs-nav {
  left: auto;
  right: 0;
  }

#ding-tabroll.nav-right .ui-tabs-nav li.ui-tabs-selected {
  background: url("../images/tab-active-left.png") no-repeat scroll left 40% transparent;
  padding-left: 16px;
  margin-left: -16px;
  }

#ding-tabroll.nav-right .ui-tabs-panel {
  right: auto;
  left:0; 
  }