.ding-campaign-item {
  padding: 5px;
}

.ding-campaign-item-orange {
  background-color: #e94928;
}

.ding-campaign-item-blue {
  background-color: #9a9e0;
}

.ding-campaign-item-green {
  background-color: #4eaa47;
}

.ding-campaign-item-pink {
  background-color: #d51578;
}

.ding-campaign-rule .clear {
  clear: both;
}

.ding-campaign-rule .form-item {
  margin: 0;
  padding: 0;
}

.ding-campaign-rule .rule-type,
.ding-campaign-rule .rule-value {
  float: left;
}

.ding-campaign-rule .rule-type select,
.ding-campaign-rule .rule-value input {
  margin: 2px;
  font-size: 12px;
}
.ding-campaign-rule select {
  height: 24px;
}
.ding-campaign-rule .rule-value input {
  height: 22px;
}

.ding-campaign-button-add {
  margin-top: 10px;
}
