#featured {
    height: 240px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    max-width: 1260px;
    overflow: hidden;
    margin-bottom: 15px;
}
#featured ul.ui-tabs-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 30%;
    z-index: 20;
    border: 0 none;
    font-family: inherit;
    right: 0;
    bottom: -1px;
    float: left;
    font-size: 13px;
    line-height: 1.3;
    outline: 0 none;
    text-decoration: none;
}

#featured ul.ui-tabs-nav li {
    border: 0 none;
    color: #666666;
		border-right: 1px solid #666;
    white-space: normal;
    width: 100%;
}

#featured .ui-tabs-nav li.ui-tabs-selected {
    border-bottom-color: #FFFFFF;
    background: url("../images/tab-active.png") no-repeat scroll left top transparent;
    margin-left: -12px;
    padding-left: 12px;
}

#featured li.ui-tabs-nav-item a {
    color: #FFFFFF;
    display: block;
    line-height: 17px;
    overflow: hidden;
    padding: 5px 5px 0 20px;
    background: none repeat scroll 0 0 #999999;
    border-bottom: 1px solid #fff;
    font-weight: normal;
    height: 42px;
    text-transform: uppercase;
    min-width: 90%;
}

#featured ul.ui-tabs-nav li.ui-tabs-selected a {
    background: none repeat scroll 0 0 #99D7DB;
    color: #fff;
    height: 43px;
    overflow: hidden;
    padding-top: 5px;
}

#featured .ui-tabs-panel .image {
    position: absolute;
    z-index: 1;
		top:0;
		left:0;
    width: 70%
}
#featured a img {
  width: 100%
}
#featured .ui-tabs-panel .info {
    background: url("../images/bluegbg-75.png") repeat scroll 0 0 transparent;
    bottom: 0;
    height: 90px;
    left: 0;
    position: absolute;
    width: 70%;
    z-index: 10;
}

#featured .ui-tabs-panel .info h3 {
    margin: 10px 10px 0 20px;
}

#featured .ui-tabs-panel .info h3 a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

#featured .ui-tabs-panel .info p {
    color: #FFFFFF;
    margin: 0 20px;
    width: 90%;
}

#featured .ui-tabs-hide {
    display: none;
}

#featured ul.ui-tabs-nav a:hover {
    background-color: #D9D9D9;
    text-decoration: none !important;
}

#featured li.count-4 a {
    border-bottom: 0 none;
}
.node-eresource .field-teaser, .node-eresource .field-ding-eresource-availabilit {
    margin-bottom: 1em;
}
.node-eresource .field-link, .node-eresource .field-ding-eresource-availabilit {
    font-weight: bold;
}
.node-eresource .field-link span, .node-eresource .field-ding-eresource-availabilit span {
    font-weight: normal;
}
