#featured {
    background: none repeat scroll 0 0 #555;
    height: 240px;
    position: relative;
    width: 670px;
}

#featured ul.ui-tabs-nav {
    left: 447px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
    z-index: 20;
}

.ui-tabs-nav {
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    bottom: -1px;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1.1em;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

#featured ul.ui-tabs-nav li {
    border: medium none;
    color: #666666;
		border-right: 1px solid #666;
		
}

.ui-tabs-nav li.ui-tabs-selected {
    border-bottom-color: #FFFFFF;
}

#featured li.ui-tabs-nav-item a {
    background: url("../images/tab.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 43px;
    line-height: 17px;
    overflow: hidden;
    padding: 5px 0 0 20px;
    width: 202px;
}

#featured ul.ui-tabs-nav li.ui-tabs-selected a {
    background: url("../images/tab-active.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 43px;
    overflow: hidden;
    padding-top: 5px;
    width: 202px;
}

#featured .ui-tabs-panel .image {
    position: absolute;
    z-index: 1;
		top:0;
		left:0;
}

#featured .ui-tabs-panel .info {
    background: url("../images/bluegbg-75.png") repeat scroll 0 0 transparent;
    bottom: 0;
    height: 90px;
    left: 0;
    position: absolute;
    width: 460px;
    z-index: 10;
}

#featured .ui-tabs-panel .info h3 {
    margin: 10px 10px 0 20px;
}

#featured .ui-tabs-panel .info h3 a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

#featured .ui-tabs-panel .info p {
    color: #FFFFFF;
    margin: 0 20px;
}

#featured .ui-tabs-hide {
    display: none;
}
