.facetbrowser_overlay {
  z-index: 10000;
  filter: alpha(opacity=50); /*older IE*/
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
  -moz-opacity: .50; /*older Mozilla*/
  -khtml-opacity: 0.5;   /*older Safari*/
  opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
  background-color:#000000;
  position:fixed; top:0px; left:0px; width:100%; height:100%; color:#FFFFFF; text-align:center; vertical-align:middle;
}

.facetbrowser_overlay .spinner {
  z-index:10001;
  position:fixed; top:0px; left:0px; width:100%; height:100%; color:#FFFFFF; text-align:center; vertical-align:middle;
  background: transparent url(../img/spinner.gif) no-repeat 50% 50%;
}
