ul.ui-autocomplete { z-index:100 !important;max-width:300px;}
  ul.ui-autocomplete li { text-align: left;}
    ul.ui-autocomplete li a { font-size: 14px; }

/*.form-item-search-block-form .spinner{*/
  /*background: url(../img/spinner.gif)  240px 4px no-repeat ;*/
  /*position: absolute;*/
/*}*/

