#ting-field-search-wrapper .action-links {
  margin-top: 0;
}

#ting-field-search-wrapper .fieldset-legend {
  background: none;
}

#ting-field-search-profiles {
  margin: 0 0 0.5em 0;
}

#ting-field-search-profiles a {
  display: inline-block;
}


#ting-field-search-profile-form-add #edit-facets-import {
  margin-bottom: 0.5em;
}
