.form-item-search-block-form #autocomplete {
  z-index: 5000;
  color: pink;
}


input#edit-search-block-form--2.spinner {
  background-image: url(../img/spinner.gif);
  background-repeat: no-repeat;
  background-position: 240px 5px;
}

