/* ==========================================================================
   ting search carousel styling
   ========================================================================== */
/* Compass includes
   ========================================================================== */
/* Mixins
   ========================================================================== */
/* RGBa background (https://gist.github.com/1949202) */
/* Variables
   ========================================================================== */
/* Spacing used to position arrows, below the carousel etc. */
/* Max width and height for the cover images */
/* Colors */
/* Text */
/* Tabs */
.rs-carousel {
  margin-bottom: 20px;
}

.rs-carousel,
.rs-carousel-mask,
.rs-carousel-runner {
  position: relative;
}

.rs-carousel-mask,
.rs-carousel-runner {
  overflow: hidden;
}

.ui-state-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Pagination and previous and next buttons
   ========================================================================== */
.rs-carousel-pagination {
  display: none;
}

.rs-carousel-action-prev,
.rs-carousel-action-next {
  background-image: url("../images/arrows.png");
  height: 41px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 30%;
  width: 41px;
}

.rs-carousel-action-prev {
  left: 25%;
}

.rs-carousel-action-next {
  background-position: right 0;
  right: 20px;
}

.rs-carousel-action-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}

.rs-carousel-disabled .rs-carousel-action-prev,
.rs-carousel-disabled .rs-carousel-action-next {
  display: none;
}

/* Carousel content, mask, title etc.
   ========================================================================== */
.rs-carousel-inner {
  background-color: rgba(0, 0, 0, 0.1);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
  min-height: 170px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.rs-carousel-inner .ajax-loader {
  background: transparent url("../images/ajax-loader.gif") no-repeat right top;
  left: 53%;
  height: 20px;
  position: absolute;
  top: 34%;
  width: 220px;
}

.rs-carousel-title,
.rs-carousel-mask,
.rs-carousel-mask ul {
  display: inline-block;
  vertical-align: top;
}

.rs-carousel-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 100%;
  max-width: 30%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 70px;
}

.rs-carousel-mask {
  max-height: 185px;
  max-width: 70%;
  position: absolute;
  right: 3%;
}

.rs-carousel-mask ul {
  margin: 0;
  list-style: none;
}

.rs-carousel-mask ul li {
  float: left;
  max-width: 100px;
  padding-right: 20px;
  text-align: center;
}

.rs-carousel-item-image {
  background-color: rgba(0, 0, 0, 0.1);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
}

.rs-carousel-item-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.rs-carousel-item-title {
  display: block;
  padding-top: 5px;
}

/* If description is not displayed make sure the mask and prev button a
   positioned correct */
.rs-carousel-compact .rs-carousel-mask {
  max-width: 94%;
}
.rs-carousel-compact .rs-carousel-action-prev {
  left: 2%;
}

/* Carousel tabs
   ========================================================================== */
.rs-carousel-tabs ul {
  margin: 0;
  position: relative;
  text-align: center;
}

.rs-carousel-tabs ul li {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  display: table-cell;
  min-width: 10%;
  /* Appearantly this make them have equal width in Firefox */
  vertical-align: top;
  text-align: center;
}

.rs-carousel-tabs ul li a {
  background-color: white;
  display: block;
  padding: 20px 40px;
}

.rs-carousel-tabs ul li.active {
  border-color: #404040;
}

.rs-carousel-tabs ul li.active a {
  background-color: rgba(0, 0, 0, 0.75);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
  color: white;
  position: relative;
}

/* Create the active arrow using a pseudo element */
.rs-carousel-tabs ul li.active a:before {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #404040;
  height: 0;
  margin-left: -4px;
  left: 50%;
  position: absolute;
  top: -9px;
  width: 0;
}

/* Mediaqueries
   ========================================================================== */
@media screen and (max-width: 960px) {
  .rs-carousel-inner {
    min-height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .rs-carousel-inner .ajax-loader {
    left: 35%;
  }

  .rs-carousel-title {
    display: block;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    max-width: 94%;
  }

  .rs-carousel-mask {
    max-width: 94%;
  }

  .rs-carousel-action-prev {
    left: 20px;
  }

  .rs-carousel-action-prev,
  .rs-carousel-action-next {
    top: 35%;
  }

  .rs-carousel-tabs ul li a {
    padding: 20px 10px;
  }

  .rs-carousel-compact .rs-carousel-inner {
    min-height: 200px;
  }
  .rs-carousel-compact .rs-carousel-action-prev,
  .rs-carousel-compact .rs-carousel-action-next {
    top: 25%;
  }
}
