div.pane-ding-toggle-format-toggle div.pane-content {
  padding-top: 0;
  padding-bottom: 0;
}

.pane-ding-toggle-format-toggle {
  margin-top: -8px;
}

.pane-ding-toggle-format-toggle span.ding-toggle-format-label {
  display: inline-block;
  width: auto;
  margin-left: 10px;
}

a#ding-toggle-format {
  width: 150px;
  display: inline-flex;
}

.pane-ding-toggle-format-toggle #ding-toggle-format:before {
  content: "\ea7a";
  font-family: 'icomoon';
}

.pane-ding-toggle-format-toggle #ding-toggle-format:after {
  content: "\e9ba";
  font-family: 'icomoon';
}

.page-ting-object .pane-ding-toggle-format-toggle {
  width: 800px;
  margin: 0 auto;
  background: transparent;
  padding-left: 88px;
  margin-top: 32px;
  margin-bottom: -30px;
}

@media (min-width: 812px) and (max-width: 1024px) {
  .page-ting-object .pane-ding-toggle-format-toggle {
    width: 500px;
    margin: 0 auto;
    background: transparent;
    padding-left: 0;
    margin-top: 32px;
    margin-bottom: -30px;
  }
}

@media (min-width: 768px) and (max-width: 812px) {
  .page-ting-object .pane-ding-toggle-format-toggle {
    width: 500px;
    margin: 0 auto;
    background: transparent;
    padding-left: 50px;
    margin-top: 32px;
    margin-bottom: -30px;
  }
}

.pane-ding-toggle-format-toggle #ding-toggle-format:before,
.pane-ding-toggle-format-toggle #ding-toggle-format:after {
  color: #bcbcbc;
  display: inline-block;
  font-family: "icomoon";
  font-size: 100%;
  height: 20px;
  margin-top: 5px;
  text-decoration: none;
  width: 20px;
  padding-left: 10px;
  z-index: 10;
}
