// We temporary @extend .list-compact to make sure we don't break the styling

// @TODO: Remove all uses of class="list simple".
.list.simple {
  @extend .list-compact;
}


// We temporary @extend .list-image to make sure we don't break the styling
// already used.

// @TODO: Remove all uses of class="list floated".
.list.floated {
  @extend .list-image;
}


.nav {
  @include rem('font-size', $navbar-font-size);

  display: table;
  width: 100%;

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
    width: auto;
  }

  &.nav-inline {
    @include ie-gradient-fix($navbar-bg-color);

    @include border-radius(4px);
    @include background-image(linear-gradient($navbar-bg-color, darken($navbar-bg-color, 2%)));

    margin: 0;
    li {
      @include ie-gradient-fix($navbar-bg-color);
      @include background-image(linear-gradient(darken($navbar-bg-color, 10%), $navbar-bg-color));

      border-left: 1px solid darken($navbar-bg-color, 15%);
      display: table-cell;
      text-align: center;

      &:hover {
        @include ie-gradient-fix(darken($navbar-bg-color, 10%));
        @include background-image(linear-gradient(darken($navbar-bg-color, 15%), darken($navbar-bg-color, 5%)));
      }

      a {
        border-left: 1px solid lighten($navbar-bg-color, 3%);
        color: $navbar-text-color;
        display: block;
        height: 100%;
        min-width: 100px;
        padding: $navbar-item-spacing;
        text-decoration: none;
        &:hover {
          color: lighten($navbar-text-color, 75%);
        }
      }

      &.first,
      &.first.active {
        @include border-radius(4px 0 0 4px);

        border-left: 0;

        a {
          border-left: 0;
        }
      }

      &.last {
        @include border-radius(0 4px 4px 0);


        a,
        &.active a {
        }
      }

      &.active {
        @include ie-gradient-fix(darken($navbar-bg-color, 10%));
        @include background-image(linear-gradient(darken($navbar-bg-color, 15%), darken($navbar-bg-color, 25%)));

        border-left: 1px solid lighten($navbar-bg-color, 3%);

        &:hover {
          @include ie-gradient-fix(darken($navbar-bg-color, 15%));
          @include background-image(linear-gradient(darken($navbar-bg-color, 20%), darken($navbar-bg-color, 30%)));
        }

        a {
          border-left: 1px solid darken($navbar-bg-color, 15%);
          border-right: 0;
        }
      }
    }
  }
}