.list-calendar {
  @extend %list;
  
  i[class^=icon] {
    margin-right: 5px;
  }

  .list-date-wrapper {
    display: inline-block;
    margin-right: 5px;
    min-width: 60px;

    color: lighten($text-primary-color, 25%);
    text-align: center;
    vertical-align: top;

    .list-day {
      background-color: $theme-secondary-color;
      color: $white;
    }
    .list-date-wrapper-inner {
      background: $theme-primary-color;
      border: 1px solid lighten($black, 85%);

      .list-date {
      }
    }
  }

  .list-content {
    display: inline-block;
    margin-top: 0;
  }
}