// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//
%grid-inner-padding {
  padding: $default-spacing;
}


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Layout template for 3 column panel layout delivered by ding_frontend
// Left and Right sidebar content is optional
// This template extends on ddbasic displays and ddbasic displays
// -----------------------------------------------------------------------------
.ding-default-layout {
  .attachments-wrapper {
    @include zen-grid-container;
    @include zen-clear();

    margin-bottom: $default-spacing;

    .grid-inner {
      @extend %grid-inner-padding;
    }
  }

  .attachments-4-4 {
    @include attachment-25-25-25-25;
  }

  .attachments-3-3 {
    @include attachment-33-33-33-100;
  }

  .attachments-2-2 {
    @include attachment-50-50-100-100;
  }

  .attachments-1-1 {
    @include attachment-100-100-100-100;
  }
}

.sidebars {
  @include medium() {
    @include display-25-50-25;
  }

  @include large() {
    @include display-25-50-25;
  }

  .grid-inner {
    @extend %grid-inner-padding;
  }
}

.empty-sidebars {
  @include medium() {
    @include display-100-50-50;
  }

  @include large() {
    @include display-100-50-50;
  }

  .grid-inner {
    @extend %grid-inner-padding;
  }
}

.left-sidebar {
  @include medium() {
    @include ddbasic-display-33-66-secondary;
  }

  @include large() {
    @include ddbasic-display-33-66-secondary;
  }

  .grid-inner {
    @extend %grid-inner-padding;
  }
}

.right-sidebar {
  @include medium() {
    @include ddbasic-display-66-33-tertiary;
  }

  @include large() {
    @include ddbasic-display-66-33-tertiary;
  }

  .grid-inner {
    @extend %grid-inner-padding;
  }
}

// -----------------------------------------------------------------------------
// Layout template for ding frontpage layout 1 by ding_frontend
// Top and main content are required
// This template extends on ddbasic displays and ddbasic displays
// -----------------------------------------------------------------------------

.ding-layout-1 {
  @include display-100-50-50;

  .grid-inner {
    @extend %grid-inner-padding;
  }

  // specific rule for primary content because carousel is inserted.
  .primary-content {
    .grid-inner {
      padding: 0;
      background-color: transparent;
    }
  }

  .attachments-wrapper {
    @include zen-grid-container;

    margin-bottom: $default-spacing;

    .grid-inner {
      @extend %grid-inner-padding;
    }
  }

  .attachments-4-4 {
    @include attachment-25-25-25-25;
  }

  .attachments-3-3 {
    @include attachment-33-33-33-100;
  }

  .attachments-2-2 {
    @include attachment-50-50-100-100;
  }

  .attachments-1-1 {
    @include attachment-100-100-100-100;
  }
}

