// =============================================================================
// Tables (orignally based on Twitter bootstrap).
//
// Provide default styling for HTML tables.
// =============================================================================


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
$table-border-radius: $default-spacing / 5;


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------


// **
// Base tables
// **
//
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  // Use baseline styling as default for tables
  @extend .table;
}


// **
// Baseline styling
// **
//
.table {
  width: 100%;

  th,
  td {
    border-top: 1px solid $gray;
    padding: $default-spacing / 2;

    text-align: left;
    vertical-align: top;
  }

  th {
    font-family: $font-bold;
    font-weight: $theme-font-weight-bold;
    padding-top: $default-spacing / 2;
    padding-right: $default-spacing / 2;
    padding-bottom: $default-spacing / 2;
    padding-left: $default-spacing / 2;
  }

  thead th {
    vertical-align: bottom;
  }

  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }

  tbody + tbody {
    border-top: 2px solid $gray;
  }
}

// **
// Condensed table w/ half padding
// **
//
.table-condensed {
  th,
  td {
    padding: $default-spacing / 6;
  }
}

// **
// Bordered version
// **
//
.table-bordered {
  @include border-radius($default-spacing / 5);

  border: 1px solid $gray;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapsed; // IE7 can't round corners anyway
  border-left: 0;

  th,
  td {
    border-left: 1px solid $gray;
  }

  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }

  thead:first-child tr:first-child th:first-child,
  tbody:first-child tr:first-child td:first-child {
    @include border-radius($table-border-radius 0 0);
  }

  thead:first-child tr:first-child th:last-child,
  tbody:first-child tr:first-child td:last-child {
    @include border-radius(0 $table-border-radius 0 0);
  }

  thead:last-child tr:last-child th:first-child,
  tbody:last-child tr:last-child td:first-child {
    @include border-radius(0 0 0 $table-border-radius);
  }
  thead:last-child tr:last-child th:last-child,
  tbody:last-child tr:last-child td:last-child {
    @include border-radius(0 $table-border-radius 0 0);
  }
}

// **
// Zebra-striping.
// **
//
.table-striped {
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background-color: $gray-lighter;
    }
  }
}

// **
// Hover effect.
// **
//
// Placed here since it has to come after the potential zebra striping.
//
.table {
  tbody tr:hover td,
  tbody tr:hover th {
    background-color: $gray-light;
  }
}


// **
// MEDIAQUERIES
// **


// Extend on this in your mediaqueries to decrease padding for tables
//
// How to use in your display:
// @include medium() {
//   .table {
//     @extend %small-medium-table;
//   }
// }
%small-medium-table {
  padding: 0;
}
