// =============================================================================
// Link styling
// =============================================================================
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//

// **
// Tag links
// **
//
.signature .tags a {
  display: inline-block;
  margin-right: 0.3em;
}

.signature .tags a:not(:last-child):after {
  content: ",";
}
