// =============================================================================
// This file holds all the variables for the DDBasic theme
// =============================================================================
//


// -----------------------------------------------------------------------------
// Basic settings: Grid, spacing etc.
// -----------------------------------------------------------------------------
//
$grid-max-width:                  1200px !default;
$grid-column-count:               12 !default;

$default-spacing:                 20px !default;


// -----------------------------------------------------------------------------
// Standard color definitions
// -----------------------------------------------------------------------------
//
$white:                           #fff    !default;
$black:                           #000    !default;
$gray:                            #999 !default;
$gray-light:                      lighten($gray, 5%) !default;
$gray-lighter:                    lighten($gray, 10%) !default;
$gray-dark:                       darken($gray, 20%) !default;
$gray-darker:                     darken($gray, 40%) !default;


// -----------------------------------------------------------------------------
// Theme color definitions
// -----------------------------------------------------------------------------
//
$theme-primary-color:             #fff !default;
$theme-secondary-color:           #00b7e7 !default;
$theme-content-background:        #fff !default;


// -----------------------------------------------------------------------------
// Font variables
// -----------------------------------------------------------------------------
//
$theme-font-size:                 15px !default;
$theme-line-height:               18px !default;
$theme-font-family:               "Helvetica Neue", Helvetica, Arial, sans-serif !default;


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
//
$font-weight-light:               300;
$font-weight-regular:             400;
$font-weight-bold:                700;
$font-color-primary:              #d1e02b;


// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
//
$link-color:                      #295586;
$link-color-hover:                darken($link-color, 20%);
$link-color-inverted:             #fff;
$link-color-inverted-hover:       darken($link-color-inverted, 20%);
$link-color-special:              #4d1500;
$link-color-special-hover:        darken($link-color-special, 20%);


// -----------------------------------------------------------------------------
// Blocks
// -----------------------------------------------------------------------------
//
$block-bg:                        #fff;
$block-bg-transparency:           1;
$block-color:                     #000;
$block-bg-inverted:               #d1e02b;
$block-color-inverted:            #fff;
$block-border:                    12px;


// -----------------------------------------------------------------------------
// Sections
// -----------------------------------------------------------------------------
//
$section-bg:                      #000;
$section-bg-transparency:         .85;
$section-color:                   #fff;
$section-bg-inverted:             #fff;
$section-color-inverted:          #000;


// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------
//
$form-button-text-color:          #fff;
$form-button-bg-color:            lighten(#000, 15%);

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
//
$button-bg-color:                 $form-button-bg-color;
$button-primary-bg-color:         #ff5200;
$button-success-bg-color:         #60a500;
$button-warning-bg-color:         #f6d346;
$button-danger-bg-color:          #bf3600;
$button-info-bg-color:            #73b4e0;
$button-border-radius:            12px;


// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------
//
$navbar-bg-color:                 transparentize($white,0.95);
$navbar-bg-active-color:          transparentize($white,0.95);
$navbar-text-color:               lighten($black, 30%);
$navbar-text-color-active:        lighten($black, 30%);
$navbar-item-spacing:             $default-spacing / 2 !default;

