// =============================================================================
// This file holds all the variables for the DDBasic theme
// =============================================================================
//


// -----------------------------------------------------------------------------
// Basic settings: Grid, spacing etc.
// -----------------------------------------------------------------------------
//
$grid-max-width:                  1200px;
$grid-column-count:               12;

$default-spacing:                 20px;

$box-sizing-polyfill-path:        "/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc";


// -----------------------------------------------------------------------------
// Theme color definitions
// -----------------------------------------------------------------------------
//
$theme-primary-color:             #fff;
$theme-secondary-color:           #00b7e7;
$theme-content-background:        #fff;
$theme-border-radius:             12px;


// -----------------------------------------------------------------------------
// Font library
// -----------------------------------------------------------------------------
//
$theme-icon-library-font:         FontAwesome;


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
//
$font-light:                      "SourceSansProLight";
$font-light-italic:               "SourceSansProLightItalic";
$font-regular:                    "SourceSansProRegular";
$font-regular-italic:             "SourceSansProItalic";
$font-bold:                       "SourceSansProSemibold";
$font-bold-italic:                "SourceSansProSemiboldItalic";
$font-color-primary:              transparentize($black, .2);;


// -----------------------------------------------------------------------------
// Font variables
// -----------------------------------------------------------------------------
//
$theme-font-size:                 15px;
$theme-line-height:               24px;
$theme-font-family:               $font-light, "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
$theme-font-weight-normal:        normal;
$theme-font-weight-bold:          normal;
$theme-font-selection-color:      $font-color-primary;
$theme-font-selection-background: $gray;

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
//
$link-color:                      #00b7e7;
$link-color-hover:                darken($link-color, 20%);
$link-color-inverted:             #fff;
$link-color-inverted-hover:       darken($link-color-inverted, 15%);
$link-color-special:              #4d1500;
$link-color-special-hover:        darken($link-color-special, 20%);


// -----------------------------------------------------------------------------
// Blocks
// -----------------------------------------------------------------------------
//
$block-bg:                        #3399ff;
$block-bg-transparency:           .9;
$block-color:                     #fff;
$block-bg-inverted:               #fff;
$block-color-inverted:            #3399ff;
$block-border:                    12px;


// -----------------------------------------------------------------------------
// Sections
// -----------------------------------------------------------------------------
//
$section-bg:                      #000;
$section-bg-transparency:         .85;
$section-color:                   #fff;
$section-bg-inverted:             #fff;
$section-color-inverted:          #000;


// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------
//
$navbar-bg-color:                 transparentize($white, .95);
$navbar-bg-active-color:          transparentize($white, .95);
$navbar-text-color:               lighten($black, 30%);
$navbar-text-color-active:        lighten($black, 30%);
$navbar-item-spacing:             $default-spacing / 2;
