// =============================================================================
// Search
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//

$search-border-size: 1px;
$search-border-type: solid;


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//

%search-ting-cover {
  @extend .pull-left;

  position: relative;
  width: 10%;
  min-height: 100px;
  z-index: 1;

  // Insert a background with image missing icon
  &:after {
    content: "";
    background: url("../images/image-missing.png");
    @include opacity(0.3);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100px;
  }
}


// -----------------------------------------------------------------------------
// Markup overrides
// -----------------------------------------------------------------------------
//
input#edit-search-block-form--2.spinner {
  background-image: none;
}

// Override Drupal system style
.pane-ding-facetbrowser input.form-checkbox {
  vertical-align: bottom;
}
.pane-ding-facetbrowser label.option {
  font-weight: inherit;
}

// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
%search {
  i[class^="icon-"] {
    @include opacity(.25);

    margin-left: 15px;
    position: absolute;

    font-size: $theme-font-size * 2;

    top: 15px;
    z-index: 10;
  }

  input[type="text"] {
    @include rem('font-size', $theme-font-size * 1.7);
    @include box-sizing(border-box);
    @include border-radius(12px);

    display: inline;
    padding-top: 0;
    padding-right: 120px;
    padding-bottom: 0;
    padding-left: 48px;

    border: 0;

    min-height: 60px;

    left: 0;
    width: 100%;

  }

  input[type="submit"] {
    @extend %button;

    position: absolute;
  }

  .spinner {
    i[class^="icon-"] {
      @extend .icon-spin;
      @extend .icon-spinner;

      font-size: $theme-font-size * 1.5;
      margin-left: 17px;
      top: 22px;
    }
  }
}


.search {
  @include zen-grid-item($grid-50, 1);
  @extend %header-sections;
  @extend %search;

  border-right: 1px solid transparentize($black, .9);

  padding-right: 0;

  .search-field-wrapper {
    margin-right: 40px;
  }

  .form-item {
     margin-top: 0em;
  }

  input[type="submit"] {
    min-height: 60px;
    right: 38px;
    top:0;
  }

  .help-link {
    @extend .pull-right;

    display: block;
    margin-top: $default-spacing / 2;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}


.search-compact {
  @extend %search;

  margin-top: 17px;
  position: absolute;
  right: 160px;

  .search-field-wrapper {
    min-width: 400px;
    position: relative;
  }

  input[type="text"] {
    @include rem('font-size', $theme-font-size * 1.5);

    min-height: 50px;
  }

  input[type="submit"] {
    @include rem('font-size', $theme-font-size * 1.4);
    @extend %button;

    background-color: $font-color-primary;
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    right: -2px;
    top:0;
  }

  i[class^="icon-"] {
    @include rem('font-size', $theme-font-size * 1.5);
    @include opacity(.25);

    margin-left: 15px;
    position: absolute;

    top: 13px;
  }
}

// **
// Facet browser styling
// **
//
.pane-ding-facetbrowser {

  // General link rules for facet browser.
  a:link {
    text-decoration:none;
  }
  a:visited {
    color: $link-color;
  }

  // Facetbrowser title.
  h2 {
    @extend .text-largest;
    margin-bottom: $default-spacing;
  }

  legend {
    line-height: inherit;
    padding-top: $default-spacing;
    padding-bottom: $default-spacing / 2;
  }

  // Specific font color for headings and result count.
  h2,
  .fieldset-legend,
  .count {
    color: $gray-darker;
  }

  // Facet group spacing.
  .form-wrapper {
    margin-bottom: $default-spacing;
    .fieldset-wrapper {
      .form-checkboxes .form-item {
        margin: 0;
      }
    }
  }


  // Facet title.
  .fieldset-legend {
    @extend .text-larger;
  }

  // Expand facets link.
  .expand {
    margin-right: $default-spacing / 2;

    &:before {
      font-family: "FontAwesome";
      padding-right: $default-spacing / 4;
      text-decoration: none;
      font-size: 1.1em;
    }
  }
  .expand-more {
    @extend .icon-plus-sign;
    @extend .pull-left;
    display: block;
    margin-top: $default-spacing;
  }
  .expand-less {
    @extend .icon-minus-sign;
    @extend .pull-left;
    display: block;
    margin-top: $default-spacing;
  }

  // Group for selected facets.
  .selected-checkbox-group {
    overflow: hidden;
    margin-bottom: $default-spacing;

    .selected-checkbox {
      background-color: $gray-light;
      padding: $default-spacing / 4;
    }

    .unselect {
      @extend .expand;
      @extend .pull-right;
      @extend .icon-remove-sign;

      margin-top: $default-spacing / 2;
    }
  }

  // Group for unselected facets.
  .unselected-checkbox-group {
    clear: right;
  }

  // Group with hidden facets.
  .hidden-facets-group {
    margin-bottom: $default-spacing;
  }

  .expand-facets {
    @extend .expand;
    display: block;
    text-align: right;
    margin: 0;
    padding-top: $default-spacing;
    margin-top: $default-spacing / 2;
    border-top: $search-border-size $search-border-type $gray;
  }
  .expand-facets-visible {
    @extend .icon-minus-sign;
  }
  .expand-facets-hidden {
    @extend .icon-plus-sign;
  }
}

// **
// Search results list
// **
//

// Search query & results amount
// Combine these as a page title
.pane-ting-search-search-display-extended-query {
  @extend .pull-left;
  overflow: hidden;
  margin-bottom: $default-spacing;

  #search-query-display {
    @extend .text-largest;

    #search-query-label {
      color: $gray-darker;
    }

    #search-query-string {
      color: $black;
    }
  }
}
.pane-ting-search {
  @extend .pull-right;

  .ting-search-amount-block {
    @extend .text-larger;
    color: $gray-darker;
  }
}

// Sorting, display amount and display format groups
// Combine these as a group floating left and right
.pane-ting-search-sort-form {
  clear: both;
  @extend .pull-left;
  overflow: hidden;
  color: $gray-darker;

  .form-item {
    margin: 0;
  }

  label {
    display: inline;
    margin-right: $default-spacing / 4;
  }

  .description {
    color: $gray-dark;
    text-align: right;
  }

}
.pane-ting-search-records-per-page {
  @extend .pull-right;
  overflow: hidden;
  color: $gray-darker;
  margin-left: $default-spacing;

  a {
    margin-left: $default-spacing / 2;
    padding-right: $default-spacing / 2;
    border-right: $search-border-size $search-border-type $link-color-hover;
    text-decoration: underline;

    &.selected {
      font-weight: bold;
      color: $link-color-hover;
      text-decoration: none;
    }
    &:last-child {
      border-right: none;
    }
  }
}
.pane-ding-toggle-format-toggle {
  @extend .pull-right;
  @extend .pane-ting-search-records-per-page;

  #ding-toggle-format-image {
    height: 0;
  }
}

// Availability explaination legend
.pane-ding-availability-legend {
  clear: both;
  overflow: hidden;

  .availability-legend {
    @extend .pull-right;
    border: none;
    padding: 0;

    .availability-legend-item {
      margin: 0;
      margin-left: $default-spacing / 2;

      .availability-label {
        @extend .text-smallest;
        font-weight: normal;
        color: $gray-darker;
      }
    }
  }
}

// **
// Seach results list
// **
//
.pane-search-result {
  clear: both;
  overflow: hidden;
  padding-top: $default-spacing;

  .search-results {
    padding-top: $default-spacing;
    border-top: $search-border-size $search-border-type $gray;

    .list {
      @extend %list;

      .list-item {
        background-color: $gray-light;
        padding: $default-spacing;
      }

      .heading {
        margin-bottom: $default-spacing / 2;
        margin-left: 10%;
        padding-left: $default-spacing;
      }

      .ting-cover {
        @extend %search-ting-cover;
      }

      .content,
      .field {
        margin-left: 10%;
        margin-bottom: $default-spacing / 2;
        padding-left: $default-spacing;
      }

      .subjects {
        margin-bottom: 0;
        padding-bottom: $default-spacing;

        // Sorry I will die in hell for this
        strong {
          font-weight: inherit;
        }

        a {
          margin-right: $default-spacing / 4;
        }
      }

      .availability {
        margin-bottom: 0;

        ul {
          @extend %list;

          li {
            display: inline-block;
            margin-bottom: $default-spacing / 4;
            padding: 0;

            &.pending {
              @extend %availability-pending;
            }

            &.availability.processed {
              @extend %availability-processed;
            }

            &.availability.available {
              @extend %availability-available;
            }

            &.availability.reservable {
              @extend %availability-reservable;
            }

            &.availability.available.reservable {
              @extend %availability-available-reservable;
            }

            .availability-status {
              &:before {
                content: " - ";
              }
            }
          }
        }
      }

      // Compact search result display
      .ding-format-short {
        .ting-cover,
        .content,
        .field {
          display: none;
        }

        // Display the author
        .heading + div.content {
          display: inline;
          margin-left: $default-spacing / 4;
        }

        .heading,
        .content,
        .field {
          margin-left: 0;
          padding-left: 0;
        }

        .heading {
          display: inline;

          h2 {
            display: inline;
          }
        }

        .subjects {
          display: none;
        }

        .availability {
          clear: both;
          display: block;
          margin-top: $default-spacing;

          li {
            display: inline;
          }
        }
      }
    }
  }
}

// **
// Collection display
// **
//

// Navigation
.pane-ting-ting-collection-types {
  ul {
    @extend %list;

    li {
      margin-bottom: $default-spacing / 2;
      padding-bottom: default-spacing / 2;
    }

    .last {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.pane-ting-collection {
  
  h2 {
    margin-bottom: $default-spacing;
    margin-top: $default-spacing * 2;

    &:first-child {
      margin-top: 0;
    }
  }

  .ting-cover {
    @extend %search-ting-cover;
  }

  .view-mode-collection-list {
    background-color: $gray-light;
    margin-bottom: $default-spacing;
    padding: $default-spacing;
  }

  .field {
    margin-left: 10%;
    padding-left: $default-spacing;
    margin-bottom: $default-spacing / 2;
  }
  .field-name-ting-entities {
    margin: 0;
    padding: 0;
  }

  .field-name-ting-title {
    h2 {
      margin-top: 0;
    } 
  }

  .subjects {
    // Sorry I will die in hell for this
    strong {
      font-weight: inherit;
    }

    a {
      margin-right: $default-spacing / 4;
    }
  }

  .field-name-ting-type {
    @extend .pull-right;

    li {
      list-style: none;

      &.pending {
        @extend %availability-pending;
      }

      &.availability.processed {
        @extend %availability-processed;
      }

      &.availability.available {
        @extend %availability-available;
      }

      &.availability.reservable {
        @extend %availability-reservable;
      }

      &.availability.available.reservable {
        @extend %availability-available-reservable;
      }
    }
  }

  .field-name-ding-entity-buttons {
    @extend .pull-right;

    margin: 0;

    form,
    .ding-entity-button {
      @extend .pull-left;
    }

    .ding-entity-button {
      a {
        color: $form-button-text-color;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .form-actions {
      margin: 0;
      margin-right: $default-spacing / 2;
    }
  }

  .form-submit,
  .ding-entity-button {
    @extend %button;
    @include border-radius($button-border-radius / 2);

    padding: 6px;

  }
}

// **
// Object display
// **
//

// Navigation
.pane-ting-ting-object-types {
  @extend .pane-ting-ting-collection-types;

  margin-bottom: $default-spacing;

  .pane-title {
    @extend .text-largest;

    color: $gray-darker;
    margin-bottom: $default-spacing;
  }
}

.pane-ting-ting-relation-anchors {
  @extend .pane-ting-ting-object-types;

  margin-bottom: 0;
}

.pane-ting-object {
  @extend .pane-ting-collection;

  .ting-cover {
    width: 25%;
    min-height: 250px;
  }

  .field {
    margin: 0;
    padding: 0;
    margin-bottom: $default-spacing / 2;
  }

  .field-name-ting-title,
  .field-name-ting-author,
  .field-name-ting-abstract,
  .subjects {
    margin-left: 25%;
    padding-left: $default-spacing;
  }

  .subjects {
    // forget that clearfix
    &:after {
      clear: none;
    }
  }

  .group-material-details {
    clear: both;
    padding-top: $default-spacing;

    .field-label {
      width: 25%;
      min-width: 200px;
      margin-right: $default-spacing / 2;
    }
  }

  .field-name-ting-series {
    @extend .group-material-details;

    padding-top: 0;
  }

  .field-name-ding-availability-holdings {
    clear: both;

    ul {
      @extend %list;

      padding: $default-spacing;
      background-color: $gray-light;

      li {
        border: none;
        padding: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .holdings {
      border-top: $search-border-size $search-border-type $gray;
      margin-top: $default-spacing;
      padding-top: $default-spacing;
      margin-bottom: 0;
    }

    .holdings:empty {
      margin: 0;
      padding: 0;
    }
  }

  .ting-relation {
    clear: both;
    margin-top: $default-spacing;
    margin-bottom: 0;
    background-color: transparent;

    &>div {
      padding-left: $default-spacing;
      padding-right: $default-spacing;
      padding-top: $default-spacing / 2;
      margin: 0;
      overflow: hidden;
      background-color: $gray-light;

      &.clearfix {
        padding: 0;
      }

      &:last-child {
        padding-bottom: $default-spacing;
      }

      ul {
        margin: 0;
      }

      p:empty {
        margin: 0;
      }
    }

    .meta {
      padding: $default-spacing;
      padding-bottom: $default-spacing / 2;
      border: none;
    }
  }
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
