// =============================================================================
// DDBasic mockups styling.
//
// Specific styling for mockup pages.
// =============================================================================
//


// =============================================================================
// EXTENDS
// =============================================================================


// -----------------------------------------------------------------------------
// Search
// -----------------------------------------------------------------------------
//
%search {
  i[class^="icon-search"] {
    @extend %inline-icons;

    top: 17px;
    z-index: 10;
  }

  input[type="text"] {
    @include rem('font-size', $theme-font-size * 1.7);
    @extend %inline-icon-input;

    min-height: 60px;

    left: 0;
    width: 100%;
  }

  input[type="submit"] {
    @extend %button;

    position: absolute;
  }
}


.search {
  @include zen-grid-item($grid-50, 1);
  @extend %header-sections;
  @extend %search;

  border-right: 1px solid $link-color;

  padding-right: 0;

  .search-field-wrapper {
    margin-right: 50px;
  }

  input[type="submit"] {
    min-height: 60px;
    right: 48px;
    top:0;
  }

  .help-link {
    @extend .pull-right;

    display: block;
    margin-top: $default-spacing / 2;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}


.search-compact {
  @extend %search;

  margin-top: 10px;
  position: absolute;
  right: 160px;

  .search-field-wrapper {
    min-width: 400px;
    position: relative;
  }

  input[type="text"] {
    @include rem('font-size', $theme-font-size * 1.5);

    min-height: 30px;
    padding-top: 5px;
    padding-left: 40px;
  }

  input[type="submit"] {
    @include rem('font-size', $theme-font-size * 1.4);
    @extend %button;

    background-color: $font-color-primary;
    height: 40px;
    position: absolute;
    right: -2px;
    top:0;
  }

  i[class^="icon-"] {
    @include rem('font-size', $theme-font-size * 1.7);
    @extend %inline-icons;

    top: 13px;
  }
}


// -----------------------------------------------------------------------------
// Facet Browser
// -----------------------------------------------------------------------------
//
.facet-browser {

  h2 {
    @include rem('font-size', $theme-font-size * 1.2);
  }

  h2,
  legend,
  .count {
    color: darken($gray-darker, 5%);
  }

  .remove {
    float:right;
    color: $button-danger-bg-color;

    &:hover {
      color: darken($button-danger-bg-color, 15%);
    }
  }

  ul {

    padding: 1px 0 0;
    list-style: none;
  }

  li {
    @include rem('padding', $default-spacing / 6 $default-spacing / 2);

    margin-bottom: 1px;

    label {
      color: $font-color-primary;
    }
  }

  .checked {
    background: $gray-light;
  }

}


// -----------------------------------------------------------------------------
// Search Result
// -----------------------------------------------------------------------------
//
.search-result-block {
  @extend .block;

  h1 {
    @include rem('font-size', $theme-font-size * 1.5);

    color: $gray-darker;
  }

  h2 {
    @extend %link-special;
  }

  .search-term,
  .result-stats {
    color: $black;
  }

  .search-feed {
    @include zen-float(right);

    padding: .5em 0;
  }

  .filter {
    @include zen-clear();

    border-bottom: 1px solid darken($block-bg,15%);
    border-top: 1px solid darken($block-bg,15%);
    padding: 10px 0;
    margin: 10px 0;

    select {padding:10px;}

    .number-items {
      @include zen-grid-item($grid-33, 1);
    }

    .order-by {
      @include zen-grid-item($grid-33, 5);
    }

    .display-types {
      @include zen-grid-item($grid-33, 9);
    }
  }

  .item {
    background: darken($block-bg,5%);
    padding: 20px 10px;
    margin: 10px 0;
  }

  .cover {
    @include zen-grid-item(2, 1);
  }

  .description {
    @include zen-grid-item(6, 3);

    border-right: 1px solid darken($block-bg,15%);
  }

  .properties {
    @include zen-grid-item(3, 9);
    @include rem('padding-left', $default-spacing);
  }

  ul {
    margin-left:0;
    padding: 0;
    list-style: none;
  }

  .status {
    @include rem('font-size', $theme-font-size / 1.25);

    color: $gray-darker;
  }

  .more {
    @include border-radius($block-border);
    @include rem('font-size', $theme-font-size * 1.75);
    @include rem('margin-right', $default-spacing / 2);
    @extend .pull-right;

    display: block;
    padding: 90px 8px;
    width: 20px;

    background: darken($block-bg,30%);
    color: $white;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:active,
    &:focus {
      background: darken($block-bg,40%);
      color: darken($white,20%);
    }
  }
}