// =============================================================================
// Header
// =============================================================================
//


// =============================================================================
// VARIABLES
// =============================================================================
//


// =============================================================================
// EXTENDS
// =============================================================================
//
%header-sections {
	margin-top: 70px;
	margin-bottom: 70px;
  padding: 0;
  position: relative;
}

// =============================================================================
// DEFAULT STYLING
// =============================================================================
//

.header-wrapper {
  @extend .grid-wrapper;
  @include rgba-background($block-bg, $block-bg-transparency);

  margin-top: $topbar-min-height; // Defined in _ddbasic.layout.scss

  .header-inner {
    @extend .grid-inner;
  }
}


// =============================================================================
// MEDIAQUERIES
// =============================================================================
//
