// =============================================================================
// Drupal styling overrides
// =============================================================================
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//

ul li.leaf {
  list-style: none;
}

.pane-title,
.pane-menu-title {
  @extend .block-title;
}

// **
// Drupal specific buttons. Extends from _ddbasic.buttons.scss
// **
//
#edit-cancel {
  margin-left: .3em;
}


.form-item, .form-actions {
  margin-bottom: 0;
  margin-top: 0;
}


.form-submit,
#edit-cancel {
  @extend .button;
}



.feed-icon {
  height: 16px;

  img {
    max-width: 16px;
  }
}


.ajax-progress,
.ajax-progress-throbber {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  vertical-align: middle;
  text-align: center;
}

.ajax-progress .throbber {
  @extend .icon-spin;
  @extend .icon-spinner;

  background: none !important; // Make sure the Drupal throbber is not visible in IE
  color: #000;
  font-family: $theme-icon-library-font;
  font-size: 50px;
  height: auto;
  left: 48%;
  position: relative;
  top: 48%;
  width: 50px;
}

thead {
  th {
    background-color: darken($gray-light, 8%);
  }
}

tr.even {
  background-color: $gray-light;
}

tr.odd {
  background-color: darken($gray-light, 4%);
}


.field {
  .field-label {
    font-family: $font-bold;
    font-weight: $theme-font-weight-bold;
  }
}

.field-label {
  margin-right: $default-spacing /4;
}
