// =============================================================================
// Skeleton for scss files.
//
// This is a template for how a scss file should be structured.
// It is divided into sections:
// Variables, Default styling, Extends and Mediaqueries.
// =============================================================================


// =============================================================================
// VARIABLES
// =============================================================================


// =============================================================================
// DEFAULT STYLING
// =============================================================================


%block {
  @include border-radius($block-border);
  @include box-sizing(border-box);

  select {
    width: 100%;
  }

  i[class^="icon-"] {
    @extend %read-more-icon;
  }

  .block-content {
    padding: 20px;
  }

  .read-more {
    @extend %read-more-link;
  }
}


.block {
  @include box-shadow(inset 0 0 15px darken($block-bg, 10%));
  @include border-radius($block-border);
  @include box-sizing(border-box);
  @include rgba-background($block-bg, $block-bg-transparency);
  @extend %block;

  color: $block-color;
}


.block-inverted {
  @include box-shadow(inset 0 0 15px darken($block-bg-inverted, 10%));
  @include border-radius($block-border);
  @include box-sizing(border-box);
  @include rgba-background($block-bg-inverted, $block-bg-transparency);
  @extend %block;

  color: $block-color-inverted;

  h2 {
    color: $block-color-inverted;
    margin-top: 0;
  }

  i[class^="icon-"] {
    @extend %read-more-icon;

    color: $block-color-inverted;
  }

  .image {
    margin-bottom: $default-spacing;
  }

  .read-more {
    color: $block-color-inverted;
    text-decoration: underline;
  }
}


.blocks-wrapper {
  @include rgba-background($section-bg, $section-bg-transparency);
  @extend .grid-wrapper;

  padding-top: 30px;
  padding-bottom: 30px;
}


.blocks-wrapper-inverted {
  @include attachment-50-50-50-50;
  @include rgba-background($section-bg-inverted, $section-bg-transparency);
  @extend .blocks-wrapper;

  .block-title {
    color: $link-color-inverted;
  }

  img {
    max-height: 150px;
  }
}


.blocks-wrapper-two {
  @extend .blocks-wrapper-inverted;
}


// =============================================================================
// EXTENDS
// =============================================================================


// =============================================================================
// MEDIAQUERIES
// =============================================================================

