// =============================================================================
// DDBasic Default element styles
// =============================================================================
//
body {
  background-color: $gray-light;
  background-attachment: fixed;
  background-size: cover;
  line-height: $theme-line-height;

  @include small-medium-low() {
    &.js-fixed-body {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }
  }
}

body.toolbar {
  padding-top: 66px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  padding-left: 20px;
}

.page-content {
  li {
    list-style: disc inside;
  }
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;

  border-top: 1px solid $gray;
  margin: 0;
  padding: 0;
  width: 100%;
}
