// =============================================================================
// DDBasic layout (ddbasic.layout.scss)
// =============================================================================
//


// -----------------------------------------------------------------------------
// Grid styling
// -----------------------------------------------------------------------------
//
.grid-inner {
	max-width: $grid-max-width;
}


// -----------------------------------------------------------------------------
// Topbar
// -----------------------------------------------------------------------------
//
.topbar {
  @include rgba-background($black, $block-bg-transparency);

  min-height: $header-min-height;
  position: fixed;
  width: 100%;
  z-index: 99;   

  h1 {
    margin-top: 0;
    margin-bottom: 0;

    a,
    a:link,
    a:visited {
      color: $header-text-color;
    }
  }
}


.topbar-inner {
  @extend .grid-inner;

  position: relative;
}


// -----------------------------------------------------------------------------
// Logo, site name etc.
// -----------------------------------------------------------------------------
//
.logo {
  @include zen-grid-item($grid-50, 1);
}


// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------
//
.frontpage-layout {
  .content-wrapper {
    margin-top: 88px;
  }
}


.content-wrapper {
  @extend .grid-wrapper;

  margin-top: 148px;
}


.primary-content,
.secondary-content,
.tertiary-content,
.attachment-first,
.attachment-second,
.attachment-third,
.attachment-fourth {
  margin-bottom: $default-spacing;

  .grid-inner {
    padding: $default-spacing;
  }
}


.facet-browser {
  @extend .tertiary-menu-wrapper;
}
