// =============================================================================
// Layout
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//
$topbar-text-color:               #fff;


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//

@include small-medium() {
  #page.ding2-site-template {
    background-image: none !important;
  }
}
// -----------------------------------------------------------------------------
// Site header, fixed position
// -----------------------------------------------------------------------------
//

@include large-x-large() {
  .site-header {
    &.js-fixed {
      position: fixed;
      z-index: 99;
      width: 100%;

      .topbar-menu {
        margin-top: 0;
      }

      .site-name-wrapper {
        margin-top: 10px;

        .site-name {
          @include rem('font-size', 24px);
        }
      }

      .header-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;

        .user-name {
          display: none !important;
        }
      }

      .navigation-wrapper {
        .menu-item {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}

@include small-medium() {
  .site-header {
    &.js-fixed {
      .topbar {
        position: fixed;
        z-index: 99;
        width: 100%;
      }

    }
  }
}

// -----------------------------------------------------------------------------
// Topbar, site name, slogan and logo
// -----------------------------------------------------------------------------
//
.topbar {
  background-color: transparentize($black, .15);

  .topbar-inner {
    @extend .grid-inner;

    position: relative;
  }
}

.site-name-wrapper {
  @include zen-grid-item(4, 1);

  margin-top: 30px;

  @include small-medium() {
    @include zen-grid-item(6, 1);

    margin-top: 6px;
  }
}

.site-name {
  @include rem('font-size', 30px);

  font-family: $font-bold;
  font-weight: $theme-font-weight-bold;

  a,
  a:link,
  a:visited,
  a:active {
    background-color: transparent;
    color: $topbar-text-color;
    text-decoration: none;
  }

  @include small-medium() {
    @include rem('font-size', 24px);
  }

  @include small() {
    @include rem('font-size', 16px);
  }
}

.site-name-with-slogan {
  @extend .site-name;
}

.site-slogan {
  color: $topbar-text-color;
  margin-top: $default-spacing / 2;
  margin-left: 2px;
}

.logo {
  @include zen-grid-item($grid-33, 1);
}


// **
// Layout
// **
//
.header-wrapper {
  @extend .grid-wrapper;

  background-color: $theme-primary-color;

  .header-inner {
    @extend .grid-inner;

    overflow: visible;
  }
}


.content-wrapper {
  @extend .grid-wrapper;

  margin-top: 20px;
}


.ding-layout-1 {
  .primary-content,
  .secondary-content,
  .tertiary-content {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;

    .grid-inner {
      background-color: $white;
      padding: 20px;
    }
  }

  .primary-content {
    @include zen-grid-item(12, 1);
  }

  .secondary-content {
    @include zen-grid-item(6, 1);
  }

  .tertiary-content {
    @include zen-grid-item(6, 1, right);
  }

  @include small-medium() {
    .primary-content {
      @include zen-grid-item(12, 1);
    }

    .secondary-content {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }

    .tertiary-content {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }

    .attachments-4-4 {
      @include attachment-25-25-25-25;
    }

    .attachments-3-3 {
      @include attachment-33-33-33-100;
    }

    .attachments-2-2 {
      @include attachment-50-50-100-100;
    }

    .attachments-1-1 {
      @include attachment-100-100-100-100;
    }
  }

  @include medium() {
    .secondary-content {
      @include zen-clear();
    }
  }  
  
  @include large-x-large() {
    .secondary-content {
      @include zen-clear();
    }
  }
}

.footer {
  @include attachment-25-25-25-25;
}

.bottom {
  background-color: transparentize($black, .1);
  color: $theme-primary-color;
  padding-top: $default-spacing;
  padding-bottom: $default-spacing;
  text-align: center;
}


.facet-browser {
  @extend .tertiary-menu-wrapper;
}
