// =============================================================================
// Buttons
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//
$button-text-color:               $white;
$button-bg-start-color:           lighten($black, 35%);
$button-bg-end-color:             lighten($black, 25%);
$button-border:                   0;
$button-box-shadow:               0 0 1px lighten($black, 35%) inset;
$button-border-radius:            8px;
$button-padding:                  8px 14px;


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//
%button {
  @include rem('font-size', $theme-font-size);
  @include border-radius($button-border-radius);

  display: inline-block;
  padding: $button-padding;
  position: relative;

  box-shadow: $button-box-shadow;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    @include opacity(0.65);
    @include box-shadow(none);

    cursor: default;
  }
}


//**
// Mixin for creating af gradient button
//**
@mixin create-gradient-button($text-color, $bg-start-color, $bg-end-color, $border: 0) {
  @include background-image(linear-gradient($bg-start-color, $bg-end-color));
  @extend %button;
  
  // Make sure buttons get a background color in IE
  background-color: $bg-start-color;
  border: $border;

  @if $text-color != "" {
    color: $text-color;
  }

  &:focus,
  &:hover,
  &:active {
    @include background-image(linear-gradient(darken($bg-start-color, 5%), darken($bg-end-color, 5%)));
    
    background-color: $bg-end-color;
  }
}

// Default button (dark gray)
.button,
a.button {
  @include create-gradient-button($button-text-color, $button-bg-start-color, $button-bg-end-color);
}

// Blue button
%button-blue {
  @include create-gradient-button($white, #00b7e7, darken(#00b7e7, 15%));
}

// Black button
%button-black {
  @include create-gradient-button($white, #444, darken(#444, 15%));
}


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//


// Don't use native buttons on iOS
input[type=submit].button,
button.button {
  -webkit-appearance: none;
}


// Correct FF button padding
@-moz-document url-prefix() {
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
  }
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//