// =============================================================================
// Drupal styling overrides
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//

ul li.leaf {
  list-style: none;
}


// **
// Drupal specific buttons. Extends from _ddbasic.buttons.scss
// **
//
#edit-cancel {
  margin-left: .3em;
}


.form-submit,
#edit-cancel {
  @extend .button;
}



.feed-icon {
  img {
    max-width: 16px;
  }
}


.ajax-progress,
.ajax-progress-throbber {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  vertical-align: middle;
  text-align: center;
}

.ajax-progress .throbber {
  @extend .icon-spin;
  @extend .icon-spinner;

  background: none !important; // Make sure the Drupal throbber is not visible in IE
  color: #000;
  font-family: $theme-icon-library-font;
  font-size: 50px;
  height: auto;
  left: 48%;
  position: relative;
  top: 48%;
  width: 50px;
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
