// =============================================================================
// Modal popup styling (from jquery ui library)
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//
$modal-overlay-color:             $black;
$modal-overlay-transparency:      .8;
$modal-text-color:                #fff;
$modal-background-color:          #00b7e7;
$modal-background-transparency:   .95;
$modal-min-width:                 450px;
$modal-border-radius:             12px;


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
.ui-widget-overlay {
  @include rgba-background($modal-overlay-color, $modal-overlay-transparency);
}

.ui-widget {
  @include rgba-background($modal-background-color, $modal-background-transparency);
  @include box-shadow(rgba(black, 0.35) 0 0 10px);
  @include border-radius($button-border-radius);

  min-width: $modal-min-width;
}


.ui-dialog-title {
  @extend h3;

  color: $modal-text-color;
}


.ui-widget-content {
  color: $modal-text-color;
  padding: 0;
}


.ui-dialog {
  padding: $default-spacing;

  .ui-dialog-titlebar-close {
    right: $default-spacing / 4;
    padding: 0;
    top: $default-spacing / 2;
    width: auto;

    .ui-icon {
      @extend strong;
      @extend .icon-remove;

      text-indent: 0;
      text-transform: capitalize;

      &:hover {
        color: lighten($modal-background-color, 40%);
      }
    }

    .ui-icon:before {
      font-family: $theme-icon-library-font;
      margin-right: 2px;
      margin-bottom: -1px;
    }

    &:link,
    &:visited,
    &:active {
      color: $modal-text-color;
      text-decoration: none;
    }

    &:hover {
      color: $modal-text-color;
      text-decoration: none;
    }
  }

  .form-item {
    margin-bottom: $default-spacing / 2;

    .description {
      @extend .text-small;
      
      color: transparentize($white, .1);
      margin-top: -$default-spacing / 2;
    }
  }

  .openid-links {
    display: none;
  }
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
