// =============================================================================
// This file holds all the variables for the DDBasic theme
// =============================================================================
//


// -----------------------------------------------------------------------------
// Basic settings: Grid, spacing etc.
// -----------------------------------------------------------------------------
//
$grid-max-width:                  1200px;
$grid-column-count:               12;

$default-spacing:                 20px;


// -----------------------------------------------------------------------------
// Theme color definitions
// -----------------------------------------------------------------------------
//
$theme-primary-color:             #fff;
$theme-secondary-color:           #00b7e7;
$theme-content-background:        #fff;


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
//
$font-light:                      "SourceSansProExtraLight";
$font-light-italic:               "SourceSansProExtraLightItalic";
$font-regular:                    "SourceSansProRegular";
$font-regular-italic:             "SourceSansProItalic";
$font-bold:                       "SourceSansProSemibold";
$font-bold-italic:                "SourceSansProSemiboldItalic";
$font-color-primary:              #d1e02b;


// -----------------------------------------------------------------------------
// Font variables
// -----------------------------------------------------------------------------
//
$theme-font-size:                 15px;
$theme-line-height:               18px;
$theme-font-family:               $font-light, "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
$theme-font-weight-normal:        normal;
$theme-font-weight-bold:          normal;


// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
//
$link-color:                      #295586;
$link-color-hover:                darken($link-color, 20%);
$link-color-inverted:             #fff;
$link-color-inverted-hover:       darken($link-color-inverted, 20%);
$link-color-special:              #4d1500;
$link-color-special-hover:        darken($link-color-special, 20%);


// -----------------------------------------------------------------------------
// Blocks
// -----------------------------------------------------------------------------
//
$block-bg:                        #3399ff;
$block-bg-transparency:           .9;
$block-color:                     #fff;
$block-bg-inverted:               #fff;
$block-color-inverted:            #3399ff;
$block-border:                    12px;


// -----------------------------------------------------------------------------
// Sections
// -----------------------------------------------------------------------------
//
$section-bg:                      #000;
$section-bg-transparency:         .85;
$section-color:                   #fff;
$section-bg-inverted:             #fff;
$section-color-inverted:          #000;


// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------
//
$form-button-text-color:          #fff;
$form-button-bg-color:            lighten(#000, 15%);

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
//
$button-bg-color:                 $form-button-bg-color;
$button-text-color:               $form-button-text-color;
$button-primary-bg-color:         $black;
$button-success-bg-color:         #60a500;
$button-warning-bg-color:         #f6d346;
$button-danger-bg-color:          #bf3600;
$button-info-bg-color:            #73b4e0;
$button-border-radius:            12px;


// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------
//
$navbar-bg-color:                 transparentize($white,0.95);
$navbar-bg-active-color:          transparentize($white,0.95);
$navbar-text-color:               lighten($black, 30%);
$navbar-text-color-active:        lighten($black, 30%);
$navbar-item-spacing:             $default-spacing / 2;

