// =============================================================================
// DDBasic Typography
// =============================================================================
//


// =============================================================================
// VARIABLES
// =============================================================================
//


// =============================================================================
// EXTENDS
// =============================================================================
//
%link-inverted {
  a {
    &:link {
      color: $link-color-inverted;
      text-decoration: none;
    }
    &:visited {
      color: darken($link-color-inverted, 15%);
    }
    &:hover {
      color: $link-color-inverted-hover;
      text-decoration: underline;

      i[class^="icon-"] {
        text-decoration: none;
      }
    }
    &:focus {
      color: $link-color-inverted-hover;
    }
  }
}


%link-special {
  a {
    &:link {
      color: $link-color-special;
      text-decoration: none;
    }
    &:visited {
      color: darken($link-color-special, 15%);
    }
    &:hover {
      color: $link-color-special-hover;
      text-decoration: underline;

      i[class^="icon-"] {
        text-decoration: none;
      }
    }
    &:focus {
      color: $link-color-special-hover;
    }
  }
}


// =============================================================================
// DEFAULT STYLING
// =============================================================================
//
body {
  @include rem('font-size', $theme-font-size);
  font-family: "ff-scala-sans-web-pro", arial, sans-serif;
  font-weight: $font-weight-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-light;
  line-height: 100%;
}

input,
textarea {
  font-family: "ff-scala-sans-web-pro", arial, sans-serif;
  font-weight: $font-weight-light;
}


// -----------------------------------------------------------------------------
// Layout elements
// -----------------------------------------------------------------------------
//
.topbar {
  h1 {
    @include rem('font-size', $header-font-size);
    
    font-weight: $font-weight-regular;
    line-height: $header-min-height;
  }
}


// -----------------------------------------------------------------------------
// Blocks
// -----------------------------------------------------------------------------
//
%block {
  .block-title {
    @include rem('font-size', $header-font-size * 1.1);
  }
}


// -----------------------------------------------------------------------------
// Miscellaneous
// -----------------------------------------------------------------------------
//
.section-title {
  @include rem('font-size', $header-font-size);
}

.section-title-inverted {
  @include rem('font-size', $header-font-size);
}


// -----------------------------------------------------------------------------
// Search
// -----------------------------------------------------------------------------
//
%search {
  input[type="text"] {
    @include rem('font-size', $theme-font-size * 1.7);
  }

  input[type="submit"] {
    font-size: $theme-font-size * 1.7;
  }
}

.search-compact {
  input[type="text"] {
    @include rem('font-size', $theme-font-size * 1.5);
  }

  input[type="submit"] {
    @include rem('font-size', $theme-font-size * 1.4);
    font-size: $theme-font-size * 1.7;
  }

  i[class^="icon-"] {
    @include rem('font-size', $theme-font-size * 1.7);
  }
}


// -----------------------------------------------------------------------------
// Facet Browser
// -----------------------------------------------------------------------------
//
.facet-browser {
  h2 {
    @include rem('font-size', $theme-font-size * 1.2);
  }
}


// -----------------------------------------------------------------------------
// Search Result
// -----------------------------------------------------------------------------
//
.search-result-block {
  h1 {
    @include rem('font-size', $theme-font-size * 1.5);
  }

  .status {
    @include rem('font-size', $theme-font-size / 1.25);
  }

  .more {
    @include rem('font-size', $theme-font-size * 1.75);
  }
}


// -----------------------------------------------------------------------------
// User
// -----------------------------------------------------------------------------
//
.user {
  input[type="text"],
  input[type="password"] {
    @include rem('font-size', $theme-font-size * 1.3);
  }

  input[type="submit"] {
    font-size: $theme-font-size * 1.7;
  }

}


.user-compact {
  @include rem('font-size', $theme-font-size * 1.4);

}


.user-login-block {
  .user-close-container {
    @include rem('font-size', $theme-font-size * 1.25);
    &:hover {
      text-decoration: none;
    }
  }

  .user-login-link {
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  input[type="text"],
  input[type="password"] {
    @include rem('font-size', $theme-font-size * 1.3);
  }

}


// =============================================================================
// MEDIAQUERIES
// =============================================================================
//
