// =============================================================================
// Description goes here
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
.pager {
  padding-left: 0;

  li {
    display: inline-block;
    margin-left: -4px;
    margin-right: 4px;

    &.pager-current,
    a {
      background-color: $gray-light;
      display: inline-block;
      padding: $default-spacing / 4 $default-spacing * 0.75;
    }
  }

  .active a,
  .active a:hover {
    cursor: default;
    text-decoration: underline;
  }

  .disabled {
    background-color: $gray-lighter;
  }
  .disabled a:hover {
    cursor: default;
    text-decoration: none;
  }
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
