// =============================================================================
// Event styling
// =============================================================================
//
.pane-ding-event-ding-event-list {
  margin-bottom: 20px;
}

.secondary-content,
.tertiary-content {
  .event-list-description {
    display: none;
  }
}

.event-group-heading {
  background: $gray;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  .event-list-date-wrapper {
    @include rem('font-size', $theme-font-size * .9);

    display: inline-block;
    margin-right: 10px;
    min-width: 75px;

    color: lighten($text-primary-color, 25%);
    text-align: center;
    vertical-align: top;

    .event-list-day {
      background-color: $theme-primary-color;
      color: $white;
      display: block;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    }

    .event-list-inner-wrapper {
      background: $white;
    }

    .event-list-date {
      @include rem('font-size', 20px);

      display: block;
      padding-top: 4px;
    }
  }

  .event-list-date-wrapper {
    vertical-align: middle;
    min-width: $default-spacing * 2.5;
    font-size: $theme-font-size * 0.6;
  }

  .event-list-date {
    padding-top: 0.2em;
    margin-bottom: -$default-spacing / 2;
  }

  .event-list-day {
    line-height: $theme-line-height * 0.7;
  }

  .event-list-fulldate {
    @include rem('font-size', $theme-font-size * 1.25);

    color: transparentize($black, .3);
    font-family: $font-bold;
    font-weight: $theme-font-weight-bold;
  }
}

.event-list {
  background: $gray-light;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  .event-list-item {
    position: relative;
  }

 .event-image-wrapper {
    float: left;
    margin-right: $default-spacing;
    max-width: 15%;
  }

  .event-list-heading {
    @include rem('font-size', 20px);

    margin-bottom: $default-spacing / 2;
  }

  .event-list-location,
  .event-list-time,
  .event-list-price {
    margin-right: 5px;
  }

  .event-arrow-link {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 45%;
  }
}


// **
// Ticket styling
// **
//
%ticket {
  @include rem('font-size', $theme-font-size * 1);

  font-family: $font-bold;
  font-weight: $theme-font-weight-bold;
  margin-left: 10%;
  width: 70%;
}

.ticket-wrapper {
  border-top: 1px solid $gray-light;

  margin-top: $default-spacing;
  padding-top: $default-spacing;
}

.ticket-available {
  @extend %button-action;
  @extend %ticket;
}

.ticket-info {
  @extend %button-warning;
  @extend %ticket;
}


// **
// Event
// **
.event {
  .event-image {
    float: left;
    margin-top: $default-spacing / 4;
    margin-right: $default-spacing;
    margin-bottom: $default-spacing / 2;
    max-width: 300px;
  }

  .event-tags {
    margin-bottom: $default-spacing;

    .event-category,
    .event-library {
      margin-right: $default-spacing / 4;
    }
  }

  .event-lead {
    border-bottom: 1px solid $gray-light;
    margin-bottom: $default-spacing;
    padding-bottom: $default-spacing;
  }

  .event-content {
    @include zen-grid-item($grid-66, 1);

    padding-left: 0;
  }

  .event-info {
    @include zen-grid-item($grid-33, 1, right);

    padding-right: 0;

    p {
      margin-bottom: $default-spacing / 2;

      i[class^="icon-"] {
        display: inline-block;
        min-width: $default-spacing;
      }
    }
  }

  .event-footer {
    clear: both;
    padding-top: $default-spacing;
  }
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
