// =============================================================================
// Global extends
// =============================================================================
//


// =============================================================================
// VARIABLES
// =============================================================================
//


// =============================================================================
// DEFAULT STYLING
// =============================================================================
//
%grid-padding {
  padding-left: 10px;
  padding-right: 10px;
}


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
//
%link-inverted {
  a {
    &:link {
      color: $link-color-inverted;
      text-decoration: none;
    }
    &:visited {
      color: darken($link-color-inverted, 15%);
    }
    &:hover {
      color: $link-color-inverted-hover;
      text-decoration: underline;

      i[class^="icon-"] {
        text-decoration: none;
      }
    }
    &:focus {
      color: $link-color-inverted-hover;
    }
  }
}


%link-special {
  a {
    &:link {
      color: $link-color-special;
      text-decoration: none;
    }
    &:visited {
      color: darken($link-color-special, 15%);
    }
    &:hover {
      color: $link-color-special-hover;
      text-decoration: underline;

      i[class^="icon-"] {
        text-decoration: none;
      }
    }
    &:focus {
      color: $link-color-special-hover;
    }
  }
}


// -----------------------------------------------------------------------------
// Horizontal definition lists
// -----------------------------------------------------------------------------
//


%term-horizontal {
  float:left;
  width: 20%;
}


%data-horizontal {
  padding-left: 25%;
}


// -----------------------------------------------------------------------------
// Read more
// -----------------------------------------------------------------------------
//
%read-more-icon {
  float: left;
  margin-right: 5px;
  text-decoration: none;
}


%read-more-link {
  display: block;
  margin-top: $default-spacing;
}


// -----------------------------------------------------------------------------
// Icons
// -----------------------------------------------------------------------------
//
%inline-icons {
  @include opacity(.25);

  margin-left: 15px;
  position: absolute;

  font-size: $theme-font-size * 2.2;
}


%inline-icon-input {
  @include box-sizing(border-box);
  @include border-radius(12px);

  display: inline;
  padding-left: 45px;

  border: 0;
}

// -----------------------------------------------------------------------------
// Availability
// -----------------------------------------------------------------------------
//
%availability {
  color: #fff;
  padding: $default-spacing / 4;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

%availability-pending {
  @extend %availability;

  background-color: #696a69;
}

%availability-processed {
  @extend %availability;

  background-color: #ed1e88;
}

%availability-available {
  @extend %availability;

  background-color: #0072bc;
}

%availability-reservable {
  @extend %availability;

  background-color: #ea9123;
}

%availability-available-reservable {
  @extend %availability;

  background-color: #4c9f45;
}


// =============================================================================
// MEDIAQUERIES
// =============================================================================
//
