// =============================================================================
// Variables
// =============================================================================
//

//
// Theme
//
$theme-background-pattern:        '../images/pattern.png';
$theme-background-color:          #d1e02b;

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
//
$link-color:                      #264917;
$link-color-hover:                darken($link-color, 20%);
$link-color-inverted:             #fff;
$link-color-inverted-hover:       darken($link-color-inverted, 20%);
$link-color-special:              #4d1500;
$link-color-special-hover:        darken($link-color-special, 20%);


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
//
$font-size:                       15px;
$font-weight-light:               300;
$font-weight-regular:             400;
$font-weight-bold:                700;
$font-color-primary:              #d1e02b;



$header-text-color:               #fff;
$header-font-size:                30px;
$header-min-height:               60px;


// -----------------------------------------------------------------------------
// Blocks
// -----------------------------------------------------------------------------
//
$block-bg:                        #fff;
$block-bg-transparency:           1;
$block-color:                     #000;
$block-bg-inverted:               #d1e02b;
$block-color-inverted:            #fff;
$block-border:                    12px;


// -----------------------------------------------------------------------------
// Sections
// -----------------------------------------------------------------------------
//
$section-bg:                      #000;
$section-bg-transparency:         .85;
$section-color:                   #fff;
$section-bg-inverted:             #fff;
$section-color-inverted:          #000;


// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------
//
$form-button-text-color:          #fff;
$form-button-bg-color:            lighten(#000, 15%);

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
//
$button-bg-color:                 $form-button-bg-color;
$button-primary-bg-color:         #ff5200;
$button-success-bg-color:         #60a500;
$button-warning-bg-color:         #f6d346;
$button-danger-bg-color:          #bf3600;
$button-info-bg-color:            #73b4e0;
$button-border-radius:            12px;
