// =============================================================================
// Comments
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
.comment-wrapper {
  @include rem('margin-top', $default-spacing * 1.5);
}

.comment-form {
  .form-actions {
    .form-submit {
      @extend %button-inverted;
    }
  }
}

.filter-guidelines {
  padding-top: 0;
  padding-left: 0;

  .tips {
    margin-left: 0;
  }
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
