// =============================================================================
// User
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//
%inline-icons {
  @include opacity(.25);

  margin-left: 15px;
  position: absolute;

  font-size: $theme-font-size * 2.2;
}


%inline-icon-input {
  @include box-sizing(border-box);
  @include border-radius(12px);

  display: inline;
  padding-left: 45px;

  border: 0;
}


%user-menu {
  ul {

    margin-top: $default-spacing / 3;
    text-align: right;

    li {
      display: inline-block;

      a {
        color: $white;
        margin-right: $default-spacing / 4;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
.header-wrapper {
  .user {
    @include zen-grid-item($grid-50, 1, right);
    @extend %header-sections;

    border-left: 1px solid transparentize($black, .9);
    margin-right: 10px;
    padding-right: 0;
    padding-left: 10px;

    .user-field-wrapper {
      display: block;
      margin-left: 10px;
    }

    .form-item {
      margin-top: 0em;
      display: inline;
    }
    .form-actions {
      display: inline;
    }

    i[class^="icon-"] {
      @extend %inline-icons;

      top: 13px;
    }

    input[type="text"],
    input[type="password"] {
      @include rem('font-size', $theme-font-size * 1.3);
      @extend %inline-icon-input;

      min-height: 60px;
      margin-right: $default-spacing / 2;
      padding-bottom: 0;
      padding-top: 0;
      width: 220px;
    }

    input[type="submit"] {
      @include rem('font-size', $theme-font-size * 1.7);
      @include border-radius(12px);
      @extend %button-default;

      display: inline;
      min-height: 60px;
      padding-top: 0;
      padding-right: 18px;
      padding-bottom: 1px;
      padding-left: 18px;
      position: absolute;
    }
  }
}


// **
// User menu
// **
//
.header-wrapper {
  .user-name,
  .user-menu-loans,
  .user-menu {
    @include zen-grid-item($grid-50, 1, right);
    @extend %header-sections;
    @extend %user-menu;
  }

  .user-menu-loans {
    margin-top: 90px;
  }

  .user-menu {
    margin-top: 120px;
  }

  .user-name {
    color: transparentize($black, .5);
    margin-top: 55px;
    text-align: right;

    .user-name-title {
      @include rem('font-size', $theme-font-size * 2.25);
    }
  }
}

// **
// User menu compact
// **
//
.topbar {
  .user {
    @extend .icon-user;

    position: absolute;
    right: 10px;
    top: 17px;

    &:before {
      @include rem('font-size', $theme-font-size * 1.3);

      color: $white;
      font-family: $theme-icon-library-font;
      line-height: 100%;

      left: 20px;
      position: absolute;
      top: 16px;
      z-index: 99;
    }

    input[type="submit"] {
      @include rem('font-size', $theme-font-size * 1.4);

      min-height: 50px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 45px;
    }
  }

  .user-name {
    float: right;
    margin-top: 16px;
    margin-right: $default-spacing / 2;
    max-width: 325px;

    .user-name-title {
      @include rem('font-size', $theme-font-size * 1.5);

      color: $white;
    }
  }

  .user-menu {
    @extend %link-inverted;
    @extend %user-menu;

    position: absolute;
    right: 10px;
    top: 40px;
  }
}


// **
// User profile
// **
//
.pane-user-profile {
  .form-item {
    clear: both;

    label,
    p {
      float: left;
    }

    label {
      font-family: $font-bold;
      font-weight: $theme-font-weight-bold;
      min-width: 25%;
    }
  }

  h3 {
    border: 0;

    margin-top: $default-spacing * 1.5;
    margin-bottom: $default-spacing / 1.5;
  }

  .profile2-provider-alma {
    .field-label {
      float: left;
      font-family: $font-bold;
      font-weight: $theme-font-weight-bold;
      min-width: 25%;
    }

    .field-items,
    .field-item {
      display: inline;
    }
  }
}

// **
// User loans
// **
//
.pane-loans,
.pane-reservations,
.pane-bookmarks {
  table {
    border-bottom: 1px solid $gray-light;
    margin-bottom: $default-spacing;
  }

  h2 {
    @extend .block-title;

    margin-top: 2px;
    max-width: 90%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  th {
    border-top: 1px solid $gray-light;
    text-align: center;

    &.select-all {
      padding-left: $default-spacing / 2;
    }

    &.title {
      text-align: left;
    }
  }

  td:first-child {
    width: 30px;
  }

  td {
    border-top: 1px solid $gray-light;
    text-align: center;

    &.title {
      text-align: left;
      width: 30%;
    }
  }

  .select-all,
  .form-type-checkbox {
    text-align: center;
  }

  .form-checkbox {
    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .ting-cover {
    float: left;

    margin-top: 4px;
    max-width: 15%;

    img {
      max-width: 85%;
    }
  }

  .order-id {
    margin-bottom: 0;
  }


  .operations {
    .renew-loan-button,
    .delete-reservation {
      text-align: center;
    }
  }

  .renew-loan-button {
    .form-submit {
      @extend %button-action;
    }
  }

  .delete-reservations,
  .update-reservations {
    display: inline;
    margin-right: $default-spacing;
  }

  .delete-reservation,
  .delete-reservations {
    .form-submit {
      @extend %button-danger;
    }
  }

  .update-reservations {
    .form-submit {
      @extend %button-action;
    }
  }
}

.pane-bookmarks {
  td {
    text-align: left;
  }

  .ding-entity-button {
    float: right;
    margin-right: $default-spacing / 2;

    a {
      @extend %button-danger;
    }

    &.ding-bookmark-reservation-button {
      a {
        @extend %button-action;
      }
    }
  }
}

.pane-reservations {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $default-spacing;
  padding-bottom: $default-spacing;
}

#ding-reservation-reservations-ready-form {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $default-spacing;
  padding-bottom: $default-spacing;
}

#ding-bookmark-remove-form {
  .form-submit {
    @extend %button-danger;
  }
}


// **
// User debts
// **
.pane-debts {
  table {
    margin-bottom: $default-spacing;

    th,
    td {
      &.feedate {
        width: 10%;
      }

      &.feeamount {
        text-align: right;
      }
    }
  }

  .pay-button {
    margin-bottom: $default-spacing;

    .form-submit {
      @extend %button-action;
    }
  }
}

.pane-debts,
.pane-ding-dibs-dibs-terms-of-sale,
.pane-ding-dibs-dibs-cards-supported {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $default-spacing;
  padding-bottom: $default-spacing;
}


// =============================================================================
// Mediaqueries
// =============================================================================
//
