// =============================================================================
// Description goes here
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//
%reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


%page-heading {
  @include rem('font-size', 30px);
}


%section-heading {
  @include rem('font-size', 24px);
}

%article-margin {
  margin-bottom: 10px;
}

%article-padding {
  padding: 20px;
}

%article-padding--small {
  padding: 10px;
}

%article-background {
  background-color: $article-background;
}

%article-background--odd {
  background-color: $article-background-odd;
}

%article-background--even {
  background-color: $article-background-even;
}

%article-heading {
  @include rem('font-size', 24px);
}

%article-heading--small {
  @include rem('font-size', 18px);
}

%article-heading--strong {
  @include rem('font-size', 16px);
}


%article-text {
  color: $article-text;
}

%article-text--opaque {
  color: transparentize(#4c4c4c, .5);
}


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//


// News
.news-list {
  @extend %reset-list;

  .news-list-item {
    @extend %article-background;
    @extend %article-padding;
    @extend %article-margin;

    overflow: hidden;
    position: relative;
  }

  .news-list-item:nth-child(odd) {
    @extend %article-background--odd;
  }

  .news-list-item:nth-child(even) {
    @extend %article-background--even;
  }

  .news-heading {
    @extend %article-heading;
  }

  .news-image-wrapper {
    float: left;
    margin-right: $default-spacing;
    max-width: 75px;

    a {
      display: block;
    }
  }

  .news-label {
    @extend .label;

    margin-right: 5px;
  }

  .news-sub-heading {
    margin-top: 10px;
    margin-bottom: 10px;

    .news-date,
    .news-author {
      margin-right: 5px;
    }
  }

  .news-date {
    @extend %article-text--opaque;
  }

  .news-author {
    @extend %article-text;
  }

  .news-list-content {
    max-height: 50px;
    overflow: hidden;
  }

  .news-link {
    float: right;
  }

  .news-arrow-link {
    display: none;
  }

  @include small-medium() {
    .news-label,
    .news-sub-heading,
    .news-list-content,
    .news-link {
      display: none;
    }

    .news-heading {
      @include rem('font-size', 20px);

      margin-right: 35px;
    }

    .news-arrow-link {
      @extend .icon-chevron-right;

      display: inline-block;
      position: absolute;
      right: 20px;
      top: 45%;

      &:before {
        float: right;
        font-family: $theme-icon-library-font;
      }
    }
  }
}


// Search and user form in topbar
.search {
  .search-field-wrapper {
    position: relative;
  }

  .spinner {
    i[class^="icon-"] {
      @extend .icon-spin;
      @extend .icon-spinner;

      height: auto;
    }
  }

  .form-item {
    @include zen-grid-item(12, 1);
  }

  .form-text {
    padding-left: 49px;
  }
}

.user {

  .form-item-name {
    @include zen-grid-item(6, 1);

    .form-text {
      padding-left: 45px;
    }
  }

  .form-item-pass {
    @include zen-grid-item(6, 1, right);

    .form-text {
      padding-left: 42px;
    }
  }

  @include small() {
    .form-item-pass {
      margin-top: 10px;
    }
  }
}

.search,
.user {
  display: none;

  &.js-topbar-toggled {
    display: inline-block;
  }

  width: 100%;

  [class^="label-"] {
    @include rem('font-size', 16px);
    @include font-bold();

    color: transparentize($white, .25);
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 2px;
  }

  [class^="icon-"] {
    @include rem('font-size', 30px);

    color: $gray-darker;
    bottom: 15px;
    left: 24px;
    position: absolute;
  }

  .form-item {
    display: inline-block;
    position: relative;
  }

  .form-text {
    @include rem('font-size', 18px);
    @include box-sizing(border-box);
    @include border-radius(12px);

    border: 0;
    display: inline;
    margin-right: 20px;
    padding-bottom: 0;
    width: 100%;
  }

  .form-text,
  .form-submit {
    min-height: 60px;
    padding-top: 0;
  }

  .form-submit {
    @include rem('font-size', 20px);
    @include border-radius(12px);
    @extend %button-default;

    margin-top: 31px;
    padding-bottom: 1px;
    min-width: 110px;
  }

  input[class^="form-"] {
    margin-bottom: 0;
  }

  .form-actions {
    @include zen-grid-item(2, 1, right);

    text-align: right;
  }

  @include small() {
    [class^="label-"] {
      @include rem('font-size', 14px);
    }

    .form-item {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }
  }

  @include small-medium() {
    i[class^="icon-"] {
      @include rem('font-size', 20px);
    }

    .form-text {
      @include rem('font-size', 18px);

      min-height: 50px;
      min-width: 100%;
      padding-left: 42px;
    }

    .form-actions {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }

    .form-submit {
      @include rem('font-size', 18px);

      margin-top: 20px;
      min-height: 44px;
      min-width: 100%;
    }
  }
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
