// =============================================================================
// Navigation
// =============================================================================


// **
// Topbar menu
// **
//
.topbar-menu {
  @include zen-grid-item(8, 1, right);

  margin-top: 45px;
  text-align: right;

  li {
    display: inline;
  }

  .menu-item {
    @include rem('font-size', 18px);
    @include text-shadow(1px 1px 0 rgba(0, 0, 0, .5));
    @extend %font-bold;

    color: $white;
    display: inline-block;
    margin-left: -4px;
    padding: 10px 15px;
    outline: 0;

    &:hover {
      background-color: $black;

      color: $white;
      text-decoration: none;
    }

    &.active {
      color: $white;
      text-decoration: none;
      background-color: $theme-primary-color;
    }

    // Hide mobile link menu item
    &.topbar-link-menu {
      display: none;
    }
  }

  i[class^="icon-"] {
    margin-right: 5px;
  }

  @include small-medium() {
    @include zen-grid-item(6, 1, right);

    margin-top: 0;
    padding: 0;

    i[class^="icon-"] {
      margin-right: 0;
    }

    span {
      display: none;
    }

    .menu-item {
      // Show mobile link menu item
      &.topbar-link-menu {
        display: inline-block;
      }
    }
  }
}

.js-fixed {
  @include small-medium() {
    .menu-item {
      &.active {
        background-color: transparent;
      }
    }
  }
}

// **
// Navigation, main menu and secondary menu
// **
//
.navigation-wrapper {
 	background-color: transparentize($white, .05);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
  width: 100%;

  &.js-topbar-toggled {
    display: block;
  }

  @include small() {
    &.js-fixed {
      position: relative;
      margin-top: 0;
    }
  }

  @include small-medium() {
    @include box-sizing(border-box);

    background-color: $theme-primary-color;
    display: none;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px; // Extra space for device stuff below the menu
    padding-left: 20px;
  }

  @include small-medium-low() {
    position: fixed;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 44px;
    z-index: 99;
  }
}

.navigation-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: hidden;
}

.main-menu-wrapper {
  @include zen-grid-item(8, 1);
}

.secondary-menu-wrapper {
  @include zen-grid-item(4, 1, right);
}

.main-menu-wrapper,
.secondary-menu-wrapper {
  @include small-medium() {
    @include zen-grid-item(12, 1);
    @include zen-clear();
  }
}

.main-menu {
  @include rem('font-size', 20px);
}

.secondary-menu {
  @include zen-float(right);
  @include rem('font-size', 16px);

  li {
    border-right: 1px solid $gray;

    .menu-item {
      margin-left: 15px;
    }

    &.first {
      .menu-item {
        margin-left: 0;
      }
    }

    &.last {
      border-right: 0;

      .menu-item {
        margin-right: 0;
      }
    }
  }

  @include large() {
    li {
      .menu-item {
        font-size: 80%;
        margin-left: 10px;
      }
    }
  }

  @include small-medium() {
    float: none;

    li {
      border-right: 0;
    }
  }
}

.main-menu,
.secondary-menu,
.system-user-menu{
  margin: 0;
  padding-left: 0;

  li {
    // Add the icon here so we can show it in other breakpoints
    @extend .icon-angle-right;

    display: inline;

    // Make sure the icon is not displayed in this breakpoint
    &:before {
      display: none;
    }

    &.first {
      .menu-item {
        margin-left: 0;
      }
    }

    &.last {
      border-right: 0;

      .menu-item {
        margin-right: 0;
      }
    }
  }

  .menu-item {
    color: $gray-darker;
    display: inline-block;
    margin-right: 15px;

    &:hover {
      color: $black;
    }

    &.active {
      color: $black;
      text-decoration: underline;
    }
  }

  .menu-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include large() {
    .menu-item {
      font-size: 95%;
      margin-right: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  @include small-medium() {
    @include rem('font-size', 16px);

    li {
      border-bottom: 1px solid transparentize($white, .75);
      display: block;

      &:before {
        color: $white;
        display: inline;
        float: left;
        font-family: $theme-icon-library-font;
        margin-top: 9px;
        margin-right: 5px;
      }

      &.first {
        .menu-item {
          margin-left: -12px;
        }
      }

      .menu-item {
        color: $white;
        display: inline-block;
        margin-right: 0;
        margin-left: -12px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;

        &:hover {
          @include font-bold();

          color: $white;
          text-decoration: none;
        }

        &:active,
        &:focus {
          background-color: transparentize($white, .9);
        }

        &.active {
          @include font-bold();

          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

.system-user-menu {

  .last .menu-item {
    margin-right: 0;
  }

  .menu-item {
    color: $white;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include small-medium() {
    .menu-item {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}


// **
// Sub menu
// **
//
.sub-menu-title {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 0;
  padding-bottom: $default-spacing / 2;
}

.sub-menu {
  padding-left: 0;

  > li {
    border-bottom: 1px solid $gray-light;
    padding-top: 0;
    padding-right: 0;

    a {
      color: $link-color;
      display: block;
      margin-left: -$default-spacing;
      padding-top: $default-spacing / 2;
      padding-bottom: $default-spacing / 2 - 2;
      padding-left: $default-spacing * 1.75;

      &.active {
        font-family: $font-bold;
        font-weight: $theme-font-weight-bold;
      }

      &:hover {
        text-decoration: none;
        color: $link-color-hover;
      }
    }
  }

  // Add icon
  li {
    @extend .icon-angle-right;

    &:before {
      @include rem('font-size', $theme-font-size * 1.25);

      color: $link-color;
      float: left;
      font-family: $theme-icon-library-font;
      margin-top: 8px;
      margin-left: 1px;
    }
  }

  ul {
    li {
      border-left: 7px solid $gray-light;
      padding-left: $default-spacing / 2;

      li {
        border-top: 1px solid $gray-light;
        border-left: 0;
        padding-left: $default-spacing / 1.25;
      }

      &.first {
      }

      &.last {
        border-bottom: 0;
      }
    }
  }
}

// **
// Footer menu(s)
// **
//
.footer {
  .pane-title {
    @extend .icon-chevron-down;

    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5b5b5b;
    cursor: pointer;

    &:before {
      float: right;
      font-family: $theme-icon-library-font;
    }

    &.js-toggled {
      @extend .icon-chevron-right;
    }
  }

  .menu {
    list-style: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;

    li {
      @extend .icon-angle-right;

      margin: 0;
      margin-bottom: 10px;

      &:before {
        float: left;
        color: white;
        font-family: $theme-icon-library-font;
      }

      a {
        color: white;
        padding-left: 10px;

        &.active {
          color: darken(white, 0.1);
        }
      }
    }
  }

  @include small-medium {
    .menu {
      display: none;
    }
  }
}

// **
// Action Links
// **
//
.action-links {
  padding: $default-spacing / 2 $default-spacing;

  li {
    @extend .icon-plus;

    color: $link-color;
    display: inline-block;
    padding: 0 10px;

    &:before {
      @include rem('font-size', $theme-font-size * 1.2);

      color: $link-color;
      float: left;
      font-family: FontAwesome;
      margin-top: 2px;
      margin-left: 1px;
    }

    a {
      font-family: $theme-font-family;
      margin-left: -$default-spacing;
      padding-left: $default-spacing * 1.25;
    }
  }
}

// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
@include small() {
  .navigation-wrapper {
    &.js-fixed {
      position: relative;
      margin-top: 0;
    }
  }
}
