// =============================================================================
// Comments
// =============================================================================
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
.comment-wrapper {
  border-top: 1px solid $gray-light;
  margin-top: $default-spacing;
  padding-top: $default-spacing;
}

.comment-title {
  margin-bottom: $default-spacing;
}

.comment-form {
  .form-actions {
    .form-submit {
      @extend %button-inverted;
    }
  }
}

.ding-user-comment-forbidden-form {
  .form-submit {
    float: left;
  }

  span {
    font-family: $font-light-italic;
    line-height: 35px;
    margin-left: 5px;
  }
}

.filter-guidelines {
  padding-top: 0;
  padding-left: 0;

  .tips {
    margin-left: 0;
    padding-left: 0;
  }
}

.filter-help {
  padding: 0;
}

.comment {
  background-color: $gray-light;
  margin-bottom: $default-spacing;
  padding: $default-spacing;

  .new {
    @extend %availability-reservable;

    float: right;
  }
}

.ding-user-comment-forbidden-form {
  border-top: 1px solid $gray-light;
  padding-top: $default-spacing;
}
