// =============================================================================
// Search
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//
%inline-icons {
  @include opacity(.25);

  margin-left: 15px;
  position: absolute;

  font-size: $theme-font-size * 2.2;
}


%inline-icon-input {
  @include box-sizing(border-box);
  @include border-radius(12px);

  display: inline;
  padding-left: 45px;

  border: 0;
}

// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//


// **
// Search form styling
// **
//
.search {
  .form-item {
     margin-top: 0em;
  }
}


// **
// Facet browser styling
// **
//
.pane-ding-facetbrowser {

  // General link rules for facet browser.
  a:link {
    text-decoration:none;
  }
  a:visited {
    color: $link-color;
  }

  // Facetbrowser title.
  h2 {
    @extend .text-largest;
  }

  // Specific font color for headings and result count.
  h2,
  .fieldset-legend,
  .count {
    color: $gray-darker;
  }

  // Facet group spacing.
  .form-wrapper {
    margin-top: $default-spacing;
  }


  // Facet title.
  .fieldset-legend {
    @extend .text-larger;
  }

  // Expand facets link.
  .expand {
    margin-right: $default-spacing / 2;

    &:before {
      font-family: "FontAwesome";
      padding-right: $default-spacing / 4;
      text-decoration: none;
      font-size: 1.1em;
    }
  }
  .expand-more {
    @extend .icon-plus-sign;
  }
  .expand-less {
    @extend .icon-minus-sign;
  }

  // Group for selected facets.
  .selected-checkbox-group {
    overflow: hidden;
    margin-bottom: $default-spacing;

    .selected-checkbox {
      background-color: $gray;
      padding: $default-spacing / 4;
    }

    .unselect {
      @extend .expand;
      @extend .pull-right;
      @extend .icon-remove-sign;
    }
  }

  // Group for unselected facets.
  .unselected-checkbox-group {
    clear: right;
  }

  // Group with hidden facets.
  .hidden-facets-group {
    margin-bottom: $default-spacing;
  }

  .expand-facets {
    @extend .expand;
    @extend .pull-right;
  }
  .expand-facets-visible {
    @extend .icon-minus-sign;
  }
  .expand-facets-hidden {
    @extend .icon-plus-sign;
  }
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
