// =============================================================================
// Navigation
// =============================================================================


// =============================================================================
// VARIABLES
// =============================================================================
//


// =============================================================================
// EXTENDS
// =============================================================================
//
%navigation {
  margin: 0;
  padding-left: 0;

  li {
    display: inline;
  }

  .last {
    span,
    a {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }

  a,
  li a {
    display: inline-block;
    margin-right: $default-spacing * 1.25;
    padding: $default-spacing 0;

    color: lighten($black, 50%);

    &:hover {
      color: $black;
    }

    &.active {
      color: $black;
      text-decoration: underline;
    }

    &.last {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }
}


// =============================================================================
// DEFAULT STYLING
// =============================================================================
//
.navigation-wrapper {
 	@include rgba-background($white, .95);
  @extend .grid-wrapper;

  position: absolute;
  width: 100%;

  &.fixed {
    margin-top: $topbar-min-height; // Variable in: _ddbasic.layout.scss
    position: fixed;
    top: 0;
    z-index: 99;
  }

}

.navigation-inner {
  @extend .grid-inner;
}


// -----------------------------------------------------------------------------
// Main menu
// -----------------------------------------------------------------------------
//
.main-menu-wrapper {
  @include zen-grid-item($grid-66, 1);
}

.main-menu {
  @include rem('font-size', $theme-font-size * 1.3);
  @extend %navigation;

  a {
    text-align: left;
  }
}


// -----------------------------------------------------------------------------
// Secondary menu
// -----------------------------------------------------------------------------
//
.secondary-menu-wrapper {
  @include zen-grid-item($grid-33, 1, right);
}

.secondary-menu {
  @include zen-float(right);
  @include rem('font-size', $theme-font-size);
  @extend %navigation;

  span {
    border-right: 1px solid $gray;
  }

  li a {
    color: lighten($black, 50%);
    margin-top: $default-spacing;
    margin-left: $default-spacing;
    padding-top: 0;
    padding-bottom: 0;
  }

}


// -----------------------------------------------------------------------------
// Sub menu
// -----------------------------------------------------------------------------
//
.sub-menu-title {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 0;
  padding-bottom: $default-spacing / 2;
}

.sub-menu {
  padding-left: 0;

  > li {
    border-bottom: 1px solid $gray-light;
    padding-top: 0;
    padding-right: 0;

    a {
      color: $link-color;
      margin-left: -$default-spacing;
      padding-top: $default-spacing / 2;
      padding-bottom: $default-spacing / 2 - 2;
      padding-left: $default-spacing * 1.75;

      &.active {
        @extend strong;
      }

      &:hover {
        text-decoration: none;
        color: $link-color-hover;
      }
    }
  }

  // Add icon
  li {
    @extend .icon-angle-right;

    &:before {
      @include rem('font-size', $theme-font-size * 1.25);

      color: $link-color;
      float: left;
      font-family: $theme-icon-library-font;
      margin-top: 8px;
      margin-left: 1px;
    }
  }

  ul {
    li {
      border-left: 7px solid $gray-light;
      padding-left: $default-spacing / 2;

      li {
        border-top: 1px solid $gray-light;
        border-left: 0;
        padding-left: $default-spacing / 1.25;
      }

      &.first {
      }

      &.last {
        border-bottom: 0;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Footer menu(s)
// -----------------------------------------------------------------------------
//
.footer {
  h2 {
    color: white;
    margin-bottom: $default-spacing / 2;
  }

  .menu {
    margin: 0;
    padding: 0;
    margin-bottom: $default-spacing;

    li {
      @extend %link-inverted;
      @extend .icon-angle-right;

      margin: 0;
      margin-bottom: $default-spacing / 2;

      &:before {
        @include rem('font-size', $theme-font-size * 1.25);

        color: $link-color-inverted;
        float: left;
        font-family: $theme-icon-library-font;
      }

      a {
        padding-left: $default-spacing / 4;

        &:hover {
          color: $link-color-inverted-hover;
        }

        &.active {
          color: $link-color-inverted;
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
@include small() {
  .navigation-wrapper {
    &.fixed {
      position: relative;
      margin-top: 0;
    }
  }
}

@include medium() {
  .navigation-wrapper {
    &.fixed {
      position: relative;
      margin-top: 0;
    }
  }
}