// =============================================================================
// Styling of library pages.
// =============================================================================
//


// **
// Library list
// **
//
.pane-ding-library-map {
  @include rem('margin-bottom', $default-spacing);
}

.libraries-title,
.opening-hours-title {
  @include rem('margin', 0 0 $default-spacing);
  @include rem('padding', 0 0 $default-spacing);
  @include rem('font-size', $theme-font-size * 1.8);
}

.library-list {
  @extend %list;

  .views-row {
    @include rem('padding', $default-spacing);

    background: $gray-lighter;
    line-height: $theme-font-size * 2;
  }
}

.libraries {
  @extend .icon-camera;

  float: left;
  position: relative;
  width: 73%;

  &:before {
    @include rem('font-size', 74px);

    color: $gray-dark;
    font-family: $theme-icon-library-font;
    left: 0;
    position: absolute;
    text-align: center;
    top: .5em;
    width: 25%;
    z-index: 25;
  }

  .field-label-inline {
    @include rem('padding-left', $default-spacing);

    margin-left: 25%;

    .field-label {
      float: left;
      width: auto;
    }

    .field-items {
      float: none;
    }
  }
}

.field-name-field-ding-library-list-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 90;

  .field-items {
    padding: 0;
  }
}

.library-link {
  @include rem('padding', $default-spacing 0 0 $default-spacing);
}

.libraries-opening-hours {
  margin-left: 75%;

  .header {
    background: $gray;
  }

  .prev,
  .next {
    font-family: $theme-icon-library-font;
    font-size: 100%;
  }

  .even {
    background: darken($gray-light,2%);
  }
  .odd {
    background: darken($gray-light,5%);
  }

  .opening-hours-week {
    padding: 0;
  }

  .days {
    padding: 0;
  }

  .day {
    padding: 0 .5em;
  }

}

.pane-ding-news-ding-news-library-list {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $default-spacing;
  padding-bottom: $default-spacing;
}


// **
// Single Library
// **
//

.library-title {
  @extend .block-title;
}

.library-menu {
  h2 {
    @extend .sub-menu-title;
  }

  .links {
    @extend .sub-menu;
  }
}

.list {
  @extend %list;
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
@include small {
  .libraries {
    float: none;
    width: 100%;

    &:before {
      @include rem('font-size', 30px);
    }
  }

  .libraries-opening-hours {
    margin-left: 0;
  }

  .field-items {
    padding-left: 50%;
  }
}
@include medium {
  .libraries {
    float: none;
    width: 100%;

    &:before {
      @include rem('font-size', 50px);
    }
  }

  .libraries-opening-hours {
    margin-left: 0;
  }

  .field-items {
    padding-left: 50%;
  }
}
