// =============================================================================
// Navigation
// =============================================================================


// =============================================================================
// VARIABLES
// =============================================================================
//


// =============================================================================
// EXTENDS
// =============================================================================
//
%navigation {
  margin: 0;
  padding-left: 0;

  li {
    display: inline;
  }

  .last {
    span,
    a {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }

  a,
  li a {
    display: inline-block;
    margin-right: $default-spacing * 1.25;
    padding: $default-spacing 0;

    color: lighten($black, 50%);

    &:hover {
      color: $black;
    }

    &.active {
      color: $black;
      font-weight: $font-weight-regular;
      text-decoration: underline;
    }

    &.last {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }
}


// =============================================================================
// DEFAULT STYLING
// =============================================================================
//
.navigation-wrapper {
  @include zen-grid-item($grid-66, 1);
 	@include rgba-background($white, .95);
  @extend .grid-wrapper;

  position: absolute;
  width: 100%;

  &.fixed {
    margin-top: $topbar-min-height; // Variable in: _ddbasic.layout.scss
    position: fixed;
    top: 0;
    z-index: 99;
  }

}

.navigation-inner {
  @extend .grid-inner;
}


// -----------------------------------------------------------------------------
// Main menu
// -----------------------------------------------------------------------------
//
.main-menu-wrapper {
  @include zen-grid-item($grid-66, 1);
}

.main-menu {
  @include rem('font-size', $theme-font-size * 1.3);
  @extend %navigation;

  a {
    text-align: left;
  }
}


// -----------------------------------------------------------------------------
// Secondary menu
// -----------------------------------------------------------------------------
//
.secondary-menu-wrapper {
  @include zen-grid-item($grid-33, 1, right);
}

.secondary-menu {
  @include zen-float(right);
  @include rem('font-size', $theme-font-size);
  @extend %navigation;

  span {
    border-right: 1px solid $gray;
  }

  li a {
    color: lighten($black, 50%);
    margin-top: $default-spacing;
    margin-left: $default-spacing;
    padding-top: 0;
    padding-bottom: 0;
  }

}


// -----------------------------------------------------------------------------
// Tertiary menu
// -----------------------------------------------------------------------------
//
.tertiary-menu-wrapper {
  @extend .block;

  padding: $default-spacing;
}