// =============================================================================
// Blocks
// =============================================================================


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//
%block {
  @include border-radius($block-border);
  @include box-sizing(border-box);

  select {
    width: 100%;
  }

  i[class^="icon-"] {
    @extend %read-more-icon;
  }

  .block-content {
    padding: 20px;
  }

  .read-more {
    @extend %read-more-link;
  }
}


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
.block {
  @include box-shadow(inset 0 0 15px darken($block-bg, 10%));
  @include border-radius($block-border);
  @include box-sizing(border-box);
  @include rgba-background($block-bg, $block-bg-transparency);
  @extend %block;

  color: $block-color;
}

.block-title {
  @include rem('margin-bottom', $default-spacing / 1.5);

  line-height: 100%;
}


// =============================================================================
// Mediaqueries
// =============================================================================
//
