// =============================================================================
// Layout
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//
$topbar-text-color:               #fff;
$topbar-font-size:                30px;
$topbar-min-height:               85px;


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//


// **
// Grid styling
// **
//
.grid-inner {
	max-width: $grid-max-width;
}


// -----------------------------------------------------------------------------
// Topbar, site name, slogan and logo
// -----------------------------------------------------------------------------
//
.topbar {
  @include rgba-background($black, $block-bg-transparency);

  min-height: $topbar-min-height;
  position: fixed;
  width: 100%;
  z-index: 99;

  .topbar-inner {
    @extend .grid-inner;

    min-height: $topbar-min-height;
    position: relative;
  }  
}

.pane-pane-header {
  @include zen-grid-item($grid-33, 1);
}

.site-name {
  @include rem('font-size', $topbar-font-size);

  margin-top: ($topbar-min-height / 2) - ($topbar-font-size / 2) - 3px;
  margin-bottom: 0;

  a,
  a:link,
  a:visited,
  a:active {
    background-color: transparent;
    color: $topbar-text-color;
  }
}

.site-name-with-slogan {
  @extend .site-name;

  margin-top: ($topbar-min-height / 2) - $topbar-font-size;
}

.site-slogan {
  color: $topbar-text-color;
  margin-top: $default-spacing / 2;
  margin-left: 2px;
}

.logo {
  @include zen-grid-item($grid-33, 1);
}


// **
// Layout
// **
//
.content-wrapper {
  @extend .grid-wrapper;

  // Calculate margin top based on height of
  // navigation (line height and 2 times default spacing)
  // and topbar height. Then add default spacing.
  margin-top: ($theme-line-height + ($default-spacing * 2)) + $topbar-min-height + $default-spacing;
}

.front {
  .content-wrapper {
    margin-top: ($theme-line-height + ($default-spacing * 2)) + $default-spacing;
  }
}


.primary-content,
.secondary-content,
.tertiary-content {
  margin-bottom: $default-spacing;

  .grid-inner {
    padding: $default-spacing;
  }
}


.facet-browser {
  @extend .tertiary-menu-wrapper;
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
@include small() {
  .topbar {
    position: relative;
    margin-top: 0;
  }

  .content-wrapper {
    margin-top: $default-spacing;
  }
}

@include medium() {
  .topbar {
    position: relative;
    margin-top: 0;
  }

  .content-wrapper {
    margin-top: $default-spacing;
  }
}