// =============================================================================
// Miscellaneous, various rules not covered in other files.
// =============================================================================


// =============================================================================
// Variables
// =============================================================================
//


// =============================================================================
// Extends
// =============================================================================
//
%section-title {
  margin-top: 0;
  margin-left: 10px;
}


// =============================================================================
// Default styling
// =============================================================================
//
.js-fixed-element {
  display: none;
}


.footer {
  padding-top: 30px;
}

.footer-block {
  @extend %block;
  @extend %link-inverted;

  background-color: transparent;
  color: $white;

  .block-title {
    color: $white;
  }
}


.assistive-text {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}


// **
// Signature
// **
//
.signature {
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;

  margin-bottom: $default-spacing;
  padding-top: $default-spacing;
  padding-bottom: $default-spacing;

  .signature-image {
    img {
      float: left;
      margin-top: $default-spacing / 4;
      margin-right: $default-spacing;
     }
  }

  .signature-label {
    display: inline-block;
    min-width: 125px;
  }
}


// =============================================================================
// Mediaqueries
// =============================================================================

