// =============================================================================
// Buttons
// =============================================================================
//


// =============================================================================
// VARIABLES
// =============================================================================
//


// =============================================================================
// EXTENDS
// =============================================================================
//
// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
//
%button {
  @include border-radius($button-border-radius);

  position: relative;

  padding-top: 7px;
  padding-right: 18px;
  padding-bottom: 1px;
  padding-left: 18px;

  background-color: $button-primary-bg-color;
  border: 0;
  color: $button-text-color;
  cursor: pointer;

  .icon {
    @include border-right-radius($button-border-radius);

    position: absolute;
    right: -23px;
    top: 0;
    bottom: 0;

    border-left: 1px solid rgba(0,0,0,.3);
    padding: 7px 10px;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-primary-bg-color, 10%);
  }
  &:visited {
    color: $button-text-color;
  }
}

%primary {
  background-color: $button-primary-bg-color;

  .icon {
    background-color: darken($button-primary-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-primary-bg-color, 15%);
    .icon {
      background-color: darken($button-primary-bg-color, 20%);
    }
  }
}

%success {
  background-color: $button-success-bg-color;

  .icon {
    background-color: darken($button-success-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-success-bg-color, 15%);
    .icon {
      background-color: darken($button-success-bg-color, 20%);
    }
  }
}

%warning {
  background-color: $button-warning-bg-color;

  .icon {
    background-color: darken($button-warning-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-warning-bg-color, 15%);
    .icon {
      background-color: darken($button-warning-bg-color, 20%);
    }
  }
}

%danger {
  background-color: $button-danger-bg-color;

  .icon {
    background-color: darken($button-danger-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-danger-bg-color, 15%);
    .icon {
      background-color: darken($button-danger-bg-color, 20%);
    }
  }
}

%info {
  background-color: $button-info-bg-color;

  .icon {
    background-color: darken($button-info-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-info-bg-color, 15%);
    .icon {
      background-color: darken($button-info-bg-color, 20%);
    }
  }
}


// =============================================================================
// DEFAULT STYLING
// =============================================================================
//
.button {
  display: inline-block;
  margin-bottom: 0;
  padding: 4px 12px;

  background: $button-bg-color;
  border: none;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  cursor: pointer;
  font-size: $theme-font-size;
  text-align: center;
  vertical-align: middle;

  // Hover state
  &:hover {
    background: darken($button-bg-color,10%);
    text-decoration: none;
  }


  // Focus state for keyboard and accessibility
  &:focus {
  }


  // Active state
  &.active,
  &:active {
    @include box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05));

    outline: 0;
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    @include opacity(0.65);
    @include box-shadow(none);

    cursor: default;
  }

}


.button,
a.button {
  @extend %button;

  &.available {
    @extend %success;
  }
}


// Don't use native buttons on iOS
input[type=submit].button,
button.button {
  -webkit-appearance: none;
}


// Correct FF button padding
@-moz-document url-prefix() {
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none; padding: 0;
  }
}


// =============================================================================
// MEDIAQUERIES
// =============================================================================
