// =============================================================================
// LABELS & BADGES
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//
$label-bg-inverted:             #fff;


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
// **
// Base classes
// **
.label,
.badge {
  font-size: $theme-font-size * .946;
  line-height: 14px; // ensure proper line-height if floated
  color: $button-text-color;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  background-color: $button-bg-color;
}
// **
// Set unique padding and border-radii
// **
.label {
  padding: 1px 4px 2px;
  @include border-radius(3px);
}

.badge {
  padding: 1px 9px 2px;
  @include border-radius(9px);
}

// **
// Links
// **
a {
  &.label:link,
  &.badge:link {
    color: $button-text-color;
  }
  
  &.label:hover,
  &.badge:hover {
    color: $button-text-color;
    text-decoration: none;
    cursor: pointer;
  }
}


// **
// Colors
// Only give background-color difference to links (and to simplify, we don't qualifty with `a` but [href] attribute)
// Important
// **
.label-important, 
.badge-important { 
  background-color: $button-danger-bg-color; 
}

.label-important[href],
.badge-important[href] { 
  background-color: darken($button-danger-bg-color, 10%); 
}

// Warnings
.label-warning, 
.badge-warning {
  background-color: $button-warning-bg-color;
}

.label-warning[href], 
.badge-warning[href] { 
  background-color: darken($button-warning-bg-color, 10%);
}

// Success
.label-success, 
.badge-success { 
  background-color: $button-success-bg-color; 
}

.label-success[href], 
.badge-success[href] { 
  background-color: darken($button-success-bg-color, 10%); 
}

// Info
.label-info, 
.badge-info { 
  background-color: $button-info-bg-color; 
}

.label-info[href], 
.badge-info[href] { 
  background-color: darken($button-info-bg-color, 10%); 
}

// Inverse
.label-inverse, 
.badge-inverse { 
  background-color: $label-bg-inverted; 
}

.label-inverse[href], 
.badge-inverse[href] { 
  background-color: darken($label-bg-inverted, 10%);
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
