// =============================================================================
// Carousel
// =============================================================================
//


// =============================================================================
// Variables
// =============================================================================
//
$carousel-background-color:                $white;
$carousel-image-width:                     200px;
$carousel-image-max-height:                250px;
$carousel-tab-background-color:            transparentize($black, .5);
$carousel-active-tab-background-color:     $black;
$carousel-tab-color:                       $white;
$carousel-title-font-size:                 24px;


// =============================================================================
// Extends
// =============================================================================
//


// =============================================================================
// Default styling
// =============================================================================
//
.rs-carousel-wrapper {
  @include zen-grid-container;
}

.rs-carousel {
  @include zen-grid-item($grid-column-count, 1);

  padding: 0;
}

.rs-carousel-inner {
  background-color: $carousel-background-color;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}


// -----------------------------------------------------------------------------
// Pagination and previous and next buttons
// -----------------------------------------------------------------------------
//
.rs-carousel-pagination {
  display: none;
}

.rs-carousel-action-prev,
.rs-carousel-action-next {
  top: 165px;

  &.rs-carousel-action-disabled {
    @include opacity(.5);
  }
}

.rs-carousel-action-prev {
  left: 40px;
}

.rs-carousel-action-next {
  right: 40px;
}

// -----------------------------------------------------------------------------
// Carousel content, mask, title etc.
// -----------------------------------------------------------------------------
//
.rs-carousel-title {
  @include box-sizing(border-box);
  @include rem('font-size', $carousel-title-font-size);
  @include font-bold();

  color: transparentize($black, .3);
  margin-bottom: 20px;
}

.rs-carousel-mask {
  li {
    margin-right: 20px;
    position: relative;
    width: $carousel-image-width;

    img {
      min-width: 100%;
      padding: 0;
    }

    a {
      max-height: $carousel-image-max-height;
      width: $carousel-image-width;
    }

    .rs-carousel-item-title {
      @include box-sizing(border-box);

      background-color: transparentize($black, .25);
      bottom: 0;
      color: $white;
      left: 0;
      padding-top: 10px;
      padding-right: 15px;
      padding-bottom: 10px;
      padding-left: 15px;
      position: absolute;
    }
  }
}


// -----------------------------------------------------------------------------
// Carousel tabs
// -----------------------------------------------------------------------------
//
.rs-carousel-tabs {
  ul {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;

    li {
      a {
        background-color: $carousel-tab-background-color;
        color: $carousel-tab-color;
        display: block;
        margin-right: 1px;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover {
          background-color: $carousel-active-tab-background-color;
          text-decoration: none;
        }
      }

      &.active {
        a {
          @include font-bold();

          background-color: $carousel-active-tab-background-color;

          &:before {
            @include pseudo-arrow(10px, $carousel-active-tab-background-color, top, center, $offset: 20px);
          }
        }
      }
    }
  }
}
