// =============================================================================
// User
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//
// **
// Icons
// **
//
%inline-icons {
  @include opacity(.25);

  margin-left: 15px;
  position: absolute;

  font-size: $theme-font-size * 2.2;
}


%inline-icon-input {
  @include box-sizing(border-box);
  @include border-radius(12px);

  display: inline;
  padding-left: 45px;

  border: 0;
}

// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
.header-wrapper {
  .user {
    @include zen-grid-item($grid-50, 1, right);
    @extend %header-sections;

    margin-right: 0;
    padding-left: 0;
  }
}

.user {
  .user-field-wrapper {
    display: block;
    margin-left: 40px;
  }

  .form-item {
    margin-top: 0em;
    display: inline;
  }
  .form-actions {
    display: inline;
  }

  i[class^="icon-"] {
    @extend %inline-icons;

    top: 13px;
  }

  input[type="text"],
  input[type="password"] {
    @include rem('font-size', $theme-font-size * 1.3);
    @extend %inline-icon-input;

    min-width: 211px;
    min-height: 60px;
    margin-right: $default-spacing / 2;
  }

  input[type="submit"] {
    @include border-radius(12px);
    @extend %button;

    display: inline;
    min-height: 60px;
    position: absolute;
  }

}

.topbar {
  .user {
    @include rem('font-size', $theme-font-size * 1.4);

    display: none;

    a {
      @include border-radius(12px);

      background-color: $black;
      color: $white;
      cursor: pointer;
      display: inline-block;
      padding: 12px 25px 10px;
      text-align: center;

      &:hover {
        text-decoration: none;
      }

      &.active {
        background-color: $font-color-primary;
      }
    }

    i[class^="icon-"] {
      @extend %read-more-icon;
    }

    &.fixed {
      display: block;
    }
  }
}

.user-login-block {
  @extend %block;

  display: none;
  max-width: 425px;
  position: absolute;
  z-index: 99;

  &:before {
    @include pseudo-arrow(25px, $font-color-primary, top, right, 50px);
  }

  .user-field-wrapper {
    position: relative;

    i[class^="icon-"] {
      @extend %inline-icons;

      color: #000;
      top: 15px;
    }
  }

  .user-close-container {
    @include rem('font-size', $theme-font-size * 1.25);

    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;

  }

  .user-login-link {
    @extend .pull-right;

    margin-top: 15px;
    margin-right: 10px;

    a {
      color: #fff;
    }
  }

  .user-create-link {
    clear: both;
    padding-top: 20px;
    text-align: right;
  }

  input[type="text"],
  input[type="password"] {
    @include rem('font-size', $theme-font-size * 1.3);
    @extend %inline-icon-input;

    margin-bottom: $default-spacing;
    width: 100%;
  }

  input[type="submit"] {
    @include border-radius(12px);
    @extend %button;
    @extend .pull-right;

    display: inline;
  }

}

// Placing the user menu in header
.user-menu {
  @include zen-grid-item($grid-50, 1, right);
  @extend %header-sections;

  margin-top: 80px;
  text-align: right;

  ul {
    @extend %navigation;

    margin-top: $default-spacing / 3;
    text-align: right;

    li {
      a {
        color: $white;
        margin-right: $default-spacing / 4;
        padding-top: 0;
        padding-bottom: 0;                
      }
    }
  }

  .user-menu-title {
    color: transparentize($black, .5);

    .user-login-user-name {
      color: $black;
    }
  }
}


// =============================================================================
// MEDIAQUERIES
// =============================================================================
//
