// =============================================================================
// DDBasic Typography
// =============================================================================
//


// =============================================================================
// VARIABLES
// =============================================================================
//


// =============================================================================
// EXTENDS
// =============================================================================
//
%link-inverted {
  a {
    &:link {
      color: $link-color-inverted;
      text-decoration: none;
    }
    &:visited {
      color: darken($link-color-inverted, 15%);
    }
    &:hover {
      color: $link-color-inverted-hover;
      text-decoration: underline;

      i[class^="icon-"] {
        text-decoration: none;
      }
    }
    &:focus {
      color: $link-color-inverted-hover;
    }
  }
}


%link-special {
  a {
    &:link {
      color: $link-color-special;
      text-decoration: none;
    }
    &:visited {
      color: darken($link-color-special, 15%);
    }
    &:hover {
      color: $link-color-special-hover;
      text-decoration: underline;

      i[class^="icon-"] {
        text-decoration: none;
      }
    }
    &:focus {
      color: $link-color-special-hover;
    }
  }
}


// =============================================================================
// DEFAULT STYLING
// =============================================================================
//
body {
  @include rem('font-size', $theme-font-size);

  color: $font-color-primary;
  font-family: $theme-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include rem('line-height', $theme-line-height * 1.25);

  a {
    &:link {
      color: $text-primary-color;
      text-decoration: none;
    }
    &:visited {
      color: $text-primary-color;
    }
    &:hover {
      color: darken($text-primary-color, 25%);
    }
    &:focus {
      color: $link-color-hover;
    }
    &:active {
      background-color: transparent;
      color: $text-selection-color;
    }
  }
}

input,
textarea,
select {
  font-family: $theme-font-family;
  letter-spacing: 1px;
}


strong {
  font-family: $font-bold;
  font-weight: $theme-font-weight-bold;
}


em {
  font-family: $font-light-italic;
  font-weight: $theme-font-weight-normal;

  strong {
    @extend strong;

    font-family: $font-bold-italic;
  }
}


// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
//
a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }
  &:visited {
    color: darken($link-color, 15%);
  }
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;

    i[class^="icon-"] {
      text-decoration: none;
    }
  }
  &:focus {
    color: $link-color-hover;
  }
}


// -----------------------------------------------------------------------------
// Miscellaneous
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
