// =============================================================================
// Global extends
// =============================================================================
//
%grid-padding {
  padding-left: 10px;
  padding-right: 10px;
}


%reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// **
// Horizontal definition lists
// **
//
%term-horizontal {
  float:left;
  width: 20%;
}


%data-horizontal {
  padding-left: 25%;
}


// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Read more
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//
%read-more-icon {
  float: left;
  margin-right: 5px;
  text-decoration: none;
}


%read-more-link {
  display: block;
  margin-top: $default-spacing;
}


// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Availability
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//
%availability {
  color: #fff;
  padding: $default-spacing / 4 $default-spacing / 1.5;

  a {
    color: #fff;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }
}

%availability-pending {
  @extend %availability;

  background-color: #696a69;
}

%availability-processed {
  @extend %availability;

  background-color: #ed1e88;
}

%availability-available {
  @extend %availability;

  background-color: #4c9f45;
}

%availability-reservable {
  @extend %availability;

  background-color: #ea9123;
}

%availability-available-reservable {
  @extend %availability;

  background-color: #4c9f45;
}

%availability-available-not-reservable {
  @extend %availability;

  background-color: #0072bc;
}
