// =============================================================================
// DDBasic Default element styles
// =============================================================================
//


// =============================================================================
// VARIABLES
// =============================================================================
//


// =============================================================================
// EXTENDS
// =============================================================================
//


// =============================================================================
// DEFAULT STYLING
// =============================================================================
//
body {
  background: url('../images/body.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}


ul {
  padding-left: $default-spacing;
}


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  
  border-top: 1px solid $gray;
  margin: 0;
  padding: 0;  
  width: 100%;
  
  line-height: $theme-font-size * 3;
}


// =============================================================================
// MEDIAQUERIES
// =============================================================================
//