// =============================================================================
// Media queries
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//
$breakpoint-small:    480px;
$breakpoint-medium:   768px;
$breakpoint-large:    940px;


// **
// The respond-to mixin
// **
//
@mixin respond-to($media) {

	// Sizes
	@if $media == small {
		@media only screen and (max-width: $breakpoint-small) { @content; }
	}

	@else if $media == medium {
		@media only screen and (min-width: $breakpoint-small + 1) and (max-width: $breakpoint-medium) { @content; }
	}

	@else if $media == large {
		@media only screen and (min-width: $breakpoint-medium + 1) and (max-width: $breakpoint-medium) { @content; }
	}

	@else if $media == x-large {
		@media only screen and (min-width: $breakpoint-large + 1) { @content; }
	}

}


// **
// Size mixins
// **
//
@mixin small {
  @include respond-to(small) { @content; }
}

@mixin medium {
  @include respond-to(medium) { @content; }
}

@mixin large {
  @include respond-to(large) { @content; }
}

@mixin x-large {
  @include respond-to(xlarge) { @content; }
}
