// =============================================================================
// Attachments
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// 4 columns side by side
// -----------------------------------------------------------------------------
//
// -------------------------------
// |   1   |  2   |  3   |   4   |
// -------------------------------
//
@mixin attachment-25-25-25-25 {
  .attachment-first {
    @include zen-grid-item($grid-25, 1);
  }

  .attachment-second {
    @include zen-grid-item($grid-25, $grid-25 + 1);
  }

  .attachment-third {
    @include zen-grid-item($grid-25, $grid-25 + 1, right);
  }

  .attachment-fourth {
    @include zen-grid-item($grid-25, 1, right);
  }
}


// -----------------------------------------------------------------------------
// 3 column + 1 stacked (4th column optional)
// -----------------------------------------------------------------------------
//
// -------------------------------
// |    1    |    2    |    3    |
// -------------------------------
// -------------------------------
// |         Attachment 4        |
// -------------------------------
//
@mixin attachment-33-33-33-100 {
  .attachment-first {
    @include zen-grid-item($grid-33, 1);
  }

  .attachment-second {
    @include zen-grid-item($grid-33, $grid-33 + 1);
  }

  .attachment-third {
    @include zen-grid-item($grid-33, 1, right);
  }

  .attachment-fourth {
    @include zen-clear(both);
    @include zen-grid-item($grid-column-count, 1);
  }
}


// -----------------------------------------------------------------------------
// 2 columns side by side + 2 stacked
// -----------------------------------------------------------------------------
//
// -------------------------------
// | Attachment 1 | Attachment 2 |
// -------------------------------
// -------------------------------
// |         Attachment 3        |
// -------------------------------
// -------------------------------
// |         Attachment 4        |
// -------------------------------
//
@mixin attachment-50-50-100-100 {
  .attachment-first {
    @include zen-grid-item($grid-50, 1);
  }

  .attachment-second {
    @include zen-grid-item($grid-50, 1, right);
  }

  .attachment-third {
    @include zen-clear();
    @include zen-grid-item($grid-column-count, 1);
  }

  .attachment-fourth {
    @include zen-clear();
    @include zen-grid-item($grid-column-count, 1);
  }
}

// -----------------------------------------------------------------------------
// 2 columns side by side
// -----------------------------------------------------------------------------
//
// -------------------------------
// | Attachment 1 | Attachment 2 |
// -------------------------------
// -------------------------------
// | Attachment 3 | Attachment 4 |
// -------------------------------
//
@mixin attachment-50-50-50-50 {
  .attachment-first {
    @include zen-grid-item($grid-50, 1);
  }

  .attachment-third {
    @include zen-clear(both);
    @include zen-grid-item($grid-50, 1);
  }

  .attachment-second,
  .attachment-fourth {
    @include zen-grid-item($grid-50, 1, right);
  }
}

// -----------------------------------------------------------------------------
// Columns stacked
// -----------------------------------------------------------------------------
//
// -------------------------------
// |         Attachment 1        |
// -------------------------------
// -------------------------------
// |         Attachment 2        |
// -------------------------------
// -------------------------------
// |         Attachment 3        |
// -------------------------------
// -------------------------------
// |         Attachment 4        |
// -------------------------------
//
@mixin attachment-100-100-100-100 {
  .attachment-first,
  .attachment-second,
  .attachment-third,
  .attachment-fourth {
    @include zen-clear();
    @include zen-grid-item($grid-column-count, 1);
  }
}
