// =============================================================================
// Extend classes
// =============================================================================
//
%grid-padding {
  padding-left: 10px;
  padding-right: 10px;
}


%header-sections {
  @include zen-grid-item($grid-50, 1);

	margin-top: 70px;
	margin-bottom: 70px;
  padding: 0;
  position: relative;
}


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
//
%link-inverted {
  a {
    &:link {
      color: $link-color-inverted;
      text-decoration: none;
    }
    &:visited {
      color: darken($link-color-inverted, 15%);
    }
    &:hover {
      color: $link-color-inverted-hover;
      text-decoration: underline;

      i[class^="icon-"] {
        text-decoration: none;
      }
    }
    &:focus {
      color: $link-color-inverted-hover;
    }
  }
}


%link-special {
  a {
    &:link {
      color: $link-color-special;
      text-decoration: none;
    }
    &:visited {
      color: darken($link-color-special, 15%);
    }
    &:hover {
      color: $link-color-special-hover;
      text-decoration: underline;

      i[class^="icon-"] {
        text-decoration: none;
      }
    }
    &:focus {
      color: $link-color-special-hover;
    }
  }
}


// -----------------------------------------------------------------------------
// Read more
// -----------------------------------------------------------------------------
//
%read-more-icon {
  float: left;
  margin-right: 5px;
  text-decoration: none;
}


%read-more-link {
  display: block;
  margin-top: $default-spacing;
}


// -----------------------------------------------------------------------------
// Icons
// -----------------------------------------------------------------------------
//
%inline-icons {
  @include opacity(.25);

  margin-left: 15px;
  position: absolute;

  font-size: $theme-font-size * 2.2;
}


%inline-icon-input {
  @include box-sizing(border-box);
  @include border-radius(12px);

  display: inline;
  padding-top: 10px;
  padding-left: 45px;

  border: 0;
}


// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
//
%button {
  @include border-radius($button-border-radius);

  position: relative;

  padding-top: 7px;
  padding-right: 18px;
  padding-left: 18px;

  background-color: $form-button-bg-color;
  border: 0;
  color: $form-button-text-color !important;
  cursor: pointer;

  .icon {
    @include border-right-radius($button-border-radius);

    position: absolute;
    right: -23px;
    top: 0;
    bottom: 0;

    border-left: 1px solid rgba(0,0,0,.3);
    padding: 7px 10px;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($form-button-bg-color, 15%);
  }
  &:visited {
    color: $form-button-text-color;
  }
}
%primary {
  background-color: $button-primary-bg-color;

  .icon {
    background-color: darken($button-primary-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-primary-bg-color, 15%);
    .icon {
      background-color: darken($button-primary-bg-color, 20%);
    }
  }
}
%success {
  background-color: $button-success-bg-color;

  .icon {
    background-color: darken($button-success-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-success-bg-color, 15%);
    .icon {
      background-color: darken($button-success-bg-color, 20%);
    }
  }
}
%warning {
  background-color: $button-warning-bg-color;

  .icon {
    background-color: darken($button-warning-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-warning-bg-color, 15%);
    .icon {
      background-color: darken($button-warning-bg-color, 20%);
    }
  }
}
%danger {
  background-color: $button-danger-bg-color;

  .icon {
    background-color: darken($button-danger-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-danger-bg-color, 15%);
    .icon {
      background-color: darken($button-danger-bg-color, 20%);
    }
  }
}
%info {
  background-color: $button-info-bg-color;

  .icon {
    background-color: darken($button-info-bg-color, 5%);
  }
  &:hover,
  &:active,
  &:focus {
    background-color: darken($button-info-bg-color, 15%);
    .icon {
      background-color: darken($button-info-bg-color, 20%);
    }
  }
}