// =============================================================================
// Search
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//

$search-border-size: 1px;
$search-border-type: solid;


// -----------------------------------------------------------------------------
// Extends
// -----------------------------------------------------------------------------
//
%inline-icons {
  @include opacity(.25);

  margin-left: 15px;
  position: absolute;

  font-size: $theme-font-size * 2.2;
}


%inline-icon-input {
  @include box-sizing(border-box);
  @include border-radius(12px);

  display: inline;
  padding-left: 45px;

  border: 0;
}


// -----------------------------------------------------------------------------
// Markup overrides
// -----------------------------------------------------------------------------
//
input#edit-search-block-form--2.spinner {
  background-image: none;
}


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
%search {
  i[class^="icon-"] {
    @include opacity(.25);

    margin-left: 15px;
    position: absolute;

    font-size: $theme-font-size * 2;

    top: 15px;
    z-index: 10;
  }

  input[type="text"] {
    @include rem('font-size', $theme-font-size * 1.7);
    @include box-sizing(border-box);
    @include border-radius(12px);

    display: inline;
    padding-top: 0;
    padding-left: 45px;

    border: 0;

    min-height: 60px;

    left: 0;
    width: 100%;

  }

  input[type="submit"] {
    @extend %button;

    position: absolute;
  }

  .spinner {
    i[class^="icon-"] {
      @extend .icon-spin;
      @extend .icon-spinner;

      font-size: $theme-font-size * 1.5;
      margin-left: 17px;
      top: 22px;
    }
  }
}


.search {
  @include zen-grid-item($grid-50, 1);
  @extend %header-sections;
  @extend %search;

  border-right: 1px solid $link-color;

  padding-right: 0;

  .search-field-wrapper {
    margin-right: 50px;
  }

  .form-item {
     margin-top: 0em;
  }

  input[type="submit"] {
    min-height: 60px;
    right: 48px;
    top:0;
  }

  .help-link {
    @extend .pull-right;

    display: block;
    margin-top: $default-spacing / 2;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}


.search-compact {
  @extend %search;

  margin-top: 10px;
  position: absolute;
  right: 160px;

  .search-field-wrapper {
    min-width: 400px;
    position: relative;
  }

  input[type="text"] {
    @include rem('font-size', $theme-font-size * 1.5);

    min-height: 30px;
    padding-top: 5px;
    padding-left: 40px;
  }

  input[type="submit"] {
    @include rem('font-size', $theme-font-size * 1.4);
    @extend %button;

    background-color: $font-color-primary;
    height: 40px;
    position: absolute;
    right: -2px;
    top:0;
  }

  i[class^="icon-"] {
    @include rem('font-size', $theme-font-size * 1.7);
    @extend %inline-icons;

    top: 13px;
  }
}


// Facet browser styling
// **
//
.pane-ding-facetbrowser {

  // General link rules for facet browser.
  a:link {
    text-decoration:none;
  }
  a:visited {
    color: $link-color;
  }

  // Facetbrowser title.
  h2 {
    @extend .text-largest;
  }

  // Specific font color for headings and result count.
  h2,
  .fieldset-legend,
  .count {
    color: $gray-darker;
  }

  // Override Drupal system style
  input.form-checkbox {
    vertical-align: bottom;
  }

  // Facet group spacing.
  .form-wrapper {
    margin-top: $default-spacing;
  }


  // Facet title.
  .fieldset-legend {
    @extend .text-larger;
  }

  // Expand facets link.
  .expand {
    margin-right: $default-spacing / 2;

    &:before {
      font-family: "FontAwesome";
      padding-right: $default-spacing / 4;
      text-decoration: none;
      font-size: 1.1em;
    }
  }
  .expand-more {
    @extend .icon-plus-sign;
  }
  .expand-less {
    @extend .icon-minus-sign;
  }

  // Group for selected facets.
  .selected-checkbox-group {
    overflow: hidden;
    margin-bottom: $default-spacing;

    .selected-checkbox {
      background-color: $gray;
      padding: $default-spacing / 4;
    }

    .unselect {
      @extend .expand;
      @extend .pull-right;
      @extend .icon-remove-sign;
    }
  }

  // Group for unselected facets.
  .unselected-checkbox-group {
    clear: right;
  }

  // Group with hidden facets.
  .hidden-facets-group {
    margin-bottom: $default-spacing;
  }

  .expand-facets {
    @extend .expand;
    @extend .pull-right;
  }
  .expand-facets-visible {
    @extend .icon-minus-sign;
  }
  .expand-facets-hidden {
    @extend .icon-plus-sign;
  }
}

// **
// Search results list
// **
//

// Search query & results amount
// Combine these as a page title
.pane-ting-search-search-display-extended-query {
  @extend .pull-left;
  overflow: hidden;
  margin-bottom: $default-spacing;

  #search-query-display {
    @extend .text-largest;

    #search-query-label {
      color: $gray-darker;
    }

    #search-query-string {
      color: $black;
    }
  }
}
.pane-ting-search {
  @extend .pull-right;

  .ting-search-amount-block {
    @extend .text-larger;
    color: $gray-darker;
  }
}

// Sorting, display amount and display format groups
// Combine these as a group floating left and right
.pane-ting-search-sort-form {
  clear: both;
  @extend .pull-left;
  overflow: hidden;
  color: $gray-darker;

  .form-item {
    margin: 0;
  }

  label {
    display: inline;
    margin-right: $default-spacing / 4;
  }

  .description {
    color: $gray-dark;
    text-align: right;
  }

}
.pane-ting-search-records-per-page {
  @extend .pull-right;
  overflow: hidden;
  color: $gray-darker;
  margin-left: $default-spacing;

  a {
    margin-left: $default-spacing / 2;
    padding-right: $default-spacing / 2;
    border-right: $search-border-size $search-border-type $link-color-hover;
    text-decoration: underline;

    &.selected {
      font-weight: bold;
      color: $link-color-hover;
      text-decoration: none;
    }
    &:last-child {
      border-right: none;
    }
  }
}
.pane-ding-toggle-format-toggle {
  @extend .pull-right;
  @extend .pane-ting-search-records-per-page;

  #ding-toggle-format-image {
    height: 0;
  }
}

// Availability explaination legend
.pane-ding-availability-legend {
  clear: both;
  overflow: hidden;

  .availability-legend {
    @extend .pull-right;
    border: none;
    padding: 0;

    .availability-legend-item {
      margin: 0;
      margin-left: $default-spacing / 2;

      .availability-label {
        @extend .text-smallest;
        font-weight: normal;
        color: $gray-darker;
      }
    }
  }
}

// The search results
.pane-search-result {
  clear: both;
  overflow: hidden;
  padding-top: $default-spacing;

  .search-results {
    padding-top: $default-spacing;
    border-top: $search-border-size $search-border-type $gray;

    .list {
      @extend %list;

      .heading {
        margin-bottom: $default-spacing / 2;
      }

      .ting-cover {
        @extend .pull-left;
        width: 15%;
        max-width: 150px;
      }

      .content {
        @extend .pull-left;
      }
    }
  }
}


// -----------------------------------------------------------------------------
// Mediaqueries
// -----------------------------------------------------------------------------
//
