// =============================================================================
// Carousel
// =============================================================================
//


// =============================================================================
// Variables
// =============================================================================
//
$carousel-background-color:                $white;
$carousel-background-transparency:         .9;
$carousel-image-max-width:                 110px;
$carousel-image-border-size:               5px;
$carousel-tab-background-color:            $white;
$carousel-active-tab-background-color:     $black;
$carousel-title-font-size:                 40px;


// =============================================================================
// Extends
// =============================================================================
//


// =============================================================================
// Default styling
// =============================================================================
//
.rs-carousel-wrapper {
  @include zen-grid-container;
}

.rs-carousel {
  @include zen-grid-item($grid-column-count, 1);

  padding: 0;
}

.rs-carousel-inner {
  @include rgba-background($carousel-background-color, $carousel-background-transparency);
}


// -----------------------------------------------------------------------------
// Pagination and previous and next buttons
// -----------------------------------------------------------------------------
//


// -----------------------------------------------------------------------------
// Carousel content, mask, title etc.
// -----------------------------------------------------------------------------
//
.rs-carousel-inner {
  min-height: ($carousel-image-max-width * 2) + ($carousel-image-border-size * 2);
  padding-top: $default-spacing * 2;
  padding-bottom: $default-spacing;

  .rs-carousel-title {
    @include box-sizing(border-box);
    @include rem('font-size', $carousel-title-font-size);

    padding-top: $default-spacing * 2;
    padding-right: $default-spacing * 4;
    padding-left: $default-spacing * 2;
  }

  .rs-carousel-mask {
    max-height: ($carousel-image-max-width * 2) + ($carousel-image-border-size * 2);

    li {
      @include box-sizing(content-box);

      max-width: $carousel-image-max-width + ($carousel-image-border-size * 2);

      .rs-carousel-item-title {
        @extend .text-small;

        line-height: $theme-line-height / 1.5;
      }

      .rs-carousel-item-image {
        @include border-radius($block-border / 3);
      }

      img {
        padding: 0;
      }
      a {
        min-width: $carousel-image-max-width;
        padding: $carousel-image-border-size;
      }
    }
  }
}


// -----------------------------------------------------------------------------
// Carousel tabs
// -----------------------------------------------------------------------------
//
.rs-carousel-tabs {
  ul {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;

    li {
      a {
        background-color: $carousel-tab-background-color;
        
        &:hover {
          text-decoration: none;
        }
      }

      &.active {
        border-color: $carousel-active-tab-background-color;

        a {
          &:before {
            border-bottom: 8px solid $carousel-active-tab-background-color;
          }
        }
      }
    }
  }
}


// =============================================================================
// Extends
// =============================================================================
//


// =============================================================================
// Mediaqueries
// =============================================================================
//

