// =============================================================================
// Styling for Internet Explorer 8
// =============================================================================
//
img {
  width: auto;
}

.search {
  input[type="text"] {
    min-height: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.topbar .search {
  input[type="text"] {
    min-height: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.not-logged-in {
  .topbar {
    .search {
      margin-right: 111px;
    }
  }
}

.header-wrapper {
  .user {
    input[type="text"],
    input[type="password"] {
      min-height: 0;
      padding-top: 20px;
      padding-bottom: 19px;
    }
  }
}

.topbar {
  .user {
    input[type="submit"] {
      padding-left: 20px;
    }
  }
}

.pane-ding-facetbrowser {
  .expand {
    margin-left: 2px;
  }
}
