// =============================================================================
// Styling for Internet Explorer 8
// =============================================================================
//


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
img {
  width: auto;
}


.search {
  input[type="text"] {
    min-height: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.topbar .search {
  input[type="text"] {
    min-height: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


.user {
  input[type="text"],
  input[type="password"] {
    min-height: 0;
    padding-top: 20px;
    padding-bottom: 19px;    
  }
}
