// =============================================================================
// Styling for Internet Explorer 9
// =============================================================================
//
.pane-ding-facetbrowser input.form-checkbox {
  vertical-align: bottom;
}
