// =============================================================================
// DDBasic wysiwyg styles (ddbasic.wysiwyg.scss)
// =============================================================================
//


// Include compass
@import "compass/css3";

// Include configuration
@import "configuration/_variables";
@import "configuration/_colors";

// Include framework
@import "framework/_mixins";
@import "framework/_normalize";
@import "framework/_base";
@import "framework/_tables";


// Include media queries (displays and attachments)
@import "layout/_typography";


// Custom font
@import "../font/source-sans/stylesheet.css";


body {
  background: #fff;
}

.cke_dialog_ui_hbox_last {
  display: none;
}