/* ==========================================================================
   ting search carousel styling
   ========================================================================== */

/* Compass includes
   ========================================================================== */
@import "compass/css3";


/* Mixins
   ========================================================================== */

/* RGBa background (https://gist.github.com/1949202) */
@mixin rgba-background($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: $rgba;
  zoom: 1;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}


/* Variables
   ========================================================================== */

/* Spacing used to position arrows, below the carousel etc. */
$default-spacing:   20px;

/* Max width and height for the cover images */
$image-max-height:  185px;
$image-max-width:   100px;

/* Colors */
$background-color: #000;

/* Text */
$title-font-size: 30px;

/* Tabs */
$tabs-background-color:         #fff;
$tabs-active-background-color:  #000;
$tabs-active-text-color:        #fff;

.rs-carousel {
  margin-bottom: $default-spacing;
}

.rs-carousel,
.rs-carousel-mask,
.rs-carousel-runner {
  position: relative;
}

.rs-carousel-mask,
.rs-carousel-runner {
  overflow: hidden;
}

.ui-state-disabled {
  @include opacity(1);
}


/* Pagination and previous and next buttons
   ========================================================================== */

.rs-carousel-pagination {
  display: none;
}

.rs-carousel-action-prev,
.rs-carousel-action-next {
  background-image: url('../images/arrows.png');
  height: 41px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 30%;
  width: 41px;
}

.rs-carousel-action-prev {
  left: 25%;
}

.rs-carousel-action-next {
  background-position: right 0;
  right: $default-spacing;
}

.rs-carousel-action-disabled {
  @include opacity(.25);
}

.rs-carousel-disabled .rs-carousel-action-prev,
.rs-carousel-disabled .rs-carousel-action-next {
  display:none;
}

/* Carousel content, mask, title etc.
   ========================================================================== */

.rs-carousel-inner {
  @include rgba-background($background-color, .1);

  min-height: 170px;
  padding-top: $default-spacing * 2;
  padding-bottom: $default-spacing * 2;

  .ajax-loader {
    background: transparent url('../images/ajax-loader.gif') no-repeat right top;
    left: 53%;
    height: 20px;
    position: absolute;
    top: 34%;
    width: 220px;
  }
}

.rs-carousel-title,
.rs-carousel-mask,
.rs-carousel-mask ul {
  display: inline-block;
  vertical-align: top;
}

.rs-carousel-title {
  @include box-sizing(border-box);

  font-size: $title-font-size;
  line-height: 100%;

  max-width: 30%;
  padding-top: $default-spacing * 2;
  padding-left: $default-spacing * 2;
  padding-right: $default-spacing * 3.5;
}

.rs-carousel-mask {
  max-height: $image-max-height;
  max-width: 70%;

  position: absolute;
  right: 3%;
}

.rs-carousel-mask ul {
  margin: 0;
  list-style: none;
}

.rs-carousel-mask ul li {
  float: left;
  max-width: $image-max-width;
  padding-right: $default-spacing;
  text-align: center;
}

.rs-carousel-item-image {
  @include rgba-background($background-color, .1);
  @include border-radius(4px);
  display: block;
}

.rs-carousel-item-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: $default-spacing / 4;
}

.rs-carousel-item-title {
  display: block;
  padding-top: $default-spacing / 4;
}

/* If description is not displayed make sure the mask and prev button a
   positioned correct */
.rs-carousel-compact {
  .rs-carousel-mask {
    max-width: 94%;
  }
  .rs-carousel-action-prev {
    left: 2%;
  }
}

/* Carousel tabs
   ========================================================================== */

.rs-carousel-tabs ul {
  margin: 0;
  position: relative;
  text-align: center;
}

.rs-carousel-tabs ul li {
  border-top: 1px solid lighten(#000, 80%);
  border-right: 1px solid lighten(#000, 80%);
  border-bottom: 1px solid lighten(#000, 80%);
  display: table-cell;
  min-width: 10%; /* Appearantly this make them have equal width in Firefox */
  vertical-align: top;
  text-align: center;
}

.rs-carousel-tabs ul li a {
  background-color: $tabs-background-color;
  display: block;
  padding: $default-spacing $default-spacing * 2;
}

.rs-carousel-tabs ul li.active {
  border-color: lighten(#000, 25%);
}

.rs-carousel-tabs ul li.active a {
  @include rgba-background($tabs-active-background-color, .75);
  color: $tabs-active-text-color;
  position: relative;
}

/* Create the active arrow using a pseudo element */
.rs-carousel-tabs ul li.active a:before {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid lighten(#000, 25%);
  height: 0;
  margin-left: -4px;
  left: 50%;
  position: absolute;
  top: -9px;
  width: 0;
}


/* Mediaqueries
   ========================================================================== */

@media screen and (max-width: 960px) {

  .rs-carousel-inner {
    min-height: 250px;
    padding-top: $default-spacing;
    padding-bottom: $default-spacing;

    .ajax-loader {
      left: 35%;
    }
  }

  .rs-carousel-title {
    display: block;
    padding-top: 0;
    padding-right: $default-spacing;
    padding-bottom: $default-spacing;
    padding-left: $default-spacing;
    max-width: 94%;
  }

  .rs-carousel-mask {
    max-width: 94%;
  }

  .rs-carousel-action-prev {
    left: $default-spacing;
  }

  .rs-carousel-action-prev,
  .rs-carousel-action-next {
    top: 35%;
  }

  .rs-carousel-tabs ul li a {
    padding: $default-spacing $default-spacing / 2;
  }

  .rs-carousel-compact {
    .rs-carousel-inner {
      min-height: 200px;
    }

    .rs-carousel-action-prev,
    .rs-carousel-action-next {
      top: 25%;
    }

  }

}