//
// Styling of p2 elements difened by a class that are formattet the same way,
// no matter what context they appear in.

@import '../base.scss';

// ==========================================================================
// Sharer
// ==========================================================================
.sharer {
  .sharer-button {
    @extend %button;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

// ==========================================================================
// Notifications
// ==========================================================================

.topbar-link-user-account {
  .topbar-link-user-account {
    position: relative;
  }
  .notification-count {
    @include transition(
      color $speed $ease,
      background-color $speed $ease
    );
    @include transform(translateY(-14px));
    position: absolute;
    right: 14px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    color: $color-text-on-primary;
    background-color: $color-primary;

    @include media($mobile) {
      @include transform(translateY(0));
      position: static;
      float: right;
      width: auto;
      height: auto;
      line-height: 20px;
      background-color: transparent;
      color: $color-primary;
    }
  }
  .no-touch & {
    &:hover {
      .notification-count {
        color: $color-standard-text;
        background-color: $white;
      }
    }
  }
}

// ==========================================================================
// Ding type ding list
// ==========================================================================

.ding-type-ding-list {
  .ding-list-title {
    @include font('display-large');
  }
}
