//
// Class specific styling for p2 panels

@import '../base.scss';

// ==========================================================================
// Pane system user menu
// ==========================================================================
.pane-system-user-menu {
  .block-title {
    border-bottom: 1px solid $charcoal-opacity-light;
    padding-bottom: 25px;
  }
  ul.system-user-menu {
    padding: 0;
    margin-bottom: 0;

    li {
      margin-bottom: 20px;
      list-style: none;
    }
  }
}

// ==========================================================================
// Panel list create
// ==========================================================================
.pane-list-create {
  form {
    margin-top: 25px;
    input[type="submit"] {
      float: left;
      width: auto;
      margin-top: 10px;
      margin-right: 20px;
    }
  }
}

// ==========================================================================
// Pane list menu
// ==========================================================================
.pane-list-menu {
  ul.sub-menu {
    li a {
      display: inline;
      padding: 0;
      &:before,
      &:after {
        display: none;
      }
      &.active {
        @include place-icon('arrow-right-small', $color-text, 8px);
        color: $color-text;
        position: relative;
        padding-left: 20px;
        &::after {
          top: 3px;
          left: 0;
        }
      }
    }
  }
}

// ==========================================================================
// Pane share list
// ==========================================================================
.pane-share-list {
  form {
    @include span-columns(4 of 8);

    // Tablet
    @include media($tablet) {
      @include span-columns(6);
    }

    // Mobile
    @include media($mobile) {
      width: 100%;
      margin-right: 0;
    }
    .description {
      margin-top: 5px;
    }
  }
}

// ==========================================================================
// Pane lists
// ==========================================================================
.pane-lists {
  .ding-user-lists {
    h3 {
      @include font('header-large');
      color: $color-text;
      margin-bottom: 20px;

      // Mobile
      @include media($mobile) {
        margin-bottom: 10px;
      }
    }
    ul:not(.bottom-links) {
      width: 100%;
      float: left;
      list-style: none;
      margin-bottom: 60px;
      li {
        width: 100%;
        float: left;
        position: relative;
        padding: 20px;
        a {
          display: block;
          float: left;
          max-width: calc(100% - 40px);
        }
        .signature-label {
          @include font('header-small');
          //Right arrow
          &::after {
            position: absolute;
            right: 10px;
            top: 50%;

            @include transform(translateY(-50%));
            font-family: 'icomoon';
            content: "\e904";
            font-size: 54px;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            color: $charcoal-opacity-dark;
          }
        }
        .label {
          clear: left;
          &:before {
            content: 'Nyt i listen';
            display: block;
            margin-top: 10px;
            color: $charcoal-opacity-dark;
          }
        }
        &:nth-child(2n +1) {
          background-color: $grey;
        }
        &.fines,
        &.reservations,
        &.loan,
        &.user-loan-history {
          padding: 0;
          &:nth-child(2n +1) {
            background-color: transparent;
          }
          .signature-label {
            @include font('header-small');
            display: block;
            position: relative;
            width: 100%;
            max-width: 100%;
            padding: 30px 20px;
            border-radius: $round-corner;
            margin-bottom: 10px;
            background-color: $grey-dark;
            color: $white;

            @include media($notebook) {
              @include font('base');
              font-family: $font-family-bold;
            }

            //Right arrow
            &::after {
              position: absolute;
              right: 10px;
              top: 50%;

              @include transform(translateY(-50%));
              font-family: 'icomoon';
              content: "\e904";
              font-size: 54px;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
            }

            //Hover
            &:hover {
              @include transition(
                background-color $speed $ease
              );
              background-color: $grey-medium;
              color: $white;
            }
          }
          .label {
            @include font('header-small');
            position: absolute;
            top: 30px;
            left: 20px;
            color: $white;
            &:before {
              display: none;
            }
          }
        }
        &.fines,
        &.reservations,
        &.loan {
          .signature-label {
            padding: 30px 20px 30px 50px;
          }
        }
        &.fines {
          .signature-label {
            background-color: $red;
          }
        }
        &.reservations {
          .signature-label {
            background-color: $green;
          }
        }
      }
    }
    ul.bottom-links {
      list-style: none;
      li {
        a {
          float: left;
          margin-right: 20px;
          margin-bottom: 10px;
        }
        &:last-child {
          a {
            margin-right: 0;
          }
        }
      }
    }
  }
}

// ==========================================================================
// Pane lists followers
// ==========================================================================
.pane-list-followers {
  margin-bottom: 60px;
}

// ==========================================================================
// Ding list add button @TODO move to own css file
// ==========================================================================

// In Ding entity buttons
.field-name-ding-entity-buttons {
  .ding-list-add-button {
    .trigger {
      @extend %button;
      margin-bottom: 15px;
    }
    .content {
      @include transition(
        opacity $speed $ease,
        bottom 0s $speed
      );
      position: fixed;
      z-index: $z-header + 1;
      bottom: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: $black-overlay-dark;
      overflow-y: scroll;
      .inner {
        @include transform(translateX(-50%));
        @include span-columns(4);
        @include omega();
        position: absolute;
        top: 100px;
        left: 50%;
        margin-bottom: 50px;
      }
      h2 {
        @include font('header-large');
        width: calc(100% - 100px);
        float: left;
        color: $white;
        margin-bottom: 20px;
      }
      .close {
        @include place-icon(close, $white);
        padding-top: 20px;
        padding-right: 44px;
        float: right;
        color: $white;
        cursor: pointer;
        &:after {
          right: -20px;
        }
      }
      .buttons {
        width: 100%;
        float: left;
        list-style: none;
        li {
          padding: 20px;
          background-color: $white;
          &:nth-child(2n + 1) {
            background-color: $grey;
          }
          > span,
          a {
            @include font('header-small');
          }
        }
      }
    }

    // Open overlay
    &.open-overlay {
      .content {
        @include transition(
          opacity $speed $ease,
          bottom 0s
        );
        bottom: 0;
        opacity: 1;
      }
    }
  }
}

// In search
.pane-search-query {
  .ding-list-add-button {
    .trigger,
    .content h2,
    .close {
      display: none;
    }
    .buttons {
      list-style: none;
      margin: 0;
      li a {
        @extend %button;
        float: right;
        margin-bottom: 15px;
      }
    }
  }
}
