//
// Styling of p2 lists

@import '../base.scss';

// ==========================================================================
// View list
// ==========================================================================
.ding-list-element--display-view-list {
  padding: 20px 0;
  .ding-list-list__owner & {
    &:nth-child(2n+1) {
      background-color: $grey;
    }
  }
  .ding-message {
    .ding-message-label {
      float: left;
      margin-top: 10px;
      padding-right: 5px;
      color: $charcoal-opacity-dark;
    }
    .entity-message {
      float: left;
      margin-top: 10px;
    }
  }
}

.ding-list-element__value {
  @include span-columns(6 of 8);
  padding-left: 15px;

  .ding-entity-rating {
    width: getColumn(5 of 6);
    float: right;
  }

  // Mobile
  @include media($mobile) {
    width: 100%;
    margin-right: 0;
    padding-right: 15px;

    .ding-entity-rating {
      width: getColumn(9);
    }
  }
}

.ding-list-element__remove {
  @include span-columns(2 of 8);
  @include omega();
  padding-right: 15px;

  input[type=submit] {
    margin-bottom: 0;
  }

  // Mobile
  @include media($mobile) {
    float: right;
    width: auto;
    margin-top: 15px;
  }
}

.ding-list-element__title {
  @include font('display-small');
}

.ding-list-list__title {
  @include font('display-large');
}

.ding-list-list__guest {
  .ding-list-list__element-delta {
    display: none;
  }
}

.search-block-form.has-add-list .form-item-search-block-form {
  position: relative;

  // Leaving space for the add-to-list star on the search input element.
  > .form-text {
    padding-right: 40px;
    box-sizing: border-box;
  }

  .ding-list-add-button {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    transform: translateY(-50%);
    text-align: center;

    cursor: pointer;
    font-size: 0;

    &:hover {
      &::after {
        @extend %icon-star;
      }
    }

    &::after {
      @extend %icon-star-outline;
      @extend %icomoon-base;

      font-size: 25px;
      vertical-align: middle;
    }

    .buttons {
      margin: 0;
      padding: 0;
      line-height: 0;
      list-style: none;
    }

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0;
      background: transparent;

      &:hover {
        background: transparent;
      }
    }
  }
}
