//
// Styling of p2 views

@import '../base.scss';

// ==========================================================================
// Draggable views
// ==========================================================================
tr.draggable {
  td:first-child {
    width: getColumn(1 of 8);
  }
  .element-hidden:first-child + td {
    padding-left: 15px;
  }
  .tabledrag-handle {
    width: 20px;
    height: 20px;
    margin-left: 0;
    .handle {
      position: relative;
      background: none;
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
      &:before {
        content: "\e917";
        position: absolute;
        right: 0;
        top: 0;
        font-family: 'icomoon';
        font-size: 20px;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: $charcoal-opacity-dark;
      }
    }
  }
}

// ==========================================================================
// View ding list elements
// ==========================================================================
.view-ding-list-elements {
  caption {
    display: none;
  }
  .views-field-rendered-entity {
    width: getColumn(7 of 8);
    @include omega();
    .ting-object.view-mode-ting-reference-preview,
    .ding-message-link,
    > .entity-ding-type > .content > a,
    .ding-type-ding-list {
      @include span-columns(5 of 7);
    }
    .ting-object.view-mode-ting-reference-preview {
      padding: 0;
      background-color: transparent;
      .cover {
        @include span-columns(1 of 5);
        padding-left: 0;
      }
      .group-text {
        @include span-columns(4 of 5);
        @include omega();
        .field-name-ting-abstract {
          display: none;
        }
      }
      .buttons {
        display: none;
      }
      h2 {
        @include font('header-small');
      }
    }
    .ding-message-link,
    > .entity-ding-type > .content > a {
      @include font('header-small');
    }
    .ding-type-ding-list {
      h2 {
        @include font('header-small');
        margin-bottom: 0;
      }
    }
    .ding-message {
      @include span-columns(5 of 7);
      a {
        display: block;
        float: left;
        &:before {
          content: 'Nyt';
          display: block;
          margin-top: 10px;
          color: $charcoal-opacity-dark;
        }
      }
    }
    form {
      @include span-columns(2 of 8);
      @include omega();
      float: right;
      margin-right: 15px;
      &:last-child {
        margin-right: 15px;
      }
    }
  }
}