/**
 * Drupal
 *
 * Overrides for Drupal specific markup
 *
 * @author magnify, zorp
 */


body.toolbar {
  padding-top: 66px;
}

#edit-cancel {
  margin-left: .3em;
}

label {
  @include font-bold();
}

.form-item,
.form-actions {
  margin-bottom: $medium-spacing;
  margin-top: 0;
}

.form-submit,
#edit-cancel {
  @extend %button-default;
}

.ajax-progress,
.ajax-progress-throbber {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  vertical-align: middle;
  text-align: center;
}

.ajax-progress .throbber {
  @extend .icon-spin;
  @extend .icon-spinner;

  /* Make sure the Drupal throbber is not visible in IE */
  background: none !important;
  color: #000;
  font-family: $base-icon-library-font;
  font-size: 50px;
  height: auto;
  left: 48%;
  position: relative;
  top: 48%;
  width: 50px;
}

html.js .search input.form-autocomplete {
  background-image: none;
  margin-bottom: 0;
}

.search .form-item, .form-actions {
  margin-bottom: 0;
}

.field {
  .field-label {
    @include font-bold();
  }
}

.field-label {
  margin-right: $small-spacing;
}