/**
 * Layout
 *
 * Base layout stuff
 *
 * @author magnify
 */



/* Base
   ========================================================================== */
body {
  background-attachment: fixed;
  background-size: cover;

  @include small-medium-low() {
    &.js-fixed-body {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
    }
  }
}



/* Page
   ========================================================================== */

#page {
  @include zen-grid-container;
}

/* Don't show background in small and medium breakpoint
 *
 * This have to be specific because Drupal adds it inline
 */
#page.ding2-site-template {
  @include small-medium() {
    background-image: none !important;
  }
}



/* Header wrapper
   ========================================================================== */
.header-wrapper {
  background-color: $base-primary-color;

  .header-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    overflow: visible;
  }
}


/* Site header
   ========================================================================== */

.site-header {
  /* Large to x-large breakpoint */
  @include large-x-large() {
    &.js-fixed {
      position: fixed;
      z-index: 99;
      width: 100%;

      .topbar-menu {
        margin-top: 0;
      }

      .site-name-wrapper {
        margin-top: 10px;

        .site-name {
          font-size: $font-size-larger;
        }
      }

      .header-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;

        .user-name {
          display: none !important;
        }
      }

      .navigation-wrapper {
        .menu-item {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  /* Small to medium breakpoint */
  @include small-medium() {
    &.js-fixed {
      .topbar {
        position: fixed;
        z-index: 99;
        width: 100%;
      }
    }
  }
}


/* Site name, slogan and logo
   ========================================================================== */

.topbar {
  background-color: transparentize($black, .15);

  .topbar-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
  }
}

.site-name-wrapper {
  @include zen-grid-item(4, 1);

  margin-top: 30px;

  @include small-medium() {
    @include zen-grid-item(6, 1);

    margin-top: 6px;
  }
}

.site-name {
  font-family: $font-bold;
  font-size: $font-size-largest;
  font-weight: $base-font-weight-bold;
  margin-bottom: 0;

  a,
  a:link,
  a:visited,
  a:active {
    background-color: transparent;
    color: $white;
    text-decoration: none;
  }

  @include small-medium() {
    font-size: $font-size-larger;
  }

  @include small() {
    font-size: $font-size-reset;
  }
}

.site-name-with-slogan {
  @extend .site-name;
}

.site-slogan {
  color: $white;
  margin-top: $medium-spacing;
  margin-left: 2px;
}

.logo {
  @include zen-grid-item(4, 1);
}


/* Content
   ========================================================================== */

.content-wrapper {
  margin-top: $large-spacing;
}

.content-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: visible;
}


/* Layouts
   ========================================================================== */
.frontpage-layout {
  .primary-content,
  .secondary-content,
  .tertiary-content {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .primary-content {
    @include zen-grid-item(12, 1);
  }

  .layout-wrapper {
    @include zen-clear();

    background-color: $white;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .secondary-content {
    @include zen-grid-item(8, 1);
  }

  .tertiary-content {
    @include zen-grid-item(4, 1, right);
  }

  @include small-medium() {
    .primary-content,
    .secondary-content,
    .tertiary-content {
      @include zen-clear();
      @include zen-grid-item(12, 1);
    }
  }

  .attachments-wrapper {
    @include zen-grid-container;
    @include zen-clear();

    margin-bottom: $large-spacing;

    .grid-inner {
      padding: $large-spacing;
    }
  }
}


.default-layout {
  margin-top: $large-spacing;

  .primary-content,
  .secondary-content,
  .tertiary-content {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .primary-content {
    @include zen-grid-item(9, 4);
  }

  .layout-wrapper {
    @include zen-clear();

    background-color: $white;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .secondary-content {
    @include zen-grid-item(3, 1);
  }

  .tertiary-content {
    @include zen-grid-item(12, 1);
    @include zen-clear();
  }

  /* Media queries */
  @include small-medium() {
    .primary-content,
    .secondary-content,
    .tertiary-content {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }
  }

  /* Sidebars! */
  &.sidebars {
    @include medium-large() {
      .primary-content {
        @include zen-grid-item(6, 3 + 1);
      }

      .secondary-content {
        @include zen-grid-item(3, 1);
      }

      .tertiary-content {
        @include zen-grid-item(3, 1, right);
      }
    }
  }

  /* No sidebars... */
  &.empty-sidebars {
    @include medium-large() {
      .primary-content {
        @include zen-grid-item(12, 1);
      }

      .secondary-content {
        @include zen-clear(both);
        @include zen-grid-item(6, 1);
      }

      .tertiary-content {
        @include zen-grid-item(6, 1, right);
      }
    }
  }

  /* Left sidebar only */
  &.left-sidebar {
    @include large() {
      .primary-content {
        @include zen-grid-item(9, 4);
      }
      .secondary-content {
        @include zen-grid-item(3, 1);
      }
    }
  }

  /* Right sidebar only */
  &.right-sidebar {
    @include medium-large() {
      .primary-content {
        @include zen-grid-item(8, 1);
      }

      .tertiary-content {
        @include zen-grid-item(4, 1, right);
      }
    }
  }
}


/* Attachments (aka. blocks/panes)
   ========================================================================== */
.attachment-first {
  @include zen-grid-item(3, 1);
}

.attachment-second {
  @include zen-grid-item(3, 4);
}

.attachment-third {
  @include zen-grid-item(3, 4, right);
}

.attachment-fourth {
  @include zen-grid-item(3, 1, right);
}

.attachments-1-1 {
  .attachment-first {
    @include zen-clear();
    @include zen-grid-item(12, 1);
  }
}

/* Media queries */
@include small() {
  .attachment-first,
  .attachment-third,
  .attachment-second,
  .attachment-fourth {
    @include zen-clear();
    @include zen-grid-item(12, 1);
  }
}

@include medium() {
  .attachment-first,
  .attachment-third {
    @include zen-clear();
    @include zen-grid-item(6, 1);
  }

  .attachment-second,
  .attachment-fourth {
    @include zen-grid-item(6, 1, right);
  }
}

/* Panel layout with 2 panes */
.attachments-2-2 {
  .attachment-first {
    @include zen-grid-item(6, 1);
  }

  .attachment-second {
    @include zen-grid-item(6, 1, right);
  }
}

/* Panel layout with 3 panes */
.attachments-3-3 {
  .attachment-first {
    @include zen-grid-item(4, 1);
  }

  .attachment-second {
    @include zen-grid-item(4, 4 + 1);
  }

  .attachment-third {
    @include zen-grid-item(4, 1, right);
  }
}


/* Footer
   ========================================================================== */

.footer {
  background-color: #262626;
  overflow: hidden;
  padding-top: 30px;

  .pane-title {
    font-size: $font-size-medium;
  }
}

.footer-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: visible;
}

.footer-block {
  background-color: transparent;
  color: $white;
}

.bottom {
  background-color: #191919;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
