/**
 * Typography
 *
 * @author magnify
 */


/* Extends
   ========================================================================== */
%page-heading {
  font-size: 190%;
}

%section-heading {
  @include font-bold();

  font-size: 150%;
}



/* Header variants
   ========================================================================== */

.page-title {
  @extend %page-heading;

  margin-bottom: $large-spacing;
}

.pane-title {
  @extend %section-heading;

  margin-bottom: $medium-spacing;
}


/* Content and elements
   ========================================================================== */

.page-image {
  margin-bottom: $medium-spacing;
}

.page-lead {
  @include font-bold();

  margin-bottom: $medium-spacing;
}

.page-content {
  margin-bottom: $medium-spacing;
}