.ting-carousel .rs-carousel {
  float: none;
}
.ting-carousel .rs-carousel .extra {
  float: right;
}

.ting-carousel .rs-carousel-action {
  z-index:1000;
}

.ting-object.view-mode-compact {
  position: relative;
}

.ting-object.view-mode-compact .ting-cover {
  height: 250px;
}

.ting-object.view-mode-compact .contentbox {
  background-color: #eee;
}

.ting-object.view-mode-compact .field-name-ting-title {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
}

.ting-object.view-mode-compact .field-name-ting-title h2 {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.ting-object.view-mode-compact .field.field-name-ding-serendipity-info.field-label-inline .field-label {
  width: 20px;
  line-height: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 225, 0.75);
  position: absolute;
  z-index: 99;
  top: 10px;
  right: 10px;
}

.ting-object.view-mode-compact .field.field-name-ding-serendipity-info.field-label-inline .field-item {
  position: absolute;
  padding: 10px;
  top: 0;
  z-index: 101;
  background-color: #000;
  color: #fff;
}

.ting-object.view-mode-compact .field.field-name-ding-serendipity-info.field-label-inline .field-item {
  display: none;
}
.ting-object.view-mode-compact .field.field-name-ding-serendipity-info.field-label-inline:hover .field-item {
  display: block;
}