.node .content ul.buttons li.place2book {
  background: url("images/sprite-knapper-reservering.png") no-repeat scroll right 0 transparent;
  background-position: right -30px;
  }
  
.node .content ul.buttons li.place2book a {
  background: url("images/sprite-knapper-reservering.png") no-repeat scroll left -60px transparent;
  background-position: left -90px;
  margin: 0;
  padding: 10px 0 10px 10px;
  }