
.ting-relations {
    background-color: #F6F6F2;
    margin-bottom: 2em;
    margin-top: 2em;
}

.ting-relations .meta {
    border-bottom:1px solid #CCCCCC;
    margin-bottom:0.5em;
    margin-top:0.5em;
}
