#search-extend-form {
  display: none;
}

#search-extend-form.extend-form-show {
  display: block;
}

#search-controls-form div {
  margin: 0;
}

#search-controls-form label,
#search-controls-form label,
#search-extend-form label {
  display: inline;
  margin-right: 1em;
}

#search-controls-form .description,
#search-extend-form .description {
  display: inline;
  margin-left: 1em;
}

#search-controls-form .form-item-size .form-radios {
  display: inline;
}

#search-controls-form .form-item-size .form-radios div {
  display: inline;
}

