
#edit-extend-form label {
  display: inline;
  margin-right: 1em;
}


#search-controls-form .form-item-size .form-radios {
  display: inline;
}

#search-controls-form .form-item-size .form-radios div {
  display: inline;
}

.page-search .pane-ting-search-search-display-extended-query .pane-content {
  padding-top: 0.5em;
  padding-bottom: 0em;
  clear: both;
}

#search-query-display {
  font-size: 0.8em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-top: 1px solid #E7E7E6;
  clear: both;
}

span#search-query-label {
  margin-right: 0.5em;
  font-weight: bold;
}

