/**
 * @file
 * Theming the minimal view_mode of ting-objects.
 */
.ting-object.view-mode-minimal {
  margin-top: 10px;
}

.ting-object.view-mode-minimal h2 {
  font-size: 120%;
  margin-bottom: 0;
}

.ting-object.view-mode-minimal .field-name-ting-author,
.ting-object.view-mode-minimal .field-name-ting-type {
  display: inline-block;
}

.page-search-ting .pane-search-result .panel-pane-inner .pane-content .search-field-in-content--message ul {
  list-style: none;
  margin: auto;
}
