@import '../../base.scss';

.ding-campaign {
  @include span-columns(12);
  position: relative;
  margin-bottom: getGutter();
  // general styles for all campaigns
  .ding-campaign-headline {
    @include font('display-large-bold');
    display: none;
  }
  .ding-campaign-description {
    @include font('display-small');
  }
  a {
   @include span-columns(12);
   position: relative;
   height: 100%;
   z-index: 3;
   color: $color-text-link;
  }
  .no-touch & {
    &:hover {
      a {
        color: $color-text-link-on-dark;
      }
    }
  }
  // campaign layout specific styles
  &.text-on-image {
    background-size: cover;
    background-position: center center;
    &::before {
      @include transition(background-color $speed $ease);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $charcoal-opacity-dark;
      z-index: 1;
    }
    .ding-campaign-text {
      @include span-columns(7);
      position: relative;
      min-height: 455px;
      padding: 50px 30px;
      color: $white;
      z-index: 2;
    }
    &.ding-campaign-medium-width {
      .ding-campaign-text {
        @include span-columns(12);
      }
    }
    .no-touch & {
      &:hover {
        &::before {
          background-color: $charcoal-opacity-extra-dark;
        }
      }
    }
  }
  //image and text in two columns layout
  &.image-and-text {
    background: $color-primary;

    .ding-campaign-text {
      @include span-columns(6);
      float: right;
      padding: 40px 30px 40px 0;
      min-height: 380px;

      @include media($mobile) {
        @include span-columns(12);
        float: none;
        display: block;
      }
    }
    .ding-campaign-image {
      @include span-columns(6);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-size: cover;
      background-position: center center;

      @include media($mobile) {
        @include span-columns(12);
        float: none;
        position: relative;
        display: block;
        min-height: 375px;
      }
    }
    .no-touch & {
      &:hover {
        background: $grey-dark;
      }
    }
  }
  // text only layout
  &.text {
    background: $color-primary;

    .ding-campaign-text {
      @include span-columns(12);
      padding: 40px 30px;

      .ding-campaign-headline {
        @include span-columns(8);
      }

      .ding-campaign-description {
        @include span-columns(6);
      }
    }
    // if text-only layout in medium-width panel
    &.ding-campaign-medium-width {
      .ding-campaign-text {
        .ding-campaign-headline {
          @include span-columns(12);
        }
        .ding-campaign-description {
          @include span-columns(12);
        }
      }
    }
    .no-touch & {
      &:hover {
        background: $grey-dark;
      }
    }
  }
  // image only layout
  &.image {
    .node-type-ding-news &,
    .node-type-ding-eresource &,
    .node-type-ding-event & {
      margin: 20px 0;
    }

    img {
      width: 100%;
    }
  }
}

@include media($mobile) {
  .node-ding-campaign {
    display: none;
    &.mobile-show {
      display: block;

      .ding-campaign-text {
        float: inherit;
        width: auto;
        padding: 50px 30px;

        .ding-campaign-headline {
          width: 100%;
        }

        .ding-campaign-description {
          float: none;
          width: auto;
        }
      }
    }
  }
}

.node-type-ding-campaign {
  .node.node-ding-campaign{
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: auto;
    padding-top: 15px;
  }

  .image {
    img {
      width: auto;
      display: block
    }
  }
}

.ding-campaign-grid-item {
  @include span-columns(3.8 of 12);
  margin: 0 10px 50px 10px;

  h2 {
    margin-bottom: 0px;
    font-size: 120%;
    line-height: 1;
    padding-top: 10px;
    position: absolute;
    width: 200px;
  }

  @include media($tablet) {
    @include span-columns(5.5 of 12);
  }

  @include media($mobile) {
    @include span-columns(3 of 3);
    margin: 0;
    float: none;
    padding-bottom: 15px;
  }

  .ding-campaign-grid-title{
    a {
      color: $color-text;
    }
  }

  .media {
    display: inline-block;
    position: relative;
    vertical-align: top;
  }

  .media__image { display: block; }

  .media__body {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: white;
    font-size: 1em;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0.75em;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }

  .media__body:hover { opacity: 1; }

  .media__body:after,
  .media__body:before {
    bottom: 1em;
    content: '';
    left: 1em;
    opacity: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 0.6s 0.2s;
    transition: 0.6s 0.2s;
  }

  .media__body:before {
    border-bottom: none;
    border-top: none;
    left: 2em;
    right: 2em;
  }

  .media__body:after {
    border-left: none;
    border-right: none;
    bottom: 2em;
    top: 2em;
  }

  .media__body:hover:after,
  .media__body:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  .media__body h2 { margin-top: 0; }

  .media__body p { margin-bottom: 1.5em; }
}
