//
// Styling of content type Ding Library

@import '../../base.scss';

// ==========================================================================
// Teaser
// ==========================================================================

.node-ding-library.node-teaser {
  position: relative;

  .libraries {
    float: left;
    width: 100%;
  }
  .group-ding-library-left-column {
    @include span-columns(3);

    // Tablet
    @include media($tablet) {
      display: none;
    }
  }
  .group-ding-library-right-column {
    @include span-columns(9);
    @include omega();
    margin-bottom: 40px;

    // Tablet
    @include media($tablet) {
      @include span-columns(10);
    }

    a.maps-link {
      float: left;
    }
  }
  a.opening-hours-toggle {
    position: static;
    margin-top: -20px;
    margin-left: getColumn(3) + getGutter(12);

    // Tablet
    @include media($tablet) {
      margin-top: -20px;
      margin-left: 0;
    }
  }
  .libraries-opening-hours {
    @include span-columns(9);
    @include omega();
    margin: 20px 0 30px getColumn(3) + getGutter(12);
    display: none;
    .day {
      .name {
        @include span-columns(2 of 9);
      }
      .times {
        @include span-columns(6 of 9);
        @include omega();
        .instance {
          @include span-columns(2 of 6);
          @include omega(3n);
        }
      }
    }

    // Tablet
    @include media($tablet) {
      @include span-columns(10 of 10);
      display: none;
      margin: 0;
    }
  }
  .page-title {
    @include font('header-small');
    margin: 5px 0 15px;
    a {
      color: $charcoal;
    }
  }
  .field-name-field-ding-library-addresse {
    @include span-columns(3 of 9);

    // Mobile
    @include media($mobile) {
      @include span-columns(10 of 10);
      margin-bottom: 20px;
    }
  }
  .field-name-field-ding-library-phone-number,
  .field-name-field-ding-library-fax-number,
  .field-name-field-ding-library-mail {
    @include span-columns(4 of 9);
    float: right;
    margin-right: getColumn(2 of 9);

    // Mobile
    @include media($mobile) {
      @include span-columns(9 of 9);
      margin-right: 0;
    }
    .field-label {
      width: 100px;
      float: left;
    }
  }
  .field-name-field-ding-library-mail:last-child {
    margin-right: getColumn(2 of 9);
  }
}
