//
// Generel styling for all nodes

@import '../../base.scss';

// ==========================================================================
// View mode search result
// ==========================================================================

.node.view-mode-search-result {
  .content {
    @include transition(
      background-color $speed $ease,
      box-shadow $speed $ease
    );
    min-height: 104px;
    cursor: auto;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color: $grey;
    h3.title {
      width: getColumn(6 of 8);
      margin-bottom: 0;
      color: $charcoal;
      font-weight: normal;
      &:hover {
        color: $color-text-link;
      }
      // Tablet
      @include media($tablet) {
        width: getColumn(10);
      }
      // Mobil
      @include media($mobile) {
        width: 100%;
      }
    }
    .field-type-taxonomy-term-reference {
      width: 100%;
      float: left;
      .field-item {
        float: left;
        margin-right: 6px;
      }
    }
    .field-type-text-long {
      @include span-columns(6 of 8);
      margin-top: 10px;
      // Tablet
      @include media($tablet) {
        width: getColumn(10);
      }
      // Mobil
      @include media($mobile) {
        width: 100%;
      }
    }
  }
  .button {
    float: left;
    margin-top: 15px;
    clear: both;
    background-color: $grey-medium;
    &:hover {
      color: $white;
      background-color: $color-secondary;
    }
  }
}
