//
// Styling of paragraphs

@import '../../base.scss';

// Paragraphs block display
.paragraphs-block {
  position: relative;
  display: inline-block;
  margin: 0 0 $distance-paragraph;
  width: 100%;

  &.half_left {
    float: left;
    margin-right: 5%;
    width: getColumn(6);

    @include media($notebook) {
      width: 100%;
    }

    @include media($tablet) {
      width: 100%;
    }

    @include media($mobile) {
      width: 100%;
    }
  }

  &.half_right {
    float: right;
    margin-left: 5%;
    width: getColumn(6);

    @include media($notebook) {
      width: 100%;
    }

    @include media($tablet) {
      width: 100%;
    }

    @include media($mobile) {
      width: 100%;
    }
  }

  &.one_third_left {
    float: left;
    margin-right: 5%;
    width: 33%;

    .field-name-ting-abstract {
      display: none;
    }

    .ting-object {
      display: block;

      .ting-object-left {
        float: left;
        margin-bottom: 10px;
        width: 100%;
      }

      .ting-object-right {
        float: left;
        width: 100%;
      }
    }
  }

  &.one_third_right {
    float: right;
    margin-left: 5%;
    width: 33%;

    .field-name-ting-abstract {
      display: none;
    }

    .ting-object {
      display: block;

      .ting-object-left {
        float: left;
        margin-bottom: 10px;
        width: 100%;
      }

      .ting-object-right {
        float: left;
        width: 100%;
      }
    }

  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }

  p:last-child {
    margin: 0;
  }

  .inner {
    cursor: auto;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color: $grey;

    .paragraphs-text {
      margin: 10px 0;
    }

    .object-left {
      float: left;
      width: 40%;
      margin-right: 5%;
    }

    .object-right {
      float: left;
      margin: 0;
      width: 55%;
    }
  }

  .ting-object {
    @include display(flex);
    
    .ting-object-left {
      margin-right: 2%;
      @include flex(0 1 auto);

      .ting-cover > img {
        min-width: 50px;
      }
    }

    .ting-object-right {
      @include display(flex);
      @include flex-wrap(wrap);
      @include flex(1 1 auto);

      .field-name-ting-type {
        display: none;
      }

      .field-name-ting-title h2 {
        margin: 0;
        -ms-word-break: break-all;
        word-break: break-all;

        /* Non standard for WebKit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

        a {
          color: $color-text;

          &:hover {
            color: $color-text-link;
          }
        }
      }

      .field-name-ting-abstract {
        margin: 10px 0;
        max-width: 100%;
      }

      .button-see-online,
      .reserve-button {
        @include order(10);
      }

      .action-button {
        padding: 10px 60px 8px 15px;
        margin-top: 10px;
        max-width: 100%;
      }
    }
  }
}
