//
// Styling of Material item

@import '../../base.scss';

// ==========================================================================
// User material item
// ==========================================================================

.material-item {
  position: relative;
  float: left;
  min-height: 136px;
  width: 100%;
  padding: 10px 20px;

  @include clearfix();

  // Mobile
  @include media($mobile) {
    padding: 10px;
  }

  .left-column {
    float: left;
    width: 20%;
    min-height: 28px;

    // Mobile
    @include media($mobile) {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 60px;
      min-height: 60px;
    }
  }
  .item-checkbox {
    @include transform(translateY(-50%));
    position: absolute;
    left: 20px;
    top: 50%;

    // Mobile
    @include media($mobile) {
      @include transform(translateY(0%));
      left: 10px;
      top: 10px;
    }
    .form-type-checkbox {
      position: relative;
      width: 28px;
      height: 28px;
      margin: 0;
      &.form-disabled {
        visibility: hidden;
      }
      label {
        text-indent: -9999px;
        &::after {
          text-indent: 0;
        }
      }
    }
  }
  .ting-cover {
    float: left;
    width: 100%;
    padding-left: 60px;

    // Mobile
    @include media($mobile) {
      display: none;
    }
  }

  .right-column {
    float: left;
    width: 80%;
    padding-left: 30px;

    // Mobile
    @include media($mobile) {
      width: 100%;
      padding: 0;
    }
  }

  .item-material-type {
    // Mobile
    @include media($mobile) {
      padding-left: 60px;
    }
  }

  .item-title {
    width: 100%;
    float: left;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-primary;
    &.has-message {
      padding-right: 190px;

      // Mobile
      @include media($mobile) {
        padding-right: 0;
      }
    }
    #ding-bookmark-remove-form & {
      padding-right: 170px;

      // Mobile
      @include media($mobile) {
        width: 100%;
      }
    }

    // Mobile
    @include media($mobile) {
      width: 100%;
      min-height: 50px;
      margin-top: 0;
      padding: 0 10px 0 60px;
      white-space: normal;
    }
  }

  .item-creators {
    // Mobile
    @include media($mobile) {
      padding-left: 60px;
    }
  }

  // Specific style for message warning in material item
  .messages.warning {
    position: absolute;
    top: 16px;
    right: 0;
    width: 190px;
    height: 28px;
    padding: 5px 10px 0 0;
    margin: 0;
    background-color: $red;
    background-image: none;
    color: $white;
    border: 0;
    text-align: right;

    // Mobile
    @include media($mobile) {
      position: static;
      float: right;
      margin-right: -10px;
    }
  }

  .item-information-list {
    width: 100%;
    float: left;
    margin: 10px 0 0;
    padding: 0;

    #ding-bookmark-remove-form & {
      padding-right: 170px;

      // Mobile
      @include media($mobile) {
        width: 100%;
      }
    }
    > li {
      float: left;
      list-style: none;
      > div {
        margin-right: 30px;
        &:last-child {
          margin-bottom: 10px;
        }
      }
      // Mobile
      @include media($mobile) {
        width: 50%;
        box-sizing: border-box;
        padding-right: 10px;
        margin: 0 0 20px;
      }

      &.loan-date {
        clear: left;
      }

      &.url {
        display: none;
      }
      &.reserve {
        > div {
          margin-right: 0;
        }
      }
      &.rating {
        width: 100%;
      }
    }
    .item-information-label {
      @include font('base-bold');
      color: $grey-dark;
    }
    #ding-loan-loans-form & {
      width: 50%;

      // Mobile
      @include media($mobile) {
        width: 100%;
      }
      .item-information-label {
        @include font('base');
        color: $color-standard-text;
      }
      &.loan-date,
      &.expire-date,
      &.material-number {
        .item-information-label {
          @include font('base-bold');
          color: $grey-dark;
        }
      }
    }
    li.reserve {
      list-style: none;
      position: absolute;
      right: 20px;
      top: 50%;

      @include transform(translateY(-50%));
      margin: 0;

      a {
        display: block;
      }

      // Mobile
      @include media($mobile) {
        @include transform(translateY(0%));
        position: static;
        float: left;
      }
    }
  }
  &.odd {
    background-color: $grey-medium;

    // Mobile
    @include media($mobile) {
      padding-top: 20px;
    }
    .left-column {
      top: 10px;
    }
    .form-type-checkbox {
      &::before {
        background-color: $grey-light;
      }
    }
  }
}
