#media-tab-media_default--media_browser_my_files > div.form-actions.form-wrapper > a {
  display: none;
}

.ui-dialog-titlebar {
  width: 100%;
  overflow: hidden;
}

.ui-dialog .ui-dialog-titlebar span.ui-dialog-title {
  width: 90%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;;
  float: left;
}

.ding-popup-content video {
  width: 100% !important;
}

#media-browser-library-list li {
  width: 23%;
}

#media-browser-library-list .media-item {
  float: left;
  width: 90%;
}
#media-browser-library-list .media-item .file {
  float: left;
  height: 16px;
}
#media-browser-library-list .media-item .file a {
  display: none;
}
#media-browser-library-list .media-item .label-wrapper {
  left: 25px;
  text-align: left;
}

#modalContent .ctools-modal-dams-modal-content .modal-header {
  background-color: #cccccc;
  height: 50px;
}

#modalContent .ctools-modal-dams-modal-content .modal-header .close-messages-button::after {
  font-family: 'icomoon';
  content: "\e907";
  position: relative;
  color: #000;
  display: block;
  font-size: 4em;
  margin: 15px 0;
}
