div.upload-row {
  display: block;
  clear: both;
  overflow: hidden;
}

div.upload-row div.form-item {
  float:left;
  display: block;
  overflow: hidden;
}

div.upload-row div.form-item.form-type-checkbox {
  padding-top: 13px;
  width: 25px;
}

div.upload-row div.form-item label,
div.upload-row div.form-item input,
div.upload-row div.form-item div {
  float: left;
  margin-left: 10px;
}

div.upload-row div.form-type-file.form-item-files-upload input {
  width: 300px;
}

div.upload-row div.form-type-file.form-item-files-upload div.description {
  clear: both;
}
