.page-admin-ding-dams-media-manager .media-browser-tab .fake-submit,
.page-admin-ding-dams-media-manager .media-browser-tab .fake-cancel {
  display: none;
}

.media-item {
  background: #eee;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05);
  display: inline-block;
  padding: 5px;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.media-item .media-thumbnail img {
  width: 100%;
  height: auto;
}
