/**
 * Layout
 *
 * Base layout stuff
 *
 * @author magnify
 */



/* Base
   ========================================================================== */
body {
  background-attachment: fixed;
  background-size: cover;
}



/* Page
   ========================================================================== */

#page {
  @include zen-grid-container;
}

/* Don't show background in small and medium breakpoint
 *
 * This have to be specific because Drupal adds it inline
 */
#page.ding2-site-template {
  @include small-medium() {
    background-image: none !important;
  }
}



/* Header wrapper
   ========================================================================== */
.header-wrapper {
  @include box-sizing(border-box);


  &.js-topbar-toggled {
    display: inline-block;
  }

  .header-inner {
    position: relative;

    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  //Media queries
  @include small-medium() {
    padding: 0;
  }
}

/* Site header
   ========================================================================== */


/* Site name, slogan and logo
   ========================================================================== */

.topbar-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
}

.logo {
  img {
    margin-top: 10px;
    max-height: 70px;
  }
}

.site-name-wrapper {
  @include zen-grid-item(4, 1);

  margin-top: 30px;

  @include small() {
    @include zen-grid-item(6, 1);

    margin-top: 12px;
  }

  @include medium() {
    @include zen-grid-item(6, 1);

    margin-top: 8px;
  }
}

.site-name {
  font-family: $font-bold;
  font-size: $font-size-largest;
  font-weight: $base-font-weight-bold;
  margin-bottom: 0;

  a,
  a:link,
  a:visited,
  a:active {
    background-color: transparent;
    color: $white;
    text-decoration: none;
  }

  @include small-medium() {
    font-size: $font-size-larger;
  }

  @include small() {
    font-size: $font-size-reset;
  }
}

.site-name-with-slogan {
  @extend .site-name;
}

.site-slogan {
  color: $white;
  margin-top: $medium-spacing;
  margin-left: 2px;
}

.logo {
  @include zen-grid-item(5, 1);
}


/* Content
   ========================================================================== */

.content-wrapper {
  margin-top: $large-spacing;
}

.content-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: visible;
}


/* Layouts
   ========================================================================== */
.frontpage-layout {
  .primary-content,
  .secondary-content,
  .tertiary-content {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .primary-content {
    @include zen-clear();
    @include zen-grid-item(12, 1);
  }

  .layout-wrapper {
    @include zen-clear();

    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .secondary-content {
    @include zen-grid-item(8, 1);
  }

  .tertiary-content {
    @include zen-grid-item(4, 1, right);
  }

  .attachments-wrapper {
    @include zen-grid-container;
    @include zen-clear(both);

    margin-bottom: $large-spacing;
  }

  /* Media queries */
  @include small-medium() {
    .primary-content,
    .secondary-content,
    .tertiary-content, {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }
  }
}


.default-layout {
  margin-top: $large-spacing;

  .primary-content,
  .secondary-content,
  .tertiary-content {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .primary-content {
    @include zen-grid-item(9, 4);
  }

  .layout-wrapper {
    @include zen-clear();

    background-color: $white;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .secondary-content {
    @include zen-grid-item(3, 1);
  }

  .tertiary-content {
    @include zen-grid-item(12, 1);
    @include zen-clear();
  }

  /* Media queries */
  @include small-medium() {
    .primary-content,
    .secondary-content,
    .tertiary-content {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }
  }

  /* Sidebars! */
  &.sidebars {
    @include medium-large() {
      .primary-content {
        @include zen-grid-item(6, 4);
      }

      .secondary-content {
        @include zen-grid-item(3, 1);
      }

      .tertiary-content {
        @include zen-grid-item(3, 1, right);
        clear: none;
      }
    }
    @include x-large() {
      .primary-content {
        @include zen-grid-item(6, 4);
      }

      .secondary-content {
        @include zen-grid-item(3, 1);
      }

      .tertiary-content {
        @include zen-grid-item(3, 1, right);
        clear: none;
      }
    }
  }

  /* No sidebars... */
  &.empty-sidebars {
    .primary-content {
      @include zen-grid-item(12, 1);
    }

    .secondary-content {
      @include zen-clear(both);
      @include zen-grid-item(6, 1);
    }

    .tertiary-content {
      @include zen-grid-item(6, 1, right);
    }
  }

  /* Left sidebar only */
  &.left-sidebar {
    @include large() {
      .primary-content {
        @include zen-grid-item(9, 4);
      }
      .secondary-content {
        @include zen-grid-item(3, 1);
      }
    }
  }

  /* Right sidebar only */
  &.right-sidebar {
    @include medium-large() {
      .primary-content {
        @include zen-grid-item(8, 1);
      }

      .tertiary-content {
        @include zen-grid-item(4, 1, right);
      }
    }
  }
}


/* Attachments (aka. blocks/panes)
   ========================================================================== */
.attachment-first {
  @include zen-grid-item(3, 1);
}

.attachment-second {
  @include zen-grid-item(3, 4);
}

.attachment-third {
  @include zen-grid-item(3, 4, right);
}

.attachment-fourth {
  @include zen-grid-item(3, 1, right);
}

.attachments-1-1 {
  .attachment-first {
    @include zen-clear();
    @include zen-grid-item(12, 1);
  }
}

/* Media queries */
@include small() {
  .attachment-first,
  .attachment-third,
  .attachment-second,
  .attachment-fourth {
    @include zen-clear();
    @include zen-grid-item(12, 1);
  }
}

@include medium() {
  .attachment-first,
  .attachment-third {
    @include zen-clear();
    @include zen-grid-item(6, 1);
  }

  .attachment-second,
  .attachment-fourth {
    @include zen-clear(right);
    @include zen-grid-item(6, 1, right);
  }
}

/* Panel layout with 2 panes */
.attachments-2-2 {
  .attachment-first {
    @include zen-grid-item(6, 1);
  }

  .attachment-second {
    @include zen-grid-item(6, 1, right);
  }
}

/* Panel layout with 3 panes */
.attachments-3-3 {
  .attachment-first {
    @include zen-grid-item(4, 1);
  }

  .attachment-second {
    @include zen-grid-item(4, 4 + 1);
  }

  .attachment-third {
    @include zen-grid-item(4, 1, right);
  }
}


/* Footer
   ========================================================================== */

.footer {
  overflow: hidden;
  padding-top: 30px;

  .pane-title {
    font-size: $font-size-medium;
  }
}

.footer-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: visible;
}

.footer-block {
  background-color: transparent;
  color: $white;
}

.bottom {
  background-color: darken($footer-background-color, 5%);
  clear: both;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
