@import '../base.scss';

// Layout
//
// Styleguide 4.

//
// Extra facetbrowsers
// @TODO should these be removed from the panel?
.primary-content .pane-ding-facetbrowser,
.primary-content .pane-search-backends {
  display: none;
}

// ==========================================================================
// Panel Layouts
// ==========================================================================

.panel-pane {
  .pane-content {

    // Ding frontpage layout
    //
    // Markup:
    // <div class="panel-pane">
    //  <div class="pane-content">
    //    <div class="frontpage-layout">
    //      <div class="panel-pane">
    //        <div class="panel-pane-inner">
    //          Panel
    //          <div class="dummy-content"></div>
    //        </div>
    //      </div>
    //      <div class="panel-pane">
    //        <div class="panel-pane-inner">
    //          Panel
    //          <div class="dummy-content"></div>
    //        </div>
    //      </div>
    //    </div>
    //  </div>
    // </div>
    //
    // Styleguide 4.1

    .frontpage-layout {
      .panel-pane {
        @include linear-gradient(to top, $white 30px, $grey-light 100%);
        .panel-pane-inner {
          @include wrapper;
          position: relative; // Is set to relative to position absolute elements inside panels correct
          padding: 40px 0 30px;
        }
      }
    }

    // Ding2 Site template
    //
    // Markup:
    // <div class="panel-pane">
    //  <div class="pane-content">
    //    <div class="ding2-site-template">
    //      <div class="panel-pane">
    //        <div class="panel-pane-inner">
    //          Panel
    //          <div class="dummy-content"></div>
    //        </div>
    //      </div>
    //      <div class="panel-pane">
    //        <div class="panel-pane-inner">
    //          Panel
    //          <div class="dummy-content"></div>
    //        </div>
    //      </div>
    //    </div>
    //  </div>
    // </div>
    //
    // Styleguide 4.2

    .ding2-site-template {
      .panel-pane {
        &:not(.no-gradient) {
          @include linear-gradient(to top, $white 30px, $grey-light 100%);
        }
        .panel-pane-inner {
          @include wrapper;
          position: relative; // Is set to relative to position absolute elements inside panels correct
          padding: 40px 0 30px;
        }
        &.no-gradient {
          background-color: $white;
          .panel-pane-inner {
            padding-top: 20px;
          }
        }
      }
    }

    // Default panel layout
    //
    // Markup:
    // <div class="panel-pane">
    //  <div class="pane-content">
    //    <div class="default-panel-layout">
    //      <div class="left-and-main-content">
    //        <div class="layout-wrapper">
    //          <div class="secondary-content">
    //            Secondary content
    //            <div class="dummy-content"></div>
    //          </div>
    //          <div class="primary-content">
    //            Primary content
    //            <div class="dummy-content"></div>
    //          </div>
    //        </div>
    //      </div>
    //      <div class="attachments-wrapper">
    //        <div class="panel-pane">
    //          <div class="panel-pane-inner">
    //            Attachment
    //            <div class="dummy-content"></div>
    //          </div>
    //        </div>
    //      </div>
    //    </div>
    //  </div>
    // </div>
    //
    // Styleguide 4.3

    .default-panel-layout {
      .left-and-main-content {
        @include linear-gradient(to top, $white 30px, $grey-light 100%);
        padding: 40px 0 30px;
        .layout-wrapper {
          @include wrapper;
          .secondary-content {
            @include span-columns(4);
            // Tablet
            @include media($tablet) {
              @include span-columns(12);
              padding-bottom: 15px;
            }
          }
          .primary-content {
            @include span-columns(8);
            @include omega;
            float: right;
            // Tablet
            @include media($tablet) {
              @include span-columns(12);
            }
          }
        }
      }
      .attachments-wrapper {
        .panel-pane:not(.pane-tags-list-ding-content-tags) {
          &:not(.no-gradient) {
            @include linear-gradient(to top, $white 30px, $grey-light 100%);
          }
          &.no-gradient {
            background-color: $white;
          }
          .panel-pane-inner {
            @include wrapper;
            position: relative; // Is set to relative to position absolute elements inside panels correct
            padding: 40px 0 30px;
          }
        }
      }
    }
  }
}

