body {
  background: none;
  background-color: #fff;
  font-family: "Amble Light Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin-top: 80px;
}

input, button, select, textarea {
  font-family: "Amble Light Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.affix {
  position: fixed;
}

/* Code prettyprint for Docs
-------------------------------------------------- */
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}


/* Sidenav for Docs
-------------------------------------------------- */
.docs-sidenav {
  width: 228px;
  margin: 80px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.docs-sidenav .active .icon-chevron-right,
.docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.docs-sidenav.affix {
  top: 0px;
}
.docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.docs-menu {
  margin: 0;
  padding: 20px 40px;
  
  background-color: Black;
  color: White;
  
  list-style-type: none;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000001;
}

.docs-menu li {
  display: inline-block;
  margin-left: 40px;
}

.docs-menu li.title {
  font-size: 22px;
  color: #999;
}

.docs-menu li.active {
  text-decoration: underline;
}

.docs-menu li a {
  color: White;
}

.docs-menu li a:hover {
  color: White;
}

#content {
  margin: 0 20px;
}

.example {
  color: Orange;
}

.alert {
  color: red;
}