// Configuration
//
// Styleguide 3

// Mixins
//
// Styleguide 3.1

// ==========================================================================
// Add-ons for Bourbon Neat
// ==========================================================================

// Adds an actual width the the Bourbon Neat outer-container mixin.
//
@mixin wrapper() {
  @include outer-container;
  width: $wrapper-width;
  //width: $outer_width;
}

// Omega reset
@mixin omega-reset($nth, $columns) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($columns); }
  &:nth-child(#{$nth}+1) { clear: none; }
}

// ==========================================================================
// Icons and mixins for placing icon and button with icon
// ==========================================================================

// Icons
%icon-arrow-down-small {
  content: "\e900";
}

%icon-arrow-down {
  content: "\e901";
}

%icon-arrow-left {
  content: "\e902";
}

%icon-arrow-right {
  content: "\e904";
}

%icon-arrow-up {
  content: "\e905";
}

%icon-close {
  content: "\e907";
}

%icon-menu {
  content: "\e908";
}

%icon-print {
  content: "\e90a";
}

%icon-profile {
  content: "\e90b";
}

%icon-search {
  content: "\e90c";
}

%icon-arrow-right-small {
  content: "\e903";
}

%icon-plus {
  content: "\e909";
}

%icon-minus {
  content: "\e90d";
}

%icon-check {
  content: "\e906";
}

%icon-clock {
  content: "\e90e";
}

%icon-spinner {
  content: "\e90f";
}

%icon-facebook-with-circle {
  content: "\e910";
}

%icon-facebook {
  content: "\e911";
}

%icon-instagram-with-circle {
  content: "\e912";
}

%icon-instagram {
  content: "\e913";
}

%icon-twitter-with-circle {
  content: "\e914";
}

%icon-twitter {
  content: "\e915";
}

%icon-nemid {
  content: "\e916";
}

// Place-icon
//
// Mixin for placing icon on element
//
// place-icon($icon, $color, $size)
//
// $icon  - Name of icon to be placed - is a string, see _mixin.scss for icon names
// $color - Color of icon - default is $charcoal-opacity-dark
// $size  - Size of icon - default is 54px
//
// Styleguide 3.1.2

@mixin place-icon(
  $icon,
  $color: $charcoal-opacity-dark,
  $size: 54px) {
  position: relative;
  &::after {
    @extend %icon-#{$icon};
    font-family: 'icomoon';
    font-size: $size;
    color: $color;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: block;
    position: absolute;
    top: 0;
  }
}

@mixin place-icon-before(
  $icon,
  $color: #fff,
  $size: 20px) {
  position: relative;
  &::before {
    @extend %icon-#{$icon};
    font-family: 'icomoon';
    font-size: $size;
    color: $color;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 15px;
    display: block;
    position: absolute;
    top: 0;
  }
}

// Button
//
// Mixin for making button with icon
//
// button($icon, $color, $background-color, $color-hover, $background-color-hover)
//
// $icon                    - Name of icon to be placed - is a string, see _mixin.scss for icon names
// $color                   - Color of text and icon - default is $color-text-on-secondary
// $background-color        - Background-color of button - default is $color-secondary
// $color-hover             - Color of text and icon on hover - default is $white
// $background-color-hover  - Background-color of button on hover - default is $grey-dark
//
// Styleguide 3.1.3

@mixin button(
  $icon,
  $color: $color-text-on-secondary,
  $background-color: $color-secondary,
  $color-hover: $white,
  $background-color-hover: $grey-dark
) {
  @include place-icon($icon, $color);
  @include transition(
    background-color $speed $ease,
    color $speed $ease
  );
  width: 100%;
  float: left;
  border-radius: $round-corner;
  padding: 20px 80px 14px 15px;
  background-color: $background-color;
  color: $color;
  &::after {
    @include transition(color $speed $ease);
    right: 7px;
  }
  // Hover for non touch devices
  .no-touch & {
    &:hover {
      background-color: $background-color-hover;
      color: $color-hover;
      &::after {
        color: $color-hover;
      }
    }
  }
}

// Arrow button
//
// Mixin for making arrow button
//
// arrow-button($icon)
//
// $icon  - Name of icon to be placed - is a string, see _mixin.scss for icon names
// $background-color-hover  - Background-color of button on hover - default is $grey
//
// Styleguide 3.1.4

@mixin arrow-button(
  $icon,
  $background-color: $grey
) {
  &::after {
    @extend %icon-#{$icon};
    @include transition(
      background-color $speed $ease,
      color $speed $ease
    );
    position: absolute;
    display: block;
    width: 68px;
    height: 54px;
    font-family: 'icomoon';
    font-size: 54px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-align: center;
    background-color: $background-color;
    color: $charcoal-opacity-dark;
    border-radius: $round-corner;

    @include media($mobile) {
      width: 54px;
    }
  }
  // Hover for non touch devices
  .no-touch & {
    &:hover {
      &::after {
        background-color: $grey-dark;
        color: $white;
      }
    }
  }
}
