/* ==========================================================================
   ting search carousel styling
   ========================================================================== */

/* Image loading placeholder. */
.search-carousel-cover-image {
  background-image: url(../images/placeholder.png);
  background-size: cover;
  background-position: center;
  display: block;
}

.search-carousel-cover-image img {
  display: block;
  width: 100%;
}
