/* ==========================================================================
   ting search carousel styling
   ========================================================================== */

.ting-search-carousel .additional-tab {
  /* Hide all but the first tab. */
  display: none;
}

.ting-search-carousel .carousel {
  width: 100%;
}

carousel-runner {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.rs-carousel-transition .rs-carousel-runner {
  -moz-transition: -moz-transform .400s ease;
  -webkit-transition: -webkit-transform .400s ease;
  -o-transition: -o-transform .400s ease;
  -ms-transition: -ms-transform .400s ease;
  transition: transform .400s ease;
}

/* Pagination and previous and next buttons
   ========================================================================== */
.ting-search-carousel .slick-arrow {
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  background-image: url('../images/arrows.png');
  height: 55px;
  overflow: hidden;
  margin-top: -27px;
  position: absolute;
  text-indent: -1000px;
  top: 50%;
  width: 55px;
  z-index: 1;

}

.ting-search-carousel .slick-prev {
  left: 20px;
}

.ting-search-carousel .slick-next {
  background-position: right 0;
  right: 20px;
}

/* Carousel content, mask, title etc.
   ========================================================================== */
.ting-search-carousel.no-description .description {
  display: none;
}

.carousel-tab ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none;
  /* Clip to one row to avoid flickering. */
  height: 315px;
  overflow: hidden;
}

.carousel-tab li {
  float: left;
  width: 200px;
  text-align: center;
  margin-right: 2em;
  margin-bottom: 1em;
  overflow: hidden;
}

.carousel-item-image {
  display: block;
}

.carousel-item-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Carousel tabs
   ========================================================================== */
.carousel-tabs ul {
  margin: 0;
  position: relative;
  text-align: center;
}

.carousel-tabs ul li {
  display: table-cell;
  vertical-align: top;
  text-align: center;
}

.carousel-tabs ul li.active a {
  position: relative;
}
