.user-barometer {
	width: 100%;
}

.user-barometer-container {
	border: 1px solid black;
	height: 30px;
	border-radius: 15px;
}

.user-barometer-completed {
	background: #00b7e7;
	height: 100%;
	border-radius: 30px;
	transition: all 0.5s ease;
}

.user-barometer-status {
	text-align: center;
	margin-top: -28px;
}

/* Move this stuff when sass works */
.pane-interaction-pane .terms-interaction a:visited {
  color:#fff;
}

.ding-list-no-elements {
  padding-top:2em;
  font-style:italic;
}

.page-user .pane-lists table {
  float:none !important;
}