.view-ding-list-elements {
  caption {
    font-size: 160%;
    text-align: left;
    margin-top: 20px;
    font-weight: normal;
    font-family: "SourceSansProSemibold";
  }
}
.ding-type-ding-list-element {
  h2 {
    padding-right: 160px;
    font-size: 130%;
    padding-top: 4px;
    @include small() {
      padding-right: 0;
    }
  }
  .ding-message-link {
    float: left;
    margin-right: 10px;
  }
  .ding-message {
    position: static;
    float: left;
    > a {
      display: block;
    }
  }
  .taxonomy-term {
    h2 {
      margin-bottom: 0;
    }
  }
  .ting-cover {
    overflow: hidden;
    .undercover {
      .undercover-title {
        font-size: 100%;
      }
    }
  }
}

.view-public-lists {
  > .view-content {
    > .odd,
    > .even {
      margin-bottom: 40px;
      h2 {
        padding: 0 20px;
      }
    }
  }
}
