.pane-notifications-top-menu {
  .notifications-lists {
    &:before {
      content: "\f0f3";
    }
  }
  .notifications-pickup {
    &:before {
      content: "\f02d";
    }
  }
  .notifications-fines {
    &:before {
      content: "\f06a";
    }
  }
}

.draggable {
  > .views-field-id {
    // Small
    @include small() {
      display: none;
    }
  }
}

.ting-cover {
  &:before {
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.view-ding-list-elements caption {
  margin-bottom: 10px;
}
