.pane-carousel {
  margin-bottom: $large-spacing;
}

.page-taxonomy-term {
  .pane-page-content {
    // Small
    @include small {
      width: 100%;
      padding: 0 20px;
      @include box-sizing(border-box);
      .panel-col-first {
        width: 100%;
      }
    }
  }
}
.page-taxonomy-term {
  .pane-term-tree {
    background-color: $white;
    padding: 30px;
    margin-bottom: 40px;
    .item {
      h2 {
        margin-bottom: 10px;
      }
    }
  }
}

.pane-serendipity-node {
  .node {
    @include zen-clear();
    .content {
      width: 100%;
      float: left;
      background-color: $list-background-color;
      padding: 20px;
      margin-bottom: 10px;
      @include box-sizing(border-box);
    }
    .field-name-ding-serendipity-info {
      display: none;
    }
    .group-left-col-search {
      @include zen-grid-item(3, 1);
      padding-left: 0;
    }
    .group-right-col-search {
      @include zen-grid-item(9, 4);
    }
  }
}
.pane-serendipity-node {
  .pane-content {
    > article {
      @include zen-clear();
      width: 100%;
      float: left;
      background-color: $list-background-color;
      padding: 20px;
      margin-bottom: 10px;
      @include box-sizing(border-box);
      .page-title,
      .page-header {
        width: 100%;
      }
      .news-lead,
      .page-lead,
      .event-lead {
        //@include zen-clear();
        @include zen-grid-item(9, 1, right);
        border-bottom: none;
      }
      .event-content,
      .news-content {
        @include zen-grid-item(3, 1);
        padding-left: 0;
        margin-bottom: 10px;
        .field-name-ding-serendipity-info {
          display: none;
        }
      }
      .event-info {
        display: none;
      }
      .event-footer,
      .news-footer {
        margin-bottom: 0;
      }
      .event-footer {
        .event-tags {
          margin-bottom: 0;
        }
      }
      .signature-info {
        display: none;
      }
    }
  }
}

/* Ding Interactive
   ========================================================================== */
.pane-interaction-pane {
  position: relative;
  h2 {
    width: calc(100% - 70px);
  }
  .close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

/* Ding Interactive manual
   ========================================================================== */
.pane-interaction-pane.ding-interaction-manual {
  .ding-type-ding-interaction {
    padding: 0;
    .field-name-field-ding-interaction-body {
      margin-bottom: 10px;
    }
    .field-name-field-ding-interaction-links {
      .field-item {
        a {
          @include transparent-button;
          display: block;
          float: left;
          margin-right: 20px;
          margin-bottom: 10px;
          &:hover {
            background-color: $white;
            color: $interests-blue;

          }
        }
        &:last-child {
          a {
            margin-right: 0;
          }
        }
      }
    }
  }
}

/* User page
   ========================================================================== */

.page-user- .pane-content {
  .user-loan-status-wrapper,
  .pane-profile2 {
    @include zen-grid-item(8, 4);
    margin-right: 0;
    margin-bottom: 40px;
    /* Media queries */
    @include small() {
      width: 100%;
      margin-left: 0;
    }
  }
  .pane-lists {
    margin-right: 0;
  }
}

.pane-ding-tabroll-ding-frontpage-tabroll {
  margin-bottom: 20px;
}
