/* Page search
   ========================================================================== */

.page-search {

  .pane-search-query {
    overflow: hidden;
    
    .ding-list-add-button {
      border-bottom: 1px solid $gray-light;
      padding-bottom: 20px;
      margin-bottom: 20px;
      min-height: 34px;
      
      .trigger {
        float: right;
      }
    }
    
  }

}