// =============================================================================
// Extend classes
// =============================================================================
//
%grid-padding {
  padding-left: 10px;
  padding-right: 10px;
}


%header-sections {
  @include zen-grid-item($grid-50, 1);

	margin-top: 70px;
	margin-bottom: 70px;
  padding: 0;
  position: relative;
}


%read-more-icon {
  float: left;
  margin-right: 5px;
}


%read-more-link {
  display: block;
  margin-top: $default-spacing;
}


%inline-icons {
  @include opacity(.25);

  margin-left: 15px;
  position: absolute;

  font-size: $theme-font-size * 2.2;
}


%inline-icon-input {
  @include box-sizing(border-box);
  @include border-radius(12px);

  display: inline;
  padding-top: 10px;
  padding-left: 45px;

  border: 0;
}


%button {
  @include border-radius(12px);

  padding-top: 7px;
  padding-right: 18px;
  padding-left: 18px;

  background-color: $form-button-bg-color;
  border: 0;
  color: $form-button-text-color;
  cursor: pointer;
  font-size: $theme-font-size * 1.7;

  &:hover {
    background-color: darken($form-button-bg-color, 15%);
  }
}


%block {
  @include border-radius($default-block-border);
  @include box-sizing(border-box);

  background-color: $block-bg-primary;
  color: #fff;
  padding: 20px;

  h2 {
    color: #fff;
    margin-top: 0;
  }

  select {
    width: 100%;
  }

  i[class^="icon-"] {
    @extend %read-more-icon;
  }

  .read-more {
    @extend %read-more-link;
  }
}


%block-alternate {
  @include box-shadow(inset 0 0 15px lighten($black, 95%));
  @include border-radius($default-block-border);
  @include box-sizing(border-box);

  background-color: $block-bg-secondary;
  padding: 20px;

  h2 {
    color: $color-primary;
    margin-top: 0;
  }

  .image {
    margin-bottom: $default-spacing;
  }

  i[class^="icon-"] {
    @extend %read-more-icon;
  }

  .read-more {
    @extend %read-more-link;

    color: $color-primary;
  }
}