@import "compass/css3";
@import "../latto/sass/_latto.mixins.scss";
@import "../latto/sass/_latto.variables.scss";
@import "../latto/sass/_latto.grid.scss";
@import "../latto/sass/_latto.mediaqueries.scss";
@import "../latto/sass/_latto.base.scss";


$link-color:              #fff;
$link-color-hover:        darken($link-color, 20%);

$theme-font-size:	15px;

$header-text-color: #fff;
$header-font-size: 30px;
$header-min-height: 60px;

$font-weight-light: 	300;
$font-weight-regular: 400;
$font-weight-bold: 		700;

$color-primary: #ff5b00;

// Form elements
$form-button-text-color:  #fff;
$form-button-bg-color:    lighten(#000, 15%);


body {
	background: url('../images/body.jpg') no-repeat;
	background-size: cover;
	font-family: "ff-scala-sans-web-pro", arial, sans-serif;
  font-size: $theme-font-size;
	font-weight: $font-weight-light;
}

input,
textarea {
	font-family: "ff-scala-sans-web-pro", arial, sans-serif;
	font-weight: $font-weight-light;
}


a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }
  &:visited {
    color: darken($link-color, 15%);
  }
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
  &:focus {
    color: $link-color-hover;
  }
}


.grid-inner {
	max-width: 1350px;
}


.topbar {
	@include rgba-background($black, .85);
	@extend .grid-wrapper;

	min-height: $header-min-height;

	h1 {
		font-size: $header-font-size;
		font-weight: $font-weight-regular;
		line-height: $header-min-height;

		margin-top: 0;
		margin-bottom: 0;

		a,
		a:link,
		a:visited {
			color: $header-text-color;
		}
	}
}

.topbar {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.topbar-inner {
	@extend .grid-inner;
}

.logo {
  @include zen-grid-item($grid-50, 1);
}

.header-wrapper {
	@extend .grid-wrapper;

	background-image: url('../images/pattern.png');
  margin-top: 60px;

	.header-inner {
		@extend .grid-inner;
	}

  &.fixed {
    background: none;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    .search {
      @include zen-grid-item($grid-33, 4, right);

      .search-field-wrapper {
        margin-right: 0;
        padding-right: 0;
      }

      input[type="submit"] {
        right: 0;
      }

      .help-link {
        display: none;
      }
    }

    .user {
      @include zen-grid-item($grid-25, 1, right);

      display: none;

      i[class^="icon-"],
      input[type="text"],
      input[type="password"] {
        display: none;
      }

      input[type="submit"] {
        right: 0;
      }

    }

    .search,
    .user {
      border-right: 0;
      margin-top: 10px;
      margin-bottom: 0;

      input[type="text"],
      input[type="password"] {
        font-size: $theme-font-size * 1.1;
        min-height: 30px;
        padding-left: 35px;
      }

      input[type="submit"] {
        min-height: 37px;
        padding-right: 10px;
        padding-left: 10px;
        position: absolute;

        background-color: #ff5b00;
        border: 0;
        color: $form-button-text-color;
        font-size: $theme-font-size * 1.1;
        cursor: pointer;

        &:hover {
          background-color: darken($form-button-bg-color, 15%);
        }
      }

      i[class^="icon-"] {
        @include opacity(.25);

        margin-left: 10px;
        position: absolute;
        top: 12px;

        font-size: $theme-font-size * 1.3;
      }

    }
  }

}

.user-compact {
  @include zen-grid-item(1, 1, right);

  display: none;
  font-size: $theme-font-size * 1.5;
  margin-top: 20px;
  text-align: right;

  a {
    color: $white;
  }

  i[class^="icon-"] {
    color: $white;
    margin-right: 5px;
  }

  &.fixed {
    display: block;
  }
}

%header-sections {
	margin-top: 70px;
	margin-bottom: 70px;
  position: relative;
}

%header-icons {
  @include opacity(.25);

  margin-left: 20px;
  position: absolute;
  top: 25px;

  font-size: $theme-font-size * 2.2;
}

%header-input {
  @include box-sizing(border-box);
  @include border-radius(12px);

  display: inline;
  min-height: 60px;
  padding-top: 10px;
  padding-left: 60px;

  border: 0;
}

%header-button {
  min-height: 60px;
  padding-right: 18px;
  padding-left: 18px;

  background-color: $form-button-bg-color;
  border: 0;
  color: $form-button-text-color;
  font-size: $theme-font-size * 1.7;
  cursor: pointer;

  &:hover {
    background-color: darken($form-button-bg-color, 15%);
  }
}

%grid-padding {
  padding-left: 10px;
  padding-right: 10px;
}


.search {
  @include zen-grid-item($grid-50, 1);
  @extend %header-sections;

  border-right: 1px solid #f78443;

  .search-field-wrapper {
    margin-right: 67px;
  }

  i[class^="icon-search"] {
    @extend %header-icons;

    z-index: 10;
  }

  input[type="text"] {
    @extend %header-input;

    left: 0;
    width: 100%;

    font-size: $theme-font-size * 1.7;
  }

  input[type="submit"] {
    @include border-radius(12px);
    @extend %header-button;

    position: absolute;
    right: 77px;
  }

  .help-link {
    @extend .pull-right;

    display: block;
    margin-top: $default-spacing / 2;

    &:hover {
      color: $black;
      text-decoration: none;
    }

  }

}


.user {
  @include zen-grid-item($grid-50, 1, right);
  @extend %header-sections;


  padding-left: 67px;

  i[class^="icon-"] {
    @extend %header-icons;
  }

  .user-field-wrapper {
    display: inline;
  }

  input[type="text"],
  input[type="password"] {
    @extend %header-input;

    max-width: 37%;
    margin-right: $default-spacing / 2;

    font-size: $theme-font-size * 1.3;
  }

  input[type="submit"] {
    @include border-radius(12px);
    @extend %header-button;

    display: inline;
  }

}


.main-menu-wrapper {
 	@include rgba-background($white, .85);
  @extend .grid-wrapper;

  position: absolute;
  width: 100%;

  &.fixed {
    margin-top: 60px;
    position: fixed;
    top: 0;
  }

}

.main-menu-inner {
  @extend .grid-inner;
}

.main-menu {
  @extend %grid-padding;

  > a {
    display: inline-block;
    padding: 25px 25px 20px 0;

    color: $black;
    font-size: $theme-font-size * 1.3;

    &.active {
      font-weight: $font-weight-regular;
      text-decoration: underline;
    }

  }
}