@import '../../base.scss';

// ==========================================================================
// User material item
// ==========================================================================

.default-account-panel-layout {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 30px;

  .title-container {
    float: left;
    width: 100%;

    h2.pane-title {
      width: calc(100% - 184px);
      float: left;

      // Mobile
      @include media($mobile) {
        width: 100%;
      }
    }
  }

  .pane-content {
    clear: both;
    > form {
      float: left;
      width: 100%;

      @at-root .pane-loans#{&} {
        margin-top: 104px;
      }

      @at-root .pane-bookmarks#{&} {
        margin-top: 104px;
      }

      @at-root .pane-reservations#{&} {
        margin-top: 158px;
      }

      // Mobile
      @include media($mobile) {
        margin-top: 0;
      }
    }
  }

  .actions-container {
    position: absolute;
    top: 64px;
    z-index: $z-above;
    width: 100%;
    padding: 10px;

    background-color: $grey-dark;

    .select-all {
      @include media($mobile) {
        width: 100%;
        float: left;
      }
      .form-item {
        position: absolute;
        left: 20px;
        top: 50%;

        @include transform(translateY(-50%));

        // Mobile
        @include media($mobile) {
          position: static;

          @include transform(translateY(0%));
        }

        label {
          color: $white;
        }
      }
    }

    .action-buttons {
      width: calc(100% - 180px);
      float: right;

      // Tablet
      @include media($tablet) {
        width: calc(100% - 130px);
      }

      // Mobile
      @include media($mobile) {
        width: 100%;
        float: left;
      }
      > div {
        @include span-columns(6);
        &:nth-child(2) {
          margin-right: 0;
        }
        &:nth-child(3) {
          margin-top: 10px;
        }

        @include media($mobile) {
          width: 100%;
          margin-bottom: 10px;
          &:nth-child(3) {
            margin-top: 0;
          }
        }
        &.action-all {
          padding: 0;
          a {
            @include font('base');
            @include transition(background-color $speed $ease, color $speed $ease);
            display: block;
            width: 100%;
            height: $element-height;
            padding: 23px 15px 18px;
            border: none;
            border-radius: $round-corner;
            color: $charcoal-opacity-dark;
            background-color: lighten($grey-dark, 5%);
            line-height: 1em;
            text-align: left;
            cursor: pointer;
            .no-touch & {
              &:hover {
                color: $white;
              }
            }
          }
        }
        &.renew-all {
          a {
            color: white;
            background-color: $green;
            .no-touch & {
              &:hover {
                background-color: $green;
              }
            }
          }
        }
        &.delete-all {
          a {
            color: white;
            background-color: $red;
            .no-touch & {
              &:hover {
                background-color: $red;
              }
            }
          }
        }
      }
    }
  }
  .action-buttons {
    float: left;
    > div {
      background: none;
      &.delete-reservations,
      &.delete-bookmarks {
        input {
          background-color: $red;
          color: $white;
          &:disabled {
            background-color: $grey-medium;
            color: $charcoal-opacity-dark;
          }
        }
      }

      &.update-reservations,
      &.renew-loan-button {
        padding: 0;
        input {
          background-color: $green;
          color: $white;
          &:disabled {
            background-color: $grey-medium;
            color: $charcoal-opacity-dark;
          }
        }
      }
    }
  }
}

.pane-bookmarks {
  .delete-bookmarks.action-button {
    padding-left: 0;
    input {
      padding-right: 80px;
    }
  }
}

.pane-import {
  .form-item-CSV {
    @include span-columns(6);

    @include media($mobile) {
      width: 100%;
    }
  }
  input[type="submit"] {
    float: left;
    clear: left;
    width: auto;
    padding-right: 80px;
  }
}

//Dont display print button on second panel.pane-reservations
.pane-reservations + .pane-reservations {
  .title-container {
    a.print-button {
      display: none;
    }
  }
}
