//
// Styling of Ding Facetbrowser

@import '../../base.scss';

// ==========================================================================
// Pane ding facetbrowser
// ==========================================================================

.pane-ding-facetbrowser {
  fieldset {
    > .expand {
      @include place-icon(plus, $size: 8px);
      display: block;
      float: left;
      margin-top: 10px;
      padding-left: 42px;
      color: $charcoal-opacity-dark;
      &::after {
        @include transition(color $speed $ease);
        top: 4px;
        left: 10px;
      }
      &:hover {
        color: $color-text;
        &::after {
          color: $color-text;
        }
      }
    }
    &.collapsed {
      > .expand {
        display: none;
      }
    }
    .selected-checkbox-group {
      margin-bottom: 20px;
      .unselect {
        @include place-icon(minus, $size: 8px);
        padding-left: 42px;
        color: $charcoal-opacity-dark;
        &::after {
          @include transition(color $speed $ease);
          top: 4px;
          left: 10px;
        }
        &:hover {
          color: $color-text;
          &::after {
            color: $color-text;
          }
        }
      }
    }
  }
}
