//
// Styling of Profile2 panel

@import '../../base.scss';

// ==========================================================================
// User profile
// ==========================================================================

.panel-pane.pane-profile2 {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  h2 {
    @include font('display-large');
    color: $color-text;
  }
  .content {
    > .field {
      @include span-columns(6);
      @include omega(2n);
      margin-bottom: 10px;
      .field-label {
        color: $color-text;
      }
    }
  }
}

.panel-pane.pane-profile2-form {
  width: 100%;
  float: left;
}
