@import '../../base.scss';

// TODO Should this just be the default style for ul.sub-menu?
.panel-pane.pane-taxonomy-menu {
  ul.sub-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 15px;
      width: 100%;
      a {
        display: block;
        padding: 7px 0 1px 42px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 28px;
          height: 28px;
          margin: 0 10px 5px 0;
          border-radius: $round-corner;
          background-color: $grey;
        }
        &.active {
          @include place-icon(check, $color-text-on-primary, 28px);
          &::after {
            left: 0;
          }
          &::before {
            background-color: $color-primary;
          }
        }
      }
    }
  }
}
