//
// Class specific styling for p2 panels

@import '../../base.scss';

// ==========================================================================
// Pane user overview & lists
// ==========================================================================
.pane-user-overview-and-lists {
  h3 {
    @include font('display-large');
    color: $color-text;
    margin-bottom: 20px;

    // Mobile
    @include media($mobile) {
      margin-bottom: 10px;
    }
  }
  .list-links {
    width: 100%;
    float: left;
    list-style: none;
    padding-left: 0;
    margin-bottom: 60px;
    li {
      width: 100%;
      float: left;
      position: relative;
    }
    a {
      display: block;
      float: left;
      &::after {
        @include transition(color $speed $ease);
      }
      &:hover {
        &::after {
          color: $color-text-link;
        }
      }
    }
  }
  .signature-label {
    @include font('display-small');
    @include place-icon('arrow-right', $charcoal-opacity-dark, 54px);
    position: static;
    padding-right: 40px;

    //Right arrow
    &::after {
      @include transform(translateY(-50%));
      right: 10px;
      top: 50%;
    }
  }
  ul.bottom-links {
    list-style: none;
    li {
      a {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
      }
      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
}
.pane-user-overview {
  .specials {
    .signature-label {
      display: block;
      position: relative;
      width: 100%;
      max-width: 100%;
      padding: 30px 20px 30px 50px;
      border-radius: $round-corner;
      margin-bottom: 10px;
      background-color: $grey-dark;
      color: $white;

      @include media($notebook) {
        @include font('base');
        font-family: $font-family-bold;
      }

      // Hover
      .no-touch & {
        &:hover {
          @include transition(
              background-color $speed $ease
          );
          background-color: $grey-medium;
          color: $white;
        }
      }
    }
    .label {
      @include font('display-small');
      position: absolute;
      top: 30px;
      left: 20px;
      color: $white;
      &::before {
        display: none;
      }
    }
    .fines {
      .signature-label {
        background-color: $red;
      }
    }
    .warn {
      .signature-label {
        background-color: $yellow;
      }
    }
    .ready {
      .signature-label {
        background-color: $green;
      }
    }
  }
}
.pane-lists {
  .userlists {
    li {
      padding: 20px;
      &:nth-child(2n +1) {
        background-color: $grey;
      }
    }
    .notification-link {
      clear: left;
      float: left;
      margin-top: 10px;
    }
    .notification-label {
      padding-right: 5px;
      color: $charcoal-opacity-dark;
    }
  }
}
