.popupbar .popupbar-container {
  margin-bottom: 50px;
}

.popupbar .popupbar-container .digital-order-form .popupbar-title {
  padding-top: 40px;
  font-size: 18px;
  line-height: 24px;
  margin-top: -7%;
  margin-bottom: 20px;
}

.popupbar .popupbar-container .digital-order-form p {
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .popupbar .digital-order-form .form-item.form-item-name,.popupbar .digital-order-form .form-item.form-item-mail {
    width:48.5%;
    float: left;
    margin-right: 3%;
  }

  .popupbar .digital-order-form .form-item.form-item-mail {
    margin-right: 0;
  }

  .popupbar .digital-order-form .form-item-fbs-preferred-branch,.popupbar .digital-order-form .form-item-interest-period {
    width: 48.5%;
    float: left;
    margin-right: 3%;
  }

  .popupbar .digital-order-form .form-item-interest-period {
    margin-right: 0;
  }

  .popupbar .digital-order-form .form-type-markup {
    float: left;
  }

  .popupbar .digital-order-form .form-type-markup a {
    margin: 0;
  }

  .popupbar .digital-order-form .form-submit {
    width: 31.333%;
    float: left;
    margin-right: 3%;
    margin-bottom: 14px;
  }

  .popupbar #popupbar-ting_das .messages {
    margin-bottom: 55px;
    margin-top: -40px;
    display: block;
  }

  .popupbar .digital-order-form .form-item select.error {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .popupbar {
    height:90% !important;
    overflow-y: auto !important;
  }
}
@media screen and (max-height: 750px) and (max-width: 600px) {
  .popupbar {
    height:100% !important;
    overflow-y: auto !important;
  }
}

.das-overlay.search-overlay--wrapper {
  z-index: 1000;
}

.das-overlay.search-overlay--wrapper .search-overlay--inner {
  left: 41%;
}
