/**
 * Basic theming of profile page.
 */


/* Main search field */
#ting-field-search-fields-form .form-item-query {
  max-width: none;
  margin-top: 30px;
  margin-bottom: 25px;
}

/* Prpfile page submit */
#ting-field-search-fields-form input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 50px;
  display: inline;
}

#ting-field-search-fields-form .form-actions {
  text-align: center;
}

#ting-field-search-fields-form .fieldset-wrapper {
  width: 100%;
}

/* Title on field group  */
#ting-field-search-fields-form  .fieldset-title {
  display: inline-block;
  width: 100%;
}

/* "Advanced search" title on root fieldset */
#edit-ting-field-search-fields > legend {
  font-size: 24px;
}

/* Field groups*/
.ting-field-search-field-group.form-wrapper {
  margin-bottom: 0;
}

.ting-field-search-field-group .fieldset.collapsible {
  padding: 28px 0 0;
}

.ting-field-search-field-group.collapsible .fieldset-title::after {
  top: 25px;
}

.ting-field-search-field-group .fieldset-wrapper {
  width: 100%;
}

/* Check boxes */
.ting-field-search-field-group .form-type-checkboxes > label,
.ting-field-search-field-group .form-type-textfield > label,
.ting-field-search-field-group .form-type-radios > label,
.ting-field-search-field-group .form-type-select > label {
  font-size: 18px;
  margin-bottom: 15px;
}

.ting-field-search-field-group .fieldset-wrapper .form-type-textfield,
.ting-field-search-field-group .fieldset-wrapper .form-type-checkboxes,
.ting-field-search-field-group .fieldset-wrapper .form-type-radios,
.ting-field-search-field-group .fieldset-wrapper .form-type-select {
  width: 33.3333%;
  float: left;
  padding: 20px 10px 0;
}

.ting-field-search-field-group .fieldset-wrapper .form-type-select {
  padding: 20px 0 0;
}

.ting-field-search-field-group div.form-type-textfield:first-child,
.ting-field-search-field-group div.form-type-checkboxes:first-child  {
  padding-left: 0;
}

.ting-field-search-field-group div.form-type-textfield:last-child,
.ting-field-search-field-group div.form-type-checkboxes:last-child  {
  padding-right: 0;
}
