/**
 * @file
 * Styles for the menu block.
 */
div.ipe-popup {
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  z-index: 100;
  top: 78px;
  overflow-y: scroll;
  width: 400px;
  height: 200px;
}

div.ipe-popup ul {
  padding-left: 0;
  width: 100%;
  height: 100%;
  list-style-position: outside;
}

.ding-ipe-popup-left {
  left: 245px;
}
.ding-ipe-popup-top {
  top: -48px !important;
}

div.ipe-popup .item-list ul li {
  margin: 0;
  padding: 0;
  width: 100%;
}

.layout-wrapper .group-blocks--wrapper {
  overflow: visible;
}

.ding-ipe-menu-item {
  width: 100%;
  height: auto;
}
