/**
 * @file
 * Styles for the menu block.
 */
div.ipe-popup {
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  z-index: 100;
  top: 78px;
  overflow-y: scroll;
  width: 400px;
}

div.ipe-popup ul {
  padding-left: 0;
  width: 100%;
  height: 100%;
  list-style-position: outside;
}

.ding-ipe-popup-left {
  left: 245px;
}

div.ipe-popup .item-list ul li {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.layout-wrapper .group-blocks--wrapper {
  overflow: visible;
}

.ding-ipe-menu-item {
  width: 100%;
  height: auto;
}

#ding-ipe-throbber {
  display: block !important;
  background: url("../images/throbber.gif") no-repeat center center;
  width: 48px;
  height: 48px;
  left: 49%;
  top: 48.5%;
  z-index: 1001;
  position: fixed;
}
