div.panels-ipe-newblock {
  z-index: 1
}
div.panels-ipe-placeholder {
  position: relative;
}
div.ipe-popup {
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  z-index: 100;
  top: 78px;
  overflow-y: scroll;
  width: 400px;
  height: 200px;
}
div.ipe-popup ul {
  padding-left: 0;
  width: 100%;
}
.hide {
  display: none;
}
.left {
  left: 40px;
}
.top {
  top: -157px !important;
}
div.ipe-popup .item-list ul li {
  margin: 0;
  padding: 0;
  width: 100%;
}
.layout-wrapper .group-blocks--wrapper {
  overflow: visible;
}