/** This file is used to display:none on colorbox preview **/

#color_scheme_form h2 {
  display: none;
}

#color_scheme_form #preview {
  display: none;
}

.form-item-palette-link,
.form-item-palette-base {
  display: none;
}

#palette .form-item {
  height: auto;
}
#palette .form-item .description {
  clear: both;
}
#palette .form-item .lock {
  top: 0;
  left: 0;
}
