/**
 * Availability
 */

/* Ting object buttons.
   ========================================================================== */

.unavailable,
.unavailable:link,
.unavailable:visited,
.unavailable:hover,
.unavailable:active {
  color: darken($availability-not-available-reservable, 10%);
}

.material-item .action-button.reserve-button,
.field-name-ding-entity-buttons .reserve-button,
.ding-periodical-issues .reserve-button {
  display: none;

  &.reservable {
    display: inline-block;
    margin-left: 10px;
  }

  &.available {
    @extend %button-action;
  }

  &.unavailable.reservable {
    @include create-gradient-button($white, $availability-not-available-reservable, darken($availability-not-available-reservable, 15%));
  }
}

/* Labels and links.
   ========================================================================== */
.availability {
  margin-bottom: 0;

  &.content {
    float: right;
  }

  li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0;

    &.pending {
      // Sets the reservation color to grey.
      @include availability($availability-pending);
    }

    &.availability.processed {
      // Sets the reservation color to yellow.
      @include availability($availability-processed);
    }

    &.availability.available {
      // Sets the reservation color to green.
      @include availability($availability-available);
    }

    &.availability.reservable {
      // Sets the reservation color to green.
      @include availability($availability-available);
    }

    &.availability.available.reservable {
      // Sets the reservation color to green.
      @include availability($availability-available-reservable);
    }

    &.availability.available.not-reservable {
      // Sets the reservation color to yellow.
      @include availability($availability-available-not-reservable);
    }

    &.availability.unavailable.reservable {
      // Sets the reservation color to yellow.
      @include availability($availability-not-available-reservable);
    }

    &.availability.unavailable.not-reservable {
      // Sets the reservation color to red.
      @include availability($availability-not-available-not-reservable);
    }

    .availability-status {
      &:before {
        content: " - ";
        margin-left: 5px;
      }
    }
  }
}
