/**
 * Availability
 */

/* Ting object buttons.
   ========================================================================== */

.unavailable,
.unavailable:link,
.unavailable:visited,
.unavailable:hover,
.unavailable:active {
  color: darken($availability-reservable, 10%);
}

.material-item .action-button.reserve-button,
.field-name-ding-entity-buttons .reserve-button,
.ding-periodical-issues .reserve-button {
  display: none;

  &.reservable {
    display: inline-block;
    margin-left: 10px;
  }

  &.available {
    @extend %button-action;
  }

  &.unavailable.reservable {
    @include create-gradient-button($white, $availability-reservable, darken($availability-reservable, 15%));
  }
}

/* Labels and links.
   ========================================================================== */
.availability {
  margin-bottom: 0;

  &.content {
    float: right;
  }

  li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0;

    &.pending {
      @include availability($availability-pending);
    }

    &.availability.processed {
      @include availability($availability-processed);
    }

    &.availability.available {
      @include availability($availability-available);
    }

    &.availability.reservable {
      @include availability($availability-reservable);
    }

    &.availability.available.reservable {
      @include availability($availability-available-reservable);
    }

    &.availability.available.not-reservable {
      @include availability($availability-available-not-reservable);
    }

    &.availability.unavailable.reservable {
      @include availability($availability-reservable);
    }

    &.availability.unavailable.not-reservable {
      @include availability($availability-available-not-reservable);
    }

    .availability-status {
      &:before {
        content: " - ";
        margin-left: 5px;
      }
    }
  }
}
