/**
 * Availability
 */

/* Ting object buttons.
   ========================================================================== */

.unavailable,
.unavailable:link,
.unavailable:visited,
.unavailable:hover,
.unavailable:active {
  color: darken($availability-not-available-reservable, 10%);
}

.field-name-ding-entity-buttons .action-button {
  @extend %button-default;
}

.material-item .action-button.reserve-button,
.field-name-ding-entity-buttons .reserve-button,
.ding-periodical-issues .reserve-button {
  display: none;
  margin-left: 10px;

  &.reservable {
    display: inline-block;
  }

  &.unavailable.reservable {
    @include create-gradient-button($white, $availability-not-available-reservable, darken($availability-not-available-reservable, 15%));
  }
}

/* Labels and links.
   ========================================================================== */
.availability {
  margin-bottom: 0;

  &.content {
    float: right;
  }

  li {
    @include border-radius(3px);
    display: inline-block;
    margin: 0 0 5px 8px;
    padding: 5px;
    color: $white;

    &.pending {
      // Sets the reservation color to grey.
      @include availability($availability-pending);
    }

    &.availability.processed {
      // Sets the reservation color to yellow.
      @include availability($availability-processed);
    }

    &.availability.available {
      // Sets the reservation color to green.
      @include availability($availability-available);
    }

    &.availability.reservable {
      // Sets the reservation color to green.
      @include availability($availability-available);
    }

    &.availability.available.reservable {
      // Sets the reservation color to green.
      @include availability($availability-available-reservable);
    }

    &.availability.available.not-reservable {
      // Sets the reservation color to yellow.
      @include availability($availability-available-not-reservable);
    }

    &.availability.unavailable.reservable {
      // Sets the reservation color to yellow.
      @include availability($availability-not-available-reservable);
    }

    &.availability.unavailable.not-reservable {
      // Sets the reservation color to red.
      @include availability($availability-not-available-not-reservable);
    }

    .availability-status {
      &:before {
        content: " - ";
        margin-left: 5px;
      }
    }
  }
}

/* Search results availability
   ========================================================================== */

.page-search .availability {

  &.pending {
    background-color: $availability-pending;
  }

  &.availability.processed {
    background-color: $availability-processed;
  }

  &.availability.available {
    background-color: $availability-available;
  }

  &.availability.reservable {
    background-color: $availability-not-available-reservable;
  }

  &.availability.available.reservable {
    background-color: $availability-available-reservable;
  }

  &.availability.available.not-reservable {
    background-color: $availability-available-not-reservable;
  }

  &.availability.unavailable.reservable {
    background-color: $availability-not-available-reservable;
  }

  &.availability.unavailable.not-reservable {
    background-color: $availability-not-available-not-reservable;
  }
}

/* Availability legend
   ========================================================================== */

.availability-legend {

  .availability-label {
    color: $white;
  }

  .available {
    background-color: $availability-available;
  }

  .on-loan {
    background-color: $availability-not-available-reservable;
  }

  .unavailable {
    background-color: $availability-not-available-not-reservable;
  }

  .unreservable {
    background-color: $availability-available-not-reservable;
  }
}

/* Availability legend for object page
   ========================================================================== */
.page-ting-object .pane-ting-object {
  clear: both;
}

.pane-ting-collection {
  clear: both;
}
