/**
 * Ding campaigns
 *
 * @author cableman
 */

/* Variables
   ========================================================================== */


/* Wrapper, load and inner
   ========================================================================== */

.pane-campaign {
  margin-top: 25px;
}

.ding-campaign-wrapper {
  @include small-medium() {
    display: none;
  }

  .ding-campaign {
    margin-bottom: 20px;
  }

  .ding-campaign.ding-campaign--content {
    padding: 10px;
  }

  .ding-campaign.ding-campaign--content > p {
    margin-top: 0;
  }

  .ding-campaign.ding-campaign--image {
    img {
      width: 100%;
    }
  }
}

.layout-wrapper .ding-campaign-wrapper {
  .ding-campaign {
    background-color: transparent;
  }

  .ding-campaign.ding-campaign--content {
    padding: 0;
  }
}

/* Image campaigns
   ========================================================================== */

.ding-tabroll-wrapper {

}
