.page-ding-christmas-calendar {
  .pane-page-content {
    clear: both;
  }
  
  .notifyjs-bootstrap-info {
    background: $link-color;
    color: $white;
  }
}

.pane-ding-christmas-calendar-mobile {
  display: none;
}

.pane-ding-christmas-calendar-widget {
  background: $white;
  margin-bottom: 20px;
  padding: 20px;

  .calendar-summary {
    font-weight: bold;
  }
}

.pane-ding-christmas-calendar-mobile {
  .calendar-popup {
    display: none !important;
  }
}

.pane-ding-christmas-calendar-widget,
.pane-ding-christmas-calendar-mobile {

  .calendar-popup {
    .future-day-popup {
      background: $white;
      border-radius: 20px;
      display: none;
      height: 200px;
      left: calc(50% - 150px);
      margin-top: -100px;
      padding: 20px;
      position: fixed;
      text-align: center;
      top: 50%;
      width: 260px;
      touch-action: manipulation;
      z-index: 100;

      strong {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
      }
    }
  }
}

#ding-christmas-calendar-content {
  background-size: cover;
  background-repeat: none;
  position: relative;

  table {
    border: none;
  }

  tr {
    background-color: transparent !important;
    border: none;
    text-align: center;
    border-radius: 0;
  }

  td {
    border: 5px solid $white;
    border-radius: 0;
    height: 180px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: top;

    span {
      color: $white;
      font-weight: bold;
      display: block;
      padding: 0;
      height: 100%;
      
      
      a {
        position: relative;
      }

      &.past-day {
        &:hover {
          cursor: pointer;

          a {
            width: 100%;
            height: 100%;
            position: relative;
          }
        }

        a {
          background: rgba(255, 255, 255, 0.2);
          color: $white;
          text-decoration: none;
        }
      }
      
      &.future-day {
        &:hover {
          a {
            width: 100%;
            height: 100%;
            position: relative;
            cursor: default;
          }
        }

        a {
          background: rgba(0, 0, 0, 0.4);
          color: $white;
          text-decoration: none;
        }
      }
      
      &.active-day {
        background: none;
        height: 100%;
        padding: 0;
        
        &:hover {
          cursor: pointer;

          a {
            width: 100%;
            height: 100%;
            position: relative;
          }
        }
      }
    }

    a {
      background: rgba(0, 0, 0, 0.7);
      color: $white;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      text-decoration: underline;


      &:hover {
        &:before {
          content: "+";
          font-size: 3em;
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          left: 0;
          top: calc(50% - 10px);
        }
      }
    }
  }
}

.page-node-take,
.page-node-quiz-results {
  .pane-page-content {
    clear: both;
    background: $white;
    padding: 20px;
    margin: 20px 0;

    td {
      vertical-align: middle;

      &:first-child {
        text-align: center;
      }
    }

    tr.selected {
      td {
        background: #00cafe;
        color: $white;

        &:first-child + td {
          border-left: 1px solid $white;
        }
      }
    }
    
    .form-submit {
      margin-right: 20px;
    }
  }

  .pane-page-tabs {
    margin: 10px 0;
  }

  #quiz-progress,
  .quiz-question-quiz-page,
  .question_type_name {
    display: none;
  }

  .form-actions {
    margin-top: 30px;
  }

  #quiz_score_possible {
    font-size: 130%;
    font-weight: bold;
    margin: 20px 0;

    em {
      font-weight: bold;
    }
  }

  #quiz_score_percent {
    font-weight: bold;
    margin: 20px 0;
  }

  .quiz-report-score-container {
    display: none;
  }
}

@include small-medium() {
  .pane-ding-christmas-calendar-widget {
    display: none;
  }

  .pane-ding-christmas-calendar-mobile {
    display: block;
    background: $white;
    margin: 0 20px;
    padding: 20px 20px 40px 20px;

    .ding-christmas-calendar-mobile-cell {
      height: 180px;
      border-right: 5px solid $white;
      text-align: center;
      font-size: 130%;

      span {
        color: $white;
        font-weight: bold;
        display: block;
        padding: 0;
        height: 100%;

        &.active-day {
          a {
            background: rgba(0, 0, 0, 0.7);
            color: $white;
          }
        }
        
        &.past-day {
          a {
            background: rgba(255, 255, 255, 0.2);
            color: $white;
          }
        }
        
        &.future-day {
          a {
            background: rgba(0, 0, 0, 0.3);
            color: $white;
          }
        }
      }

      a {
        font-weight: bold;
        display: block;
        padding: 5px 0;
        position: relative;
        width: 100%;
        height: 100%;

        &:before {
          content: "+";
          font-size: 3em;
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          left: 0;
          top: calc(50% - 10px);
        }
      }
    }

    .calendar-summary {
      font-weight: bold;
    }

    .slick-dots {
      li {
        button {
          background: #ccc;
          border-radius: 50px;
          color: $white;

          &:before {
            font-size: 2em;
          }
        }

        &.slick-active button {
          background: $link-color;
        }
      }
    }

    .slick-prev,
    .slick-next {
      display: none;
    }
  }
}

@include small() {
  .pane-ding-christmas-calendar-mobile {
    .ding-christmas-calendar-mobile-cell {
      border: none;
    }

    .slick-prev,
    .slick-next {
      display: block;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 50px;
      height: 40px;
      line-height: 40px;
      width: 40px;
      z-index: 200;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }

    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
      background: rgba(0, 0, 0, 1);
    }

    .slick-prev:before {
      color: $white;
      content: "\f053";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      position: relative;
      top: 7px;
    }

    .slick-next:before {
      color: $white;
      content: "\f054";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      position: relative;
      top: 7px;
    }
  }
}
