%button {
  border-radius: 10px;

  display: inline-block;
  font-size: 100%;
  padding: 10px;
  position: relative;

  box-shadow: $button-box-shadow;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    opacity: 0.65;
    box-shadow: none;

    cursor: default;
  }
}

.pane-ding-item-list-recommendations {
  margin: 10px 0;
}

.pane-ding-item-list {
  background-color: $white;
  padding: 10px;

  .pane-title {
    margin-bottom: 0;
  }
}

.layout-wrapper .pane-ding-item-list {
  background-color: transparent;
  padding: 0;
}

.ding-item-list-item {
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px dashed $gray;
  font-size: $base-font-size;

  .item-cover {
    float: left;
  }

  .item-details {
    margin-left: 65px;

    .item-author {
      font-size: $font-size-small;
    }

    .item-title a {
      font-weight: $base-font-weight-bold;
    }

    .reserve-button {
      @extend %button;
      margin-left: 10px;
      font-size: $font-size-reset;
    }
    .item-loan {

      &,
      a {
        font-size: $font-size-reset;
        font-family: inherit;
        line-height: inherit;
      }
    }
  }
}
