/**
 * Static pages
 *
 */

.page-bibliotek .pane-content,
.page-node .field-type-text-long {
  img {
    padding: 0 0.8em;
  }
}

/* List of related materials */
.field-name-field-ding-page-materials {
  .field-item {
    @extend %material-list-item;
  }

  /* Media queries */
  @include small() {
    .group_ting_object_teaser_left {
      display:none;
    }

    .group_ting_object_teaser_right {
      @include zen-grid-item(12, 1);
    }
  }
  @include medium() {
    .group_ting_object_teaser_left {
      @include zen-grid-item(3, 1);
    }

    .group_ting_object_teaser_right {
      @include zen-grid-item(9, 1, right);
    }
  }
  @include large() {
    .group_ting_object_teaser_left {
      @include zen-grid-item(3, 1);
    }

    .group_ting_object_teaser_right {
      @include zen-grid-item(9, 1, right);
    }
  }
}
