$a-tags: 'a, a:active, a:hover, a:visited, a:hover, a:active';

.place2book {

  #{$a-tags} {
    background: transparent url("../img/sprite-knapper-reservering.png") no-repeat scroll left -90px;
    color: white;
    display: block;
    padding: 3px 0;
    text-align: center;
    width: 180px;
    font-size: 1.1em;
    font-weight: bold;
  }

  &.order {
    background: transparent url("../img/sprite-knapper-reservering.png") no-repeat scroll right -30px;
    width: 188px;
  }

  &.info {
    background: #FFEE66;
    border: 1px solid #EEDD55;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    color: #884400;
  }
}
