$a-tags: 'a, a:active, a:hover, a:visited, a:hover, a:active';

.field-name-field-place2book {
  padding-left: 36px;
}

.place2book {

  #{$a-tags} {
    @extend %button-action;
  }

  &.info {
    background: $dialog-background;
    border: 1px solid darken($dialog-background, 10%);
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    color: $dialog-text;
  }
}
