// =============================================================================
// Print stylesheet
// =============================================================================

@media print {

  body {
    font-size: 10pt;
    line-height: 16pt;
  }

  a, a:visited { text-decoration: underline; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
  }

  footer,
  .topbar-menu,
  .navigation-wrapper,
  .default-layout .secondary-content,
  .material-item .item-checkbox,
  .select-all input,
  #search-block-form .form-actions,
  #ding-library-library-list-select-library .form-submit {
    display: none;
  }
  
  .default-layout .primary-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    float: none;
  }

  .logo {
    padding-bottom: 10px;
  } 
  
  h3 {
    font-size: 120%;
  }
  
  .pane-search-result .search-results .list .search-result--availability,
  .view-node-search-result .search-results .list .search-result--availability,
  .ting-reference-reverse-list .search-results .list .search-result--availability,
  .pane-new-materials .search-results .list .search-result--availability,
  .pane-search-result .search-results .list .search-result--series,
  .view-node-search-result .search-results .list .search-result--series,
  .ting-reference-reverse-list .search-results .list .search-result--series,
  .pane-new-materials .search-results .list .search-result--series {
    border-top: 0px solid #efefef;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .pane-search-result .search-results .list .list-item,
  .view-node-search-result .search-results .list .list-item,
  .ting-reference-reverse-list .search-results .list .list-item,
  .pane-new-materials .search-results .list .list-item {
    page-break-inside: avoid;
    padding: 0px;
  }
  
  .pane-search-result .search-results .list .view-mode-teaser,
  .view-node-search-result .search-results .list .view-mode-teaser,
  .ting-reference-reverse-list .search-results .list .view-mode-teaser,
  .pane-new-materials .search-results .list .view-mode-teaser {
    padding: 5pt 0;
    border-top: 1px solid #efefef;
  }
  
  .search-results li {
    margin-bottom: 0;
  }
  
  
  .search-results p {
    margin-bottom: 0;
  }
  
  .pane-search-result .search-results .list .content,
  .view-node-search-result .search-results .list .content,
  .ting-reference-reverse-list .search-results .list .content,
  .pane-new-materials .search-results .list .content,
  .pane-search-result .search-results .list .field,
  .view-node-search-result .search-results .list .field,
  .ting-reference-reverse-list .search-results .list .field,
  .pane-new-materials .search-results .list .field {
    margin-bottom: 2pt;
  }
  
  .pane-ting-collection .field-name-ding-entity-buttons,
  .pane-ting-object .field-name-ding-entity-buttons {
    display: none;
  }
  
  .pane-reservations .material-item,
  .pane-reservations .total-amount,
  .pane-loans .material-item,
  .pane-loans .total-amount,
  .pane-debts .material-item,
  .pane-debts .total-amount,
  .pane-bookmarks .material-item,
  .pane-bookmarks .total-amount {
    page-break-inside: avoid;
    padding: 5px 0;
  }

  #ding-loan-loans-form {
    .item-information-list {
      .item-information { clear: none; width: 30%; float: left; font-size: 9px; }
      .item-information.loan-date { margin-right: 5% }
      .item-information.expire-date { margin-right: 5% }
      .item-information.material-number { margin-right: 0% }
      .item-information-label { padding: 0;  margin-right: -50%; width: 50%;}
      .item-information-data { margin-left: -50%; width: 50%; }
    }
  }

  .pane-reservations .ting-cover,
  .pane-loans .ting-cover,
  .pane-debts .ting-cover,
  .pane-bookmarks .ting-cover {
    max-width: 70%;
  }

  .pane-reservations .messages,
  .pane-loans .messages,
  .pane-debts .messages,
  .pane-bookmarks .messages {
    margin-bottom: 5px;
  }
}


