/**
 * User
 *
 * @author magnify
 */


/* /user/$uid/status/*
   ========================================================================== */

.pane-reservations,
.pane-loans,
.pane-debts,
.pane-bookmarks {
  padding-bottom: 30px;
  border-bottom: 1px solid $gray;
  margin-bottom: 30px;
  overflow: hidden;

  .left-column {
    @include zen-grid-item(2, 1);
  }

  .right-column {
    @include zen-grid-item(10, 1, right);
  }

  .material-item,
  .total-amount {
    overflow: hidden;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;

    &.odd {
      background-color: $gray-light;
    }
    &.even {
      background-color: $gray-lighter;
    }
  }

  .total-amount {
    background-color: $gray;
    font-size: $font-size-large;
    margin-bottom: $large-spacing;
  }

  .item-checkbox {
    float: left;
    width: 25%;

    .form-item {
      text-align: left;
    }
  }

  .ting-cover {
    float: left;
    max-width: 75%;

    &:before {
      font-size: 200%;
      left: 25%;
      top: 5%;
    }
  }

  .item-information-list {
    overflow: hidden;
    padding-left: 0;

    .item-information {
      overflow: hidden;
      clear: left;
    }
  }

  .item-information-label {
    @include zen-grid-item(7, 1);

    padding: 0;
    padding-right: 10px;
  }

  .item-information-data {
    @include zen-grid-item(5, 1, right);

    padding: 0;

    text-align: right;
  }

  .select-all {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 20px;
    background-color: $gray;

    .form-checkbox {
      margin-right: 5px;
    }

    label {
      vertical-align: middle;
    }
  }

  .form-item {
    margin-bottom: 0;
  }

  .messages {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 30px;

    margin-bottom: 10px;

    &:before {
      left: 7px;
      font-size: 16px;
    }
  }

  .form-checkbox[disabled^="disabled"] {
    display: none;
  }

  /* BUTTONS */

  .renew-loan-button  {
    .renewable {
      @extend %button-action;
    }
  }

  .renew-loan-button  {
    .not-renewable {
      @extend %button-danger;
    }
  }

  .action-button {
    display: inline-block;
    margin-right: $large-spacing;
  }

  .reserve-button {
    @extend %button-action;
  }

  .delete-reservation,
  .delete-reservations {
    .form-submit {
      @extend %button-danger;
    }
  }

  .update-reservations,
  .renew-loan-button {
    .form-submit {
      @extend %button-action;
    }
  }
  /* END BUTTONS */
}

.pane-loans {
  .select-all {
    background-color: $green;
    color: $white;

    &.overdue {
      background-color: $red;
    }

    &.due {
      background-color: $yellow;
    }
  }
}


/* User debts specific
   ========================================================================== */

.pane-ding-dibs-dibs-terms-of-sale,
.pane-ding-dibs-dibs-cards-supported {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $large-spacing;
  padding-bottom: $large-spacing;

  #dibs-cards-supported {
    .card-name {
      font-weight: $base-font-weight-bold;
      font-family: $font-bold;
    }
  }
}

.pane-debts {
  .left-column {
    @include zen-grid-item(1, 1);
  }

  .right-column {
    @include zen-grid-item(11, 1, right);
  }

  .pay-button {
    margin-right: $large-spacing;
    margin-bottom: $large-spacing;
    float: left;

    .form-submit {
      @extend %button-action;
    }

  }
}

/* Breakpoints
   ========================================================================== */

@include small() {
  .pane-reservations,
  .pane-loans,
  .pane-bookmarks {
    h3 {
      font-size: 130%;
    }
    .left-column {
      @include zen-grid-item(1, 1);
    }

    .right-column {
      @include zen-grid-item(11, 1, right);
    }

    .item-checkbox {
      width: 100%;
      clear: both;
      display: block;
      float: none;
      margin-right: 10px;
    }

    .ting-cover {
      display: none;
      // Needed if display is turned back on.
      /*clear: both;
      float: none;
      max-width: 100%;
      margin-top: 15px;*/
    }

    .item-information-label {
      padding: 0;

      font-weight: bold;
    }

    .item-information-data {
      padding: 0;
      margin-bottom: 10px;
    }

    .action-buttons {
      .action-button {
        margin-top: 10px;

        &:nth-of-type(1) {
          margin-top: 0;
        }
      }
    }

  }
}

@include medium() {
  .pane-reservations,
  .pane-loans,
  .pane-bookmarks {
    .left-column {
      @include zen-grid-item(3, 1);
    }

    .right-column {
      @include zen-grid-item(9, 1, right);
    }

    .item-checkbox {
      width: 30%;
    }

    .ting-cover {
      max-width: 70%;
    }

    .item-information-label {
      @include zen-grid-item(6, 1);

      padding: 0;
      padding-right: 10px;
    }

    .item-information-data {
      @include zen-grid-item(6, 1, right);

      padding: 0;
    }
  }
}

@include large() {
  .pane-reservations,
  .pane-loans,
  .pane-bookmarks {
    .item-checkbox {
      width: 35%;
    }

    .ting-cover {
      max-width: 65%;
    }

    .item-information-label {
      @include zen-grid-item(6, 1);

      padding: 0;
      padding-right: 10px;
    }

    .item-information-data {
      @include zen-grid-item(6, 1, right);
    }
  }
}


/* User login in header
   ========================================================================== */

.header-wrapper {
  /* Add padding if the search is in the header */
  .user {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
  }
}

.user {
  @extend %search-user-header;
  overflow: hidden;

  .user-field-wrapper {
    position: relative;
  }

  .form-item-name {
    @include zen-grid-item(6, 1);

    .form-text {
      padding-left: 45px;
    }
  }

  .form-item-pass {
    @include zen-grid-item(6, 1, right);

    .form-text {
      padding-left: 42px;
    }
  }

  .block-title {
    display: none;
  }

  @include small() {
    .form-item-name,
    .form-item-pass {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }

    .form-actions {
      margin-bottom: 0;
    }

    .form-submit {
      margin-top: $medium-spacing;
    }
  }

  @include small-medium() {
    text-align: left;

    .block-title {
      display: block;
      color: $white;
      margin-top: 10px;
      border-bottom: 1px solid transparentize($white, .75);
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .user-field-wrapper {
      position: relative;
    }
  }

  @include small-medium {
    width: auto;
  }
}


.user-name {
  color: $white;

  .user-name-title {
    font-size: $font-size-larger;
    overflow: hidden;
    max-height: 45px;
  }

  @include small-medium() {
    .user-name-title {
      margin-bottom: 0;
    }
  }
}

.user-name,
.user-menu-loans,
.user-menu {
  border-bottom: 1px solid transparentize($white, .75);
  display: none;
  padding-right: $medium-spacing;
  padding-bottom: $medium-spacing;
  text-align: right;

  @include small-medium() {
    border-bottom: 0;
    padding-bottom: 0;
    text-align: left;
  }
}

.user-menu-loans,
.user-menu {
  padding-top: $medium-spacing;

  @include small-medium() {
    padding-top: 0;
  }
}

.user-menu {
  @include font-bold();
}


/* User WAYF login
   ========================================================================== */

.wayf-wrapper {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.ding-gatewayf--cancel {
  margin-left: 15px;
}

.pane-ding-gatewayf-login {
  display: inline-block;

  .ding-gatewayf--login-block {
    background-color: $white;

    @include border-radius($button-border-radius);

    a {
      color: $font-color-primary;
    }

    padding: 4px 15px;
  }

  margin-left: 20px;

  img {
    height: 20px;
    padding-bottom: 2px;
  }
}

.pane-ding-gatewayf-registration-registration {
  display: inline-block;

  .ding-gatewayf--registration {
    background-color: $white;

    @include border-radius($button-border-radius);

    .ding-gatewayf-registration-link {
      color: $font-color-primary;
    }

    padding: 4px 15px;
  }
}

.ding-gatewayf--link-wrapper {
  margin-top: $medium-spacing;
}

/* User profile
   ========================================================================== */

.user-loan-status-wrapper {
  padding-top: $large-spacing;
}

.user-status-loan,
.user-status-reservation,
.user-status-debt,
.user-status-ready-pickup {
  @include border-radius(8px);
  @include font-bold();
  @extend .icon-chevron-right;

  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;

  &:hover {
    text-decoration: none;
  }

  &:before {
    float: right;
    font-family: $base-icon-library-font;
  }

}

.user-status-loan,
.user-status-reservation {
  background-color: $gray-light;
  color: $link-color;

  &:focus,
  &:hover {
    background-color: darken($gray-light, 5%);
  }
}

.user-status-debt,
.user-status-ready-pickup {
  &:link,
  &:visited,
  &:focus,
  &:active {
    color: $white;
  }
}

.user-status-debt {
  background-color: $red;

  &:focus,
  &:hover {
    background-color: darken($red, 5%);
  }
}

.user-status-ready-pickup {
  background-color: $green;

  &:focus,
  &:hover {
    background-color: darken($green, 5%);
  }
}

.pane-profile2 {
  border-top: 1px solid $gray-light;

  .field {
    border-right: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    border-left: 1px solid $gray-light;
  }

  .field-label,
  .field-item {
    @include box-sizing(border-box);

    display: inline-block;
    padding-top: $medium-spacing;
    padding-right: $medium-spacing;
    padding-bottom: $medium-spacing;
    padding-left: $medium-spacing;
  }

  .field-label {
    min-width: 200px;
  }

  .notice-sms {
    font-style: italic;
    padding-left: .5em;
  }

  /* Media queries */
  @include small() {
    .field-label {
      margin-bottom: -8px;
      padding-bottom: 0;
    }
  }
}

/* User loans
   ========================================================================== */

.pane-loans,
.pane-reservations,
.pane-bookmarks {
  ul {
    margin: 0;
    padding: 0;
  }

  .form-checkbox {
    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .order-id {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 47px;
  }
}

.bookmark-button {
  @extend %button-default;
}

.pane-bookmarks .action-button {
  margin-top: 10px;
  margin-right: 0;
}

#ding-bookmark-remove-form {
  .form-submit {
    @extend %button-danger;
  }
}
