.ding-user-consent-set {
  background: none repeat scroll 0 0 #006FB9;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding: 30px;
}
.ding-user-consent-set .transparent-button {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 85%;
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
}
.ding-user-consent-set .transparent-button.negative:hover {
  background: none repeat scroll 0 0 #E74C3C;
  border-color: #E74C3C;
}
.ding-user-consent-set .transparent-button.positive:hover {
  background: none repeat scroll 0 0 #27AE60;
  border-color: #27AE60;
}