/* Colors variables
   ========================================================================== */
/* Font variables
   ========================================================================== */
.ding-item-list-item .item-details .reserve-button {
  border-radius: 10px;
  display: inline-block;
  font-size: 100%;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 1px #595959 inset;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}
.ding-item-list-item .item-details .reserve-button:focus, .ding-item-list-item .item-details .reserve-button:hover, .ding-item-list-item .item-details .reserve-button:active {
  text-decoration: none;
}
.ding-item-list-item .item-details .disabled.reserve-button, .ding-item-list-item .item-details [disabled].reserve-button {
  opacity: 0.65;
  box-shadow: none;
  cursor: default;
}

.pane-ding-item-list-recommendations {
  margin: 10px 0;
}

.pane-ding-item-list {
  background-color: #fff;
  padding: 10px;
}
.pane-ding-item-list .pane-title {
  margin-bottom: 0;
}

.layout-wrapper .pane-ding-item-list {
  background-color: transparent;
  padding: 0;
}

.ding-item-list-item {
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px dashed #ccc;
  font-size: 16px;
}
.ding-item-list-item .item-cover {
  float: left;
}
.ding-item-list-item .item-details {
  margin-left: 65px;
}
.ding-item-list-item .item-details .item-author {
  font-size: 90%;
}
.ding-item-list-item .item-details .item-title a {
  font-weight: 600;
}
.ding-item-list-item .item-details .reserve-button {
  margin-left: 10px;
  font-size: 100%;
}
.ding-item-list-item .item-details .item-loan,
.ding-item-list-item .item-details .item-loan a {
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
}
