@import '../base.scss';

#sliding-popup {
  &.sliding-popup-bottom {
    background: $black;
    .popup-content {
      @include wrapper;
      position: relative;
      height: 180px;
      #popup-text {
        @include font('base');
        max-width: none;
        float: none;
        padding-top: 20px;
        padding-bottom: 10px;
        p {
          margin: 0;
          &:nth-child(1) {
            @include font('header-small');
          }
          a {
            color: $white;
            &:hover {
              color: $white;
            }
          }
        }

        // Mobile
        @include media($mobile) {
          float: left;
          padding-bottom: 10px;
          width: calc(100% - 40px);
        }
      }
      #popup-buttons {
        max-width: none;
        float: left;
        .agree-button,
        .find-more-button {
          @extend %button;
          @include font('base');
          background: $charcoal;
          color: white;
          float: left;
          margin-right: 20px;
          text-shadow: none;
          border: none;
          box-shadow: none;

          // Mobile
          @include media($mobile) {
            width: 100% !important;
            margin: 0 0 15px !important;
            text-align: left;
          }
        }
      }
      .close {
        @include place-icon('close', $white, 60px);
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 60px;
        top: 50%;
        margin-top: -20px;
        cursor: pointer;

        // Mobile
        @include media($mobile) {
          top: 25px;
        }
      }
    }
  }
}
