//
// Styling of cookie popup bar

@import '../base.scss';

#sliding-popup {
  &.sliding-popup-bottom {
    #popup-text {
      @include font('base');
      p {
        a, a:hover {
          color: $white;
        }
      }

      // Mobile
      @include media($mobile) {
        float: left;
        padding-bottom: 10px;
      }
    }

    .popup-content {
      @include wrapper;
      position: relative;
    }

    #popup-buttons {
      .agree-button,
      .find-more-button,
      .hide-popup-button,
      .decline-button,
      .eu-cookie-withdraw-button {
        @extend %button;
        @include font('base');
        background: $color-secondary;
        color: $color-text-on-secondary;
        text-shadow: none;
        border: none;
        box-shadow: none;
        .no-touch & {
          &:hover {
            background: none;
            background-color: $grey-dark;
            color: $white;
          }
        }
      }
    }
  }

  &.eu-cookie-withdraw-wrapper {
    #popup-buttons {
      margin: 0;
      .eu-cookie-withdraw-button {
        padding: 4px 20px 4px 8px;
      }
    }
  }

  &.sliding-popup-bottom:not(.eu-cookie-withdraw-wrapper) {
    .popup-content {
      height: 180px;
    }
    #popup-text {
      max-width: calc(100% - 40px);
      float: none;
      padding-top: 20px;
      padding-bottom: 10px;
      p {
        display: block;
        margin: 0;
        &:nth-child(1) {
          @include font('display-small');
        }
      }
    }

    #popup-buttons {
      max-width: none;
      float: left;
      .agree-button,
      .find-more-button,
      .hide-popup-button,
      .decline-button {
        float: left;
        margin-right: 20px;

        // Mobile
        @include media($mobile) {
          width: 100%;
          margin: 0 0 15px;
          text-align: left;
        }
      }
    }

    .close {
      @include place-icon('close', $white, 60px);
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      line-height: 60px;
      top: 0;
      cursor: pointer;
    }
  }
}
