//
// Styling of Ding list

@import '../base.scss';

// ==========================================================================
// Pane-sharer-pane and Social share container styles on Ding-list
// ==========================================================================

.page-list {
  .pane-sharer-pane {
    float: right;
  }
  //Overwrite deafult styles for the social share container on list-page
  .social-share-container {
    width: auto;
    float: right;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 30px;
    a {
      padding-right: 15px;      
      //Mobile
      @include media($mobile) {
        width: 171px;
      }
    }
  }
}