// ding_react element styling.

@import '../base.scss';

.ddb-btn {
  font-size: 14px;
}

// Checklist
.field-name-ding-entity-buttons .ddb-btn,
.field-name-ding-entity-buttons .ddb-alert {
  // Add default spacing between buttons to match action button styling.
  margin-bottom: 15px;
}

.ddb-simple-material {
  font-size: 14px;

  &__title {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }
}

// Searchlist
.has-add-to-searchlist .form-item-search-block-form {
  position: relative;

  // Leaving space for the star on the search input element.
  > .form-text {
    padding-right: 40px;
    box-sizing: border-box;
  }

  .ddb-btn {
    position: absolute;
    background: transparent;
    top: 50%;
    right: 0;
    width: 40px;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
    text-align: center;

    cursor: pointer;
    font-size: 0;

    &::after {
      color: $color-standard-text;
      @extend %icon-star-outline;
      @extend %icomoon-base;

      font-size: 25px;
      vertical-align: middle;
    }

    &:hover {
      &::after {
        @extend %icon-star;
      }
    }
  }
}

.ddb-dialog {
  &__overlay {
    // Make dialog appear on top of site header.
    z-index: 902;
  }

  &__close {
    box-sizing: content-box;
  }
}

.ddb-searchlist {
  &__item {
    font-size: 14px;
  }

  &__header a {
    color: $color-text-link;
    font-size: 18px;
  }
}
