//
// Styling of site header

@import '../base.scss';

// In order to make the theme backwards compatible we are styling the existing markup.
// This makes the code in this file a bit messy.
.site-header {
  // ==========================================================================
  // Topbar
  // ==========================================================================
  .topbar {
    @include transition(transform $speed $ease);
    @include transform(translateY(0%));
    position: fixed;
    z-index: $z-overlay + 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $grey-light;
    box-shadow: $box-shadow;

    // Tablet
    @include media($tablet) {
      box-shadow: none;
    }
    // Admin menu
    .admin-menu & {
      top: $admin-menu-height;
    }
    // Admin menu shortcuts or toolbar.
    .admin-menu-with-shortcuts &,
    .toolbar & {
      top: $toolbar-height;
    }

    .search-extended-button {
      @include media($tablet) {
        display: block;
      }

      display: none;
      position: absolute;
      // 15px to position it in the middle of the bar.
      top: $topbar-height + 15px;
      right: 5%;
      z-index: 5;
    }
  }
  .topbar-inner {
    @include wrapper;
    @include transition(height $speed $ease);
    position: relative;
    height: 64px;

    // Tablet
    @include media($tablet) {
      width: 100%;
    }

    .logo {
      @include span-columns(4);
      height: 44px;
      margin-top: 10px;

      // Tablet
      @include media($tablet) {
        position: relative;
        width: 100%;
        height: 64px;
        margin-top: 0;
        padding: 10px 5%;
        box-shadow: $box-shadow;
        background-color: $grey-light;
        z-index: 5;
      }
    }
    .site-name-container {
      height: 44px;

      // Tablet
      @include media($tablet) {
        width: 100%;
      }
      .site-name {
        @include font('display-small');
        line-height: 44px;
        color: $charcoal;
      }
      &.logo-container {
        .site-name {
          display: none;
        }
        .vertical-helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        img {
          display: inline-block;
          vertical-align: middle;
          max-height: 100%;
          max-width: 95%;
          width: auto;
          height: auto;
        }

        // Mobile
        @include media($mobile) {
          .site-name {
            display: block;
          }
          .vertical-helper,
          img {
            display: none;
          }
        }
      }
    }
    .topbar-menu {
      // Tablet
      @include media($tablet) {
        width: 100%;
        position: relative;
        z-index: 4;
        float: left;
        padding: 10px 5%;
        background-color: $color-primary;
        box-shadow: $box-shadow;
      }
    }
    .pane-current-user-name {
      float: right;
      width: getColumn(3);
      margin-right: getGutter(12) / 2;
    }
  }
  // ==========================================================================
  // Header wrapper
  // ==========================================================================
  .header-wrapper {
    position: fixed;
    z-index: $z-header - 1;
    top: $topbar-height;
    width: 100%;

    // Tablet
    @include media($tablet) {
      z-index: $z-header - 1;
    }
    // Search form extended
    .search-form-extended & {
      position: static;
    }
  }
  .header-inner {
    @include wrapper;
    position: relative;
    .pane-user-menu {
      position: fixed;
      z-index: $z-header + 1;
      top: 0;

      // Tablet
      @include media($tablet) {
        @include transition(
          transform $speed $ease,
          top 0ms $ease $speed
        );
        @include transform(translateY(-400%));
        z-index: $z-header - 1;
        width: 100%;
        top: $header-height;
        left: 0;
        max-height: 100%;
        display: block;
        overflow: scroll;
        .navigation-inner {
          box-shadow: $box-shadow;
          background-color: $grey-dark;
        }
        .mobile-usermenu-is-open & {
          padding-bottom: $header-height;
          @include transform(translateY(0%));
        }
      }
    }
    .pane-search-form {
      @include transition(
        transform $speed $ease,
        top 0ms $ease $speed,
        margin 0ms $ease $speed
      );
      @include span-columns(3);
      @include omega;
      position: absolute;
      z-index: 2;
      right: 0;
      padding: 15px 0;

      // Tablet
      @include media($tablet) {
        @include transform(translateY(-300%));
        position: fixed;
        width: 100%;
        background-color: $color-primary;
        padding: 15px 5%;
        .mobile-search-is-open & {
          @include transform(translateY(0%));
          box-shadow: $box-shadow;
        }
      }
      .form-item-search-block-form {
        width: getColumn(2 of 3) + getGutter(3);
        float: left;
        input[type="text"] {
          @include transition(width $speed $ease);
          border-radius: $round-corner 0 0 $round-corner;
          width: 100%;
          float: right;
          &:focus {
            width: getColumn(4 of 2);
            box-shadow: none;
          }
        }

        // Tablet
        @include media($tablet) {
          width: getColumn(10) + getGutter();
          input[type="text"] {
            width: 100%;
            &:focus {
              width: 100%;
            }
          }
        }

        // Mobile
        @include media($mobile) {
          width: getColumn(9) + getGutter();
        }
      }
      .form-actions {
        width: getColumn(1 of 3);
        float: left;
        input[type="submit"] {
          border-radius: 0 $round-corner $round-corner 0;
        }

        // Tablet
        @include media($tablet) {
          width: getColumn(2);
        }

        // Mobile
        @include media($mobile) {
          width: getColumn(3);
        }
      }
      // Search form extended
      .search-form-extended & {
        @include clearfix;
        @include transition(
          transform $speed $ease,
          top $speed $ease,
          box-shadow $speed $ease
        );
        position: fixed;
        z-index: $z-header - 10;
        width: 100%;
        background-color: $charcoal;

        // Tablet
        @include media($tablet) {
          position: fixed;
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
        .search-field-wrapper {
          @include wrapper;
          position: relative;
          // Tablet
          @include media($tablet) {
            position: relative;
            width: 100%;
          }
        }

        .form-item-search-block-form {
          width: getColumn(11) + getGutter();
          input[type="text"] {
            &:focus {
              width: 100%;
            }
          }

          // Tablet
          @include media($tablet) {
            width: 100%;
            padding-right: 70px;
          }
        }
        .form-actions {
          width: getColumn(1);
          float: right;
          input[type="submit"] {
            @include transition(
              background-color $speed $ease,
              color $speed $ease
            );
            background-color: $grey;
            color: $charcoal;
            &:hover {
              background-color: $grey-dark;
              color: $white;
            }
          }

          // Tablet
          @include media($tablet) {
            position: absolute;
            top: 0;
            right: 0;
            width: 70px;
          }
        }
        .form-item-ting-field-search {
          position: absolute;
          right: getColumn(1);
          width: getColumn(3) + getGutter();
          margin-right: 0;
          margin-bottom: 0;

          > label[for="edit-ting-field-search"] {
            // This label is hidden, but it needs to still be visible for
            // screenreaders. We'll hide it by placing it to the left of the
            // screen canvas.
            position: absolute;
            left: -9999px;
            height: 0;
            width: 0;
          }

          .select-wrapper {
            border-radius: 0;
            border: 1px solid $white;
            border-left: 1px solid $grey;
            &::before {
              background-color: $white;
            }
          }

          // Tablet
          @include media($tablet) {
            width: 200px;
            right: 70px;
          }

          // Mobile
          @include media($mobile) {
            position: static;
            width: 100%;
            float: left;
            margin-top: 10px;

            .select-wrapper {
              border-radius: $round-corner;
            }
          }
        }
      }
      // Search form extended with profiles
      .search-form-extended-with-profiles & {
        .form-item-search-block-form {
          width: getColumn(8) + getGutter();

          // Tablet
          @include media($tablet) {
            width: 100%;
            padding-right: 270px;
          }

          // Mobile
          @include media($mobile) {
            padding-right: 70px;
          }
        }
      }

      // Search form extended
      .search-form-extended & {
        box-shadow: $box-shadow;

        // Tablet
        @include media($tablet) {
          box-shadow: none;
        }
      }
      // Search form extended when mobile search is open
      .search-form-extended.mobile-search-is-open & {
        // Tablet
        @include media($tablet) {
          box-shadow: $box-shadow;
        }
      }
    }
  }
  // ==========================================================================
  // Navigation
  // ==========================================================================
  > .navigation-wrapper {
    @include transition(
      transform $speed $ease,
      box-shadow $speed $ease
    );
    position: fixed;
    z-index: $z-header - 2;
    left: 0;
    width: 100%;
    background-color: $color-primary;
    box-shadow: $box-shadow;

    // Tablet
    @include media($tablet) {
      @include transition(
        transform $speed $ease,
        top 0ms $ease $speed
      );
      @include transform(translateY(-300%));
      display: block;
      overflow: scroll;
      max-height: 100%;
      background-color: transparent;
      box-shadow: none;
      height: 80vh;
      .mobile-menu-is-open & {
        @include transform(translateY(0%));
      }
    }

    // Search Form Extended
    .search-form-extended & {
      @include transition(
        top $speed $ease,
        transform $speed $ease,
        box-shadow $speed $ease
      );
    }

    .navigation-inner {
      @include wrapper;
      position: relative;

      // Tablet
      @include media($tablet) {
        width: 100%;
        display: block;
        box-shadow: none;
        background-color: $color-primary;
        .mobile-menu-is-open & {
          box-shadow: $box-shadow;
        }
      }

      // Leaving space for .search-extended-button button.
      .has-search-dropdown & {
        padding-right: 69px;

        @include media($tablet) {
          padding-right: 0;
        }
      }

      .search-extended-button {
        .has-search-dropdown & {
          display: block;

          @include media($tablet) {
            display: none;
          }
        }

        display: none;
        position: absolute;
        top: 15px;
        right: 0;
      }

      .main-menu-wrapper {
        @include transition(
          transform $speed $ease,
          top 0ms $ease $speed
        );
        @include span-columns(9);

        @include media($tablet) {
          width: 100%;
        }

        // Search form extended
        .search-form-extended & {
          width: auto;
          // Tablet
          @include media($tablet) {
            width: 100%;
          }
        }
      }
      .secondary-menu-wrapper {
        position: relative;
        display: none;

        // Search Form Extended
        .show-secondary-menu & {
          display: block;
          float: right;

          // Tablet
          @include media($tablet) {
            width: 100%;
            background-color: $grey;
          }
        }

        @include media($tablet-min-width) {
          // If there are too many links, we need to move the secondary menu
          // down so it doesnt collide with the fixed sub menu.
          .secondary-menu-below-main.has-second-level-menu & {
            margin-top: $second-level-menu-height;
          }

          .has-multiline-main-menu &,
          .has-multiline-main-menu.has-second-level-menu & {
            margin-top: -$search-form-extended-height;
          }
        }

      }
      .pane-menu-block-main-menu-second-level {
        @include transition(top $speed $ease);
        position: fixed;
        z-index: $z-header - 1;
        left: 0;
        width: 100%;
        background-color: $grey-darker;
        box-shadow: $box-shadow;

        // Tablet
        @include media($tablet) {
          display: none;
        }

        @include media($tablet-min-width) {
          .has-multiline-main-menu & {
            margin-top: $search-form-extended-height;
          }
        }

        &::before {
          content: '';
          display: block;
          height: 1px;
          width: 100%;
          box-shadow: 0 5px 10px 0 $black;
        }
        > .panel-pane-inner {
          @include wrapper;
        }
      }
    }
  }
  // Hide and show on mobile
  .topbar-up & {
    .topbar {
      @include transition(transform 600ms $ease);
      @include transform(translateY(-64px));
      .topbar-inner {
        .logo {
          box-shadow: none;
        }
      }
    }
    > .header-wrapper {
      > .header-inner {
        .pane-user-menu,
        .pane-search-form {
          // Mobile
          @include media($mobile) {
            @include transition(
              transform $speed $ease,
              top 0ms $ease
            );
          }
        }
      }
    }
    > .navigation-wrapper {
      // Mobile
      @include media($mobile) {
        @include transition(
          transform $speed $ease,
          top 0ms $ease
        );
      }
    }
  }

  // Positioning the search form and the navigation wrapper.
  // These elements are placed on the page using fixed positioning, and because
  // of this they need to have a set height from the top.
  .pane-search-form {
    // There is a lot of combinations of classes which effect the "top" property.
    // This mixin solution was made as an alternative to having a bunch of
    // {codeblocks} which all did basically the same thing.
    // Using this mixin allows it to be more maintainable also.
    // @NOTICE: for pane-search-form, it adds a base value to the values.
    // $_base-top-value below.
    $_base-top-value: $topbar-height;

    $_selectors-top-values--search-form: (
      // .admin-menu does not need the base value added.
      '.admin-menu': $admin-menu-height - $_base-top-value,
      '.admin-menu-with-shortcuts': 0,
      '.toolbar': $toolbar-height,
      '.search-form-extended': $search-form-extended-height,
      '.search-form-extended.admin-menu': $search-form-extended-height + $admin-menu-height,
      '.search-form-extended.admin-menu-with-shortcuts': $search-form-extended-height + $toolbar-height,
      '.search-form-extended.toolbar': $search-form-extended-height + $toolbar-height,
      // When the search bar is  extended, the search form will be moved out
      // of view, below the menu above.
      '.search-form-extended.extended-search-is-not-open': 0,
    );

    @each $_selector, $_value in $_selectors-top-values--search-form {
      #{$_selector} & {
        top: $_base-top-value + $_value;
      }

      @include media($tablet-min-width) {
        // If there are too many links, we need to add even more padding.
        #{$_selector}.secondary-menu-below-main & {
          top: $_base-top-value + $_value + $search-form-extended-height;
        }

        #{$_selector}.has-second-level-menu & {
          top: $_base-top-value + $_value + $second-level-menu-height;
        }

        #{$_selector}.has-second-level-menu.secondary-menu-below-main &,
        #{$_selector}.has-second-level-menu.has-multiline-main-menu & {
          top: $_base-top-value + $_value + $second-level-menu-height + $search-form-extended-height;
        }

        // If there are too many links, we need to add even more padding.
        #{$_selector}.has-multiline-main-menu & {
          top: $_base-top-value + $_value  + $search-form-extended-height;
        }
      }
    }

    top: 0;

    // For readability, we'll leave media queries out of the mixin above.
    @include media($tablet) {
      top: $header-height;

      .mobile-menu-is-open & {
        padding-bottom: $header-height;
      }

      .admin-menu & {
        top: $header-height + $admin-menu-height;
      }

      .search-form-extended.extended-search-is-not-open &,
      .search-form-extended & {
        top: $header-height;
      }
    }
  }

  .navigation-wrapper {
    // There is a lot of combinations of classes which effect the "top" property.
    // This mixin solution was made as an alternative to having a bunch of
    // {codeblocks} which all did basically the same thing.
    // Using this mixin allows it to be more maintainable also.
    $_selectors-top-values--navigation-wrapper: (
      '.mobile-search-is-open': $header-height,
      '.admin-menu': $topbar-height + $admin-menu-height,
      '.admin-menu-with-shortcuts': $topbar-height * 2,
      '.toolbar': $toolbar-height,
      '.search-form-extended.admin-menu': $topbar-height + $admin-menu-height,
      '.search-form-extended.admin-menu-with-shortcuts': $topbar-height + $toolbar-height,
      '.search-form-extended.toolbar': $topbar-height + $toolbar-height
    );

    @each $_selector, $_value in $_selectors-top-values--navigation-wrapper {
      #{$_selector} & {
        top: $_value;
      }
    }

    top: $topbar-height;

    .pane-menu-block-main-menu-second-level {
      top: $header-height;
      // Admin menu
      .admin-menu & {
        top: $header-height + $admin-menu-height;
      }
      // Admin menu with shortcuts or toolbar
      .admin-menu-with-shortcuts &,
      .toolbar & {
        top: $header-height + $toolbar-height;
      }
    }

    // For readability, we'll leave media queries out of the mixin above.
    @include media($mobile) {
      top: $header-height - $topbar-height;
      .mobile-usermenu-is-open & {
        padding-bottom: $header-height - $topbar-height;
      }
    }

    @include media($tablet) {
      top: $header-height;
    }
  }
}

.search-form-extended.extended-search-is-not-open .site-header .pane-search-form {
  visibility: hidden;
}
