//
// Styling of site header

@import '../base.scss';

.site-header {
  position: fixed;
  z-index: $z-overlay + 1;
  top: 0;
  left: 0;
  width: 100%;
  .admin-menu & {
    top: $admin-menu-height;
  }
  .site-header-inner {
    @include wrapper;

    // Tablet
    @include media($tablet) {
      width: 100%;
    }
  }
}

// ==========================================================================
// Topbar
// ==========================================================================
.site-header-topbar {
  position: relative;
  z-index: $z-overlay + 1;
  background-color: $grey-light;
  box-shadow: $box-shadow;

  // Pane header logo
  .pane-header-logo {
    @include span-columns(4);
    height: 44px;
    margin-top: 10px;

    // Tablet
    @include media($tablet) {
      position: relative;
      width: 100%;
      height: 64px;
      margin-top: 0;
      padding: 10px 5%;
      box-shadow: $box-shadow;
      background-color: $grey-light;
      z-index: 5;
    }
  }

  // Tablet
  @include media($tablet) {
    box-shadow: none;
    .topbar-menu {
      position: relative;
      z-index: 3;
      width: 100%;
      background-color: $color-primary;
      padding: 10px 5%;
      box-shadow: $box-shadow;
    }
  }
}

// ==========================================================================
// Search and user menu
// ==========================================================================
.site-header-search-and-user-menu {
  position: relative;
  .pane-user-menu {
    position: absolute;
    top: 0;
    z-index: 2;
  }
  .pane-search-form {
    position: absolute;
    width: 100%;
    .form-item-search-block-form {
      float: left;
      input[type="text"] {
        border-radius: $round-corner 0 0 $round-corner;
        &:focus {
          box-shadow: none;
        }
      }
    }
    .form-actions {
      input[type="submit"] {
        border-radius: 0 $round-corner $round-corner 0;
      }
    }
  }
  .search-field-wrapper {
    @include wrapper;
    position: relative;
  }
  // Search form default
  .search-form-default & {
    .search-field-wrapper {
      form {
        position: absolute;
        z-index: 1;
        top: 15px;
        right: 0;
        width: getColumn(3);

        // Tablet
        @include media($tablet) {
          position: static;
          width: 100%;
        }
      }
      .form-item-search-block-form {
        width: getColumn(2 of 3) + getGutter(3);
        float: left;
        input[type="text"] {
          @include transition(width $speed $ease);
          float: right;
          &:focus {
            width: getColumn(4 of 2);
            box-shadow: none;
          }
        }

        // Mobile
        @include media($mobile) {
          width: getColumn(9) + getGutter();
        }
      }
      .form-actions {
        width: getColumn(1 of 3);
        float: left;
        input[type="submit"] {
          border-radius: 0 $round-corner $round-corner 0;
        }
      }
    }
  }
  // Search form extended
  .search-form-extended & {
    @include transition(height $speed $ease);
    height: 0;
    .pane-search-form {
      @include transition(box-shadow $speed $ease);
      bottom: 0;
      left: 0;
      background-color: $charcoal;
      box-shadow: none;
      padding: 15px 0;
      .search-extended-button {
        position: absolute;
        z-index: 1;
        top: $search-form-extended-height;
        right: 0;
      }
      .form-item-search-block-form {
        width: getColumn(11) + getGutter();
        input[type="text"] {
          &:focus {
            width: 100%;
          }
        }
      }
      .form-actions {
        width: getColumn(1);
        float: right;
        input[type="submit"] {
          background-color: $grey;
          color: $charcoal;
          &:hover {
            background-color: $grey-dark;
            color: $white;
          }
        }
      }
    }
  }
  .search-form-extended.extended-search-is-open & {
    height: $search-form-extended-height;

    // Tablet
    @include media($tablet) {
      height: auto;
    }
    .pane-search-form {
      box-shadow: $box-shadow;
    }
  }
  // Search form extended with profiles
  .search-form-extended-with-profiles & {
    .pane-search-form {
      .form-item-search-block-form {
        width: getColumn(8) + getGutter();
      }
      .form-item-ting-field-search {
        width: getColumn(3) + getGutter();
        float: left;
        margin-bottom: 0;
      }
      .select-wrapper {
        border-radius: 0;
        border: 1px solid $white;
        border-left: 1px solid $grey;
        &:before {
          background-color: $white;
        }
      }
    }
  }
  .search-form-extended &,
  .search-form-default & {
    // Tablet
    @include media($tablet) {
      .pane-search-form {
        @include transition(
          transform $speed $ease,
          box-shadow $speed $ease
        );
        @include transform(translateY(-100%));
        bottom: auto;
        padding: 15px 0;
        background-color: $charcoal;
      }
      .search-field-wrapper {
        .form-item-search-block-form {
          width: getColumn(10) + getGutter();
          input[type="text"] {
            &:focus {
              width: 100%;
            }
          }
        }
        .form-actions {
          width: getColumn(2);
        }
      }
    }
    // Mobile
    @include media($mobile) {
      .search-field-wrapper {
        .form-actions {
          width: getColumn(3);
        }
      }
    }
  }
  .mobile-search-is-open & {
    // Tablet
    @include media($tablet) {
      .pane-search-form {
        @include transform(translateY(0));
        box-shadow: $box-shadow;
      }
    }
  }
}

// ==========================================================================
// Navigation
// ==========================================================================
.site-header-navigation {
  position: relative;
  background-color: $color-primary;
  box-shadow: $box-shadow;

  // Tablet
  @include media($tablet) {
    @include transition(
      transform $speed $ease
    );
    @include transform(translateY(-100%));
    position: absolute;
    top: $header-height;
    left: 0;
    max-height: 100vh;
    padding-bottom: $header-height;
    background-color: transparent;
    overflow: scroll;
    box-shadow: none;

    .main-menu-wrapper {
      @include transition(
        box-shadow $speed $ease
      );
      float: left;
      background-color: $color-primary;
    }

    .mobile-menu-is-open & {
      @include transform(translateY(0%));

      .main-menu-wrapper {
        box-shadow: $box-shadow;
      }
    }
  }
  .secondary-menu-wrapper {
    display: none;
    // Show secondary menu
    .show-secondary-menu & {
      display: block;
      float: right;
      padding-right: 69px;

      // Tablet
      @include media($tablet) {
        width: 100%;
        background-color: $grey;
      }
    }
    .extended-search-is-allways-visible & {
      padding-right: 0;
    }
  }
  .pane-menu-block-main-menu-second-level {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: $charcoal;
    box-shadow: $box-shadow;
    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: $black;
      box-shadow: 0 5px 10px 0 $black;
    }
    .panel-pane-inner {
      @include wrapper;
    }
  }
}

// Pane header logo
// @TODO: Should this be moved to another file?
.pane-header-logo {
  .pane-header-logo-site-name-container {
    height: 44px;

    // Tablet
    @include media($tablet) {
      width: 100%;
    }
    .site-name {
      @include font('display-small');
      line-height: 44px;
      color: $charcoal;
    }
    &.pane-header-logo-container {
      .site-name {
        display: none;
      }
      .vertical-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
        max-width: 95%;
        width: auto;
        height: auto;
      }

      // Mobile
      @include media($mobile) {
        .site-name {
          display: block;
        }
        .vertical-helper,
        img {
          display: none;
        }
      }
    }
  }
}
