//
// Styling of site header

@import '../base.scss';

.site-header {
  position: fixed;
  z-index: $z-overlay + 1;
  top: 0;
  left: 0;
  width: 100%;
  .admin-menu & {
    top: $admin-menu-height;
  }
  .site-header-inner {
    @include wrapper;

    @include media($tablet) {
      width: 100%;
    }
  }
}

// ==========================================================================
// Topbar
// ==========================================================================
.site-header-topbar {
  position: relative;
  z-index: $z-overlay + 1;
  background-color: $grey-light;
  box-shadow: $box-shadow;

  .site-header-site-name {
    @include span-columns(4);
    height: 44px;
    margin-top: 10px;

    @include media($tablet) {
      position: relative;
      width: 100%;
      height: 64px;
      margin-top: 0;
      padding: 10px 5%;
      box-shadow: $box-shadow;
      background-color: $grey-light;
      z-index: $z-overlay + 3;
    }
  }

  @include media($tablet) {
    box-shadow: none;
    .site-header-topbar-menu {
      position: relative;
      z-index: $z-overlay + 2;
      width: 100%;
      background-color: $color-primary;
      padding: 10px 5%;
      box-shadow: $box-shadow;
    }
  }
}

// ==========================================================================
// Site header site name inner
// ==========================================================================
.site-header-site-name-inner {
  height: 44px;

  @include media($tablet) {
    width: 100%;
  }
}

// ==========================================================================
// Site name and logo
// ==========================================================================
.site-header-site-name-container {
  @include font('display-small');
  line-height: 44px;
  color: $charcoal;
}

.site-header-site-name-logo-container {
  .site-header-site-name-container {
    display: none;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 95%;
    width: auto;
    height: auto;
  }

  @include media($mobile) {
    .site-header-site-name-container {
      display: block;
    }

    img {
      display: none;
    }
  }
}


// ==========================================================================
// Search and user menu
// ==========================================================================
.site-header-search-and-user-menu {
  position: relative;
  z-index: $z-overlay;

  .pane-user-menu {
    position: absolute;
    top: $topbar-height;
    z-index: $z-overlay + 4;

    @include media($tablet) {
      @include transition(transform $speed $ease);
      @include transform(translateY(-100%));
      top: 0;
      display: block;
      width: 100%;
      max-height: 100vh;
      padding-bottom: $header-height;
      overflow: scroll;

      .usermenu-is-open-mobile & {
        @include transform(translateY(0));
      }
    }
  }
}

.site-header-search-form {
  position: absolute;
  width: 100%;

  .form-item-search-block-form {
    float: left;
  }

  input[type="text"] {
    border-radius: $round-corner 0 0 $round-corner;
    &:focus {
      box-shadow: none;
    }
  }

  input[type="submit"] {
    border-radius: 0 $round-corner $round-corner 0;
  }
}

.site-header-search-form-search-field-wrapper {
  @include wrapper;
  position: relative;
}

.search-form-is-default {
  .site-header-search-form-search-field-wrapper {
    form {
      position: absolute;
      z-index: 1;
      top: 15px;
      right: 0;
      width: getColumn(3);

      @include media($tablet) {
        position: static;
        width: 100%;
      }
    }

    .form-item-search-block-form {
      width: getColumn(2 of 3) + getGutter(3);
      float: left;

      input[type="text"] {
        @include transition(width $speed $ease);
        float: right;

        &:focus {
          width: getColumn(4 of 2);
          box-shadow: none;
        }
      }

      @include media($mobile) {
        width: getColumn(9) + getGutter();
      }
    }

    .form-actions {
      width: getColumn(1 of 3);
      float: left;

      input[type="submit"] {

        @include media($tablet) {
          background-color: $grey;
          color: $charcoal;
        }
      }
    }
  }
}

.search-form-is-extended {
  .site-header-search-and-user-menu {
    @include transition(height $speed $ease);
    height: 0;
  }

  .site-header-search-form {
    @include transition(box-shadow $speed $ease);
    bottom: 0;
    left: 0;
    background-color: $charcoal;
    box-shadow: none;
    padding: 15px 0;

    .search-extended-form-button {
      position: absolute;
      z-index: 1;
      top: $search-form-extended-height;
      right: 0;

      @include media($tablet) {
        display: none;
      }
    }

    .form-item-search-block-form {
      width: getColumn(11) + getGutter();

      input[type="text"] {
        &:focus {
          width: 100%;
        }
      }
    }

    .form-actions {
      width: getColumn(1);
      float: right;

      input[type="submit"] {
        background-color: $grey;
        color: $charcoal;
        &:hover {
          background-color: $grey-dark;
          color: $white;
        }
      }
    }
  }
}

.search-form-is-extended.search-form-is-open {
  .site-header-search-and-user-menu {
    height: $search-form-extended-height;

    @include media($tablet) {
      height: auto;
    }
  }

  .site-header-search-form {
    box-shadow: $box-shadow;

    @include media($tablet) {
      box-shadow: none;
    }
  }
}

.search-form-is-extended.search-form-is-open-mobile {
  .site-header-search-form {
    box-shadow: $box-shadow;
  }
}

.search-form-is-extended,
.search-form-is-default {

  @include media($tablet) {
    .site-header-search-form {
      @include transition(
        transform $speed $ease,
        box-shadow $speed $ease
      );
      @include transform(translateY(-100%));
      bottom: auto;
      padding: 15px 0;
      background-color: $charcoal;
    }

    .site-header-search-form-search-field-wrapper {
      .form-item-search-block-form {
        width: 100%;
        padding-right: 70px;

        input[type="text"] {
          &:focus {
            width: 100%;
          }
        }
      }

      .form-actions {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
      }
    }
  }
}

.search-form-is-extended-with-profiles {
  .site-header-search-form {
    .form-item-search-block-form {
      width: getColumn(8) + getGutter();

      @include media($tablet) {
        width: 100%;
        padding-right: 270px;
      }

      @include media($mobile) {
        padding-right: 70px;
      }
    }
    .form-item-ting-field-search {
      width: getColumn(3) + getGutter();
      float: left;
      margin-bottom: 0;

      @include media($tablet) {
        position: absolute;
        top: 0;
        right: 70px;
        width: 200px;
      }

      @include media($mobile) {
        position: static;
        width: 100%;
        margin-top: 10px;
      }
    }
    .select-wrapper {
      border-radius: 0;
      border: 1px solid $white;
      border-left: 1px solid $grey;

      &::before {
        background-color: $white;
      }

      @include media($mobile) {
        border-radius: $round-corner;
      }
    }
  }
}

.search-form-is-open-mobile {

  @include media($tablet) {
    .site-header-search-form {
      @include transform(translateY(0));
      box-shadow: $box-shadow;
    }
  }
}

// ==========================================================================
// Navigation
// ==========================================================================
.site-header-navigation {
  position: relative;
  background-color: $color-primary;
  box-shadow: $box-shadow;

  @include media($tablet) {
    @include transition(
      transform $speed $ease
    );
    @include transform(translateY(-100%));
    position: absolute;
    top: $header-height;
    left: 0;
    width: 100%;
    max-height: 100vh;
    padding-bottom: $header-height;
    background-color: transparent;
    overflow: scroll;
    box-shadow: none;

    .site-header-navigation-main-menu {
      @include transition(
        box-shadow $speed $ease
      );
      width: 100%;
      float: left;
      background-color: $color-primary;
    }

    .site-header-navigation-secondary-menu {
      @include transition(
        box-shadow $speed $ease
      );
    }

    .mobile-menu-is-open & {
      @include transform(translateY(0%));

      .site-header-navigation-main-menu,
      .site-header-navigation-secondary-menu {
        box-shadow: $box-shadow;
      }
    }
  }

  .site-header-navigation-secondary-menu {
    display: none;

    .show-secondary-menu & {
      display: block;
      float: right;
      padding-right: 69px;

      @include media($tablet) {
        width: 100%;
        background-color: $grey;
      }
    }

    .search-form-is-always-visible & {
      padding-right: 0;
    }
  }

  .pane-menu-block-main-menu-second-level {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: $charcoal;
    box-shadow: $box-shadow;

    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      background-color: $black;
      box-shadow: 0 5px 10px 0 $black;
    }

    @include media($tablet) {
      display: none;
    }

    .panel-pane-inner {
      @include wrapper;
    }
  }
}
