@import '../base.scss';

.js-opening-hours-toggle-element {
  display: none;
}

.opening-hours-week {
  padding: 0;
}

.opening-hours-table {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  // The default Drupal theme_table() doesn't support adding attributes to the
  // thead or thead > tr element, so we need to style these directly on their
  // element selectors.
  thead {
    width: 100%;
    float: left;
  }
  th {
    @include span-columns(3);
    // In library teaser and primary content
    .node-ding-library.node-teaser &,
    .left-and-main-content .primary-content & {
      @include span-columns(2 of 8);

      // Tablet
      @include media($tablet) {
        display: none;
        &:first-child {
          @include font('base-bold');
          display: block;
          width: 100%;
        }
      }
    }

    // Tablet
    @include media($tablet) {
      display: none;
      &:first-child {
        @include font('base-bold');
        display: block;
        width: 100%;
      }
    }
  }
  tr {
    width: 100%;
    float: left;

    // Tablet
    @include media($tablet) {
      &.even {
        background: $grey;
        padding: 20px;
      }
      &.odd {
        background: $white;
        padding: 20px;
      }
    }
  }
  td {
    @include span-columns(3);
    .notice {
      display: block;
      color: $charcoal-opacity-dark;
    }
    // In library teaser and primary content
    .node-ding-library.node-teaser &,
    .left-and-main-content .primary-content & {
      @include span-columns(2 of 8);

      // Tablet
      @include media($tablet) {
        @include span-columns(8 of 8);
      }
    }

    // Tablet
    @include media($tablet) {
      display: block;
      width: 100%;
      padding: 0;
      margin-top: 10px;
      &:first-child {
        color: $color-primary;
        margin-bottom: 0;
        padding: 0;
      }
      &.empty {
        display: none !important;
      }
      &::before {
        @include font('base-bold');
        display: block;
        content: attr(data-label) " ";
      }
    }
  }

  // Tablet
  @include media($tablet) {
    margin-top: 20px;
  }
}
