//
// Styling of search elements

@import '../base.scss';

// ==========================================================================
// Search filters
// ==========================================================================
.page-search-ting,
.page-ekurser {
  .secondary-content {
    .expand-search {
      @include button(arrow-down);
      display: none;

      // Mobile
      @include media($tablet) {
        display: block;
        background: $black;
        cursor: pointer;
        &:hover {
          display: block;
          background: $black;
        }
      }
      &.expanded {
        background: $grey;
        margin-bottom: 15px;
        color: $charcoal-opacity-dark;
        &::after {
          @include arrow-button(arrow-up);
          color: $charcoal-opacity-dark;
        }
      }
    }
    .hide-wrap {
      // Tablet
      @include media($tablet) {
        @include transition(
          max-height $speed ease-out,
          opacity $speed-fast ease-out
        );
        @include span-columns(12);
        display: none;
        &.open {
          @include transition(
            max-height $speed ease-in,
            opacity $speed ease-in
          );
          opacity: 1;
        }
      }
    }
  }
}

// ==========================================================================
// Search options
// ==========================================================================

.pane-search-per-page {
  @include span-columns(4 of 8);
  clear: both;

  // Tablet
  @include media($tablet) {
    @include span-columns(12);
  }
}

.pane-ting-search-sort-form {
  @include span-columns(4 of 8);
  @include omega();

  // Tablet
  @include media($tablet) {
    @include span-columns(12);
    padding-bottom: 40px;
  }
}

// ==========================================================================
// Search results
// ==========================================================================

ol.search-results {
  margin: 0;
  padding: 0;
  list-style: none;
  .search-result {
    float: left;
    width: 100%;
    margin-bottom: 10px;

    // Mobile
    @include media($mobile) {
      margin: 0;
    }
  }
}

/* Extend search form on all pages and hidden button extend */

.search-form-extended {
  &.not-front.admin-menu-with-shortcuts,
  &.not-front.toolbar,
  &.page-search.admin-menu-with-shortcuts,
  &.page-search.toolbar {
    .site-header .header-inner .pane-search-form {
      top: 129px
    }
  }
}

.search-form-extended.not-front,
.search-form-extended.page-search {
  .site-header .header-inner .pane-search-form {
    box-shadow: $box-shadow;
    top: 64px;

    @include media($tablet) {
      top: 148px;
    }
  }

  &.mobile-search-is-open {
    @include media($tablet) {
      box-shadow: none;
    }
  }

  &.admin-menu {
    .site-header .header-inner .pane-search-form {
      top: 93px
    }
  }
}

.search-form-extended.not-front, 
.search-form-extended.page-search {
  .site-header .header-inner .search-extended-button {
    display: none;
  }
}

@include media($tablet) {
  .search-form-extended.not-front,
  .search-form-extended.page-search {
    .site-header .header-inner .pane-search-form {
     box-shadow: none;
    }
  }
}

.search-form-extended.not-front.admin-menu .site-header>.navigation-wrapper {top: 175px;}
.search-form-extended.not-front .site-header>.navigation-wrapper {top: 148px;}

body.search-form-extended {

  .page-search,
  .not-front, 
  .front {
    padding-top: 213px;

    @include media($tablet) {
      padding-top: 148px;
    }
  }

  .content-wrapper {
    .pane-content {
      .default-panel-layout .left-and-main-content,
      .ding2-site-template .panel-pane .panel-pane-inner {
        padding-top: 90px;

        @include media($notebook,$mobile) {
          padding-top: 40px;
        }
      }
    }
  }

  .page-search.has-second-level-menu,
  .not-front.has-second-level-menu,
  .front.has-second-level-menu {
    padding-top: 278px;

    @include media($tablet) {
      padding-top: 148px;
    }

    .default-panel-layout .left-and-main-content,
    .ding2-site-template .panel-pane .panel-pane-inner {
      padding-top: 40px;
    }
  }
}
