@import '../base.scss';

.ui-slider {
  border-width: 3px 0;
  border-radius: 0;
  border-color: $grey;
  background: $grey;

  .ui-slider-range {
    border-radius: 0;
    background: $white;
  }

  .ui-slider-handle {
    top: -.6em;
    width: 4px;
    height: 1.6em;
    margin-left: -2px;
    border: 0;
    background: $color-primary;
  }
}
