@import '../base.scss';

// ==========================================================================
// Staff profile
// ==========================================================================
.profile2-ding-staff-profile {
  .left {
		min-height: 1px;
		@include span-columns(5);
		@include media($tablet)	{
		  @include span-columns(6);
	  }
	  @include media($mobile)	{
		  @include span-columns(12);
		  margin-bottom: 20px;  
	  }
	}
	.right {
		@include span-columns(5);
		@include media($tablet)	{
		  @include span-columns(6);
	  }
		@include media($mobile)	{
		  @include span-columns(12);  
	  }
	  h1 {
  	  @include font('header');
  	  margin-bottom: 0;
  	  color: $charcoal;
  	  .field-name-field-ding-staff-forename,
  	  .field-name-field-ding-staff-surname {
    	  float: left;
  	  }
  	  .field-name-field-ding-staff-forename {
    	  .field-item {
      	  &:after {
        	  content: '\00a0';
        	  display: inline-block;
      	  }
    	  }
  	  }
	  }
	  .group-right {
  	  clear: left;
  	  .field-name-field-ding-staff-position {
    	  color: $color-text;
  	  }
	  }
	}
}

// ==========================================================================
// Staff list item
// ==========================================================================
.staff-list-item {
  .staff-name-title {
    .staff-name {
      margin: 10px 0 5px;
      a {
        @include font('header-small');
        color: $charcoal;
      }
    }
    .staff-position {
      color: $charcoal-opacity-dark;
    }
  }
  .staff-contact {
    color: $charcoal-opacity-dark;
  }
}