.ding-type-ding-list,
.ding-type-ding-list-element {
  position: relative;
}

.ding-message {
  position: absolute;
  top: 20px;
  right: 20px;
}

.new-content h2:before {
  font-family: "FontAwesome";
  content: "\f005";
  float: left;
  margin-right: 5px;
}