/**
 * Variables
 *
 * @author magnify
 */
/* Spacing variables
   ========================================================================== */
/* Zen Grid variables
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Standard color definitions
   ========================================================================== */
/* Font library
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Font sizes
   ========================================================================== */
/* Labels
   ========================================================================== */
/* Navigation
   ========================================================================== */
/* Availability
   ========================================================================== */
/**
 * Colors that can be configured through theme settings.
 *
 * Every color settings MUST be in HEX format..
 * @author magnify
 */
/* Topbar */
/* Header */
/* Navigation */
/* Tabroll */
/* Links */
/* Labels */
/* Content */
/* List */
/* Footer */
/* Buttons */
/* Dialog box */
/* Funny facts */
/**
 * Mixins
 *
 * @author magnify
 */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
   ========================================================================== */
/* Availability
   ========================================================================== */
/* Pseudo arrow
 *
 * Usage example: pseudo-arrow(10px, #000, top, center, $offset: 20px)
   ========================================================================== */
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@import url(../font/source-sans/stylesheet.css);
/* line 11, ../sass/framework/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 30, ../sass/framework/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/framework/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../sass/framework/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../sass/framework/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 74, ../sass/framework/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../sass/framework/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 94, ../sass/framework/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, ../sass/framework/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, ../sass/framework/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 125, ../sass/framework/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../sass/framework/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 142, ../sass/framework/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 152, ../sass/framework/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 161, ../sass/framework/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, ../sass/framework/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 181, ../sass/framework/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, ../sass/framework/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 197, ../sass/framework/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, ../sass/framework/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, ../sass/framework/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, ../sass/framework/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, ../sass/framework/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, ../sass/framework/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 253, ../sass/framework/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, ../sass/framework/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 275, ../sass/framework/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 289, ../sass/framework/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 301, ../sass/framework/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 314, ../sass/framework/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 326, ../sass/framework/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 336, ../sass/framework/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, ../sass/framework/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 360, ../sass/framework/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 369, ../sass/framework/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, ../sass/framework/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 393, ../sass/framework/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Base
 *
 * @author magnify
 */
/* line 8, ../sass/framework/_base.scss */
body {
  background-color: #efefef;
  color: rgba(0, 0, 0, 0.7);
  font-family: "SourceSansProRegular", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* line 17, ../sass/framework/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SourceSansProSemibold";
  font-weight: normal;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}
/* line 35, ../sass/framework/_base.scss */
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
/* line 40, ../sass/framework/_base.scss */
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: rgba(0, 0, 0, 0.7);
}
/* line 44, ../sass/framework/_base.scss */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: rgba(0, 0, 0, 0.7);
}
/* line 48, ../sass/framework/_base.scss */
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
  color: rgba(0, 0, 0, 0.7);
}
/* line 52, ../sass/framework/_base.scss */
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

/* line 60, ../sass/framework/_base.scss */
h1 {
  font-size: 200%;
}

/* line 64, ../sass/framework/_base.scss */
h2 {
  font-size: 180%;
}

/* line 68, ../sass/framework/_base.scss */
h3 {
  font-size: 160%;
}

/* line 72, ../sass/framework/_base.scss */
h4 {
  font-size: 130%;
}

/* line 76, ../sass/framework/_base.scss */
h5 {
  font-size: 110%;
}

/* line 80, ../sass/framework/_base.scss */
h6 {
  font-size: 100%;
}

/* line 85, ../sass/framework/_base.scss */
strong {
  font-family: "SourceSansProSemibold";
  font-weight: normal;
}

/* line 90, ../sass/framework/_base.scss */
em {
  font-family: "SourceSansProItalic";
  font-weight: normal;
}
/* line 93, ../sass/framework/_base.scss */
em strong {
  font-family: "SourceSansProSemibold";
  font-weight: normal;
}

/* Image
   ========================================================================== */
/* line 102, ../sass/framework/_base.scss */
img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

/* Lists
   ========================================================================== */
/* line 114, ../sass/framework/_base.scss */
ol {
  padding-left: 20px;
}

/* line 118, ../sass/framework/_base.scss */
ul {
  margin: 0;
  padding-left: 20px;
}
/* line 122, ../sass/framework/_base.scss */
ul li {
  list-style: none;
}

/* Make sure lists in content get the icon */
/* line 132, ../sass/framework/_base.scss */
.field-type-text-long ul li,
.page-content ul li {
  list-style: disc outside;
}

/* Fieldset
   ========================================================================== */
/* line 143, ../sass/framework/_base.scss */
fieldset {
  border-color: #efefef;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

/* line 155, ../sass/framework/_base.scss */
legend {
  font-family: "SourceSansProSemibold";
  font-weight: normal;
  display: block;
  font-size: 110%;
  margin-right: -10px;
  margin-left: -10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Selection color
   ========================================================================== */
/* line 171, ../sass/framework/_base.scss */
::-moz-selection,
::selection {
  background-color: #ffff99;
  color: #333;
  text-shadow: none;
}

/**
 * Tables
 *
 * Based on Twitter bootstrap
 *
 * @author magnify
 */
/* Variables
   ========================================================================== */
/* Base tables
   ========================================================================== */
/* line 20, ../sass/framework/_tables.scss */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  /* Use bordered table styling as default for tables */
}

/* line 31, ../sass/framework/_tables.scss */
th {
  background-color: #efefef;
  /* Drupal system stylesheet adds bottom border */
  border-bottom: 0;
}

/* Drupal uses these */
/* line 39, ../sass/framework/_tables.scss */
tr.even {
  background-color: #efefef;
}

/* line 43, ../sass/framework/_tables.scss */
tr.odd {
  background-color: #e4e4e4;
}

/* Baseline styling
   ========================================================================== */
/* line 51, ../sass/framework/_tables.scss */
.table, table {
  width: 100%;
}
/* line 54, ../sass/framework/_tables.scss */
.table th, table th,
.table td,
table td {
  border-top: 1px solid #d5d5d5;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
/* line 62, ../sass/framework/_tables.scss */
.table th, table th {
  font-family: "SourceSansProSemibold";
  font-weight: normal;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
/* line 71, ../sass/framework/_tables.scss */
.table thead th, table thead th {
  vertical-align: bottom;
}
/* line 75, ../sass/framework/_tables.scss */
.table caption + thead tr:first-child th, table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
table thead:first-child tr:first-child th,
.table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
.table thead:first-child tr:first-child td,
table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 86, ../sass/framework/_tables.scss */
.table tbody + tbody, table tbody + tbody {
  border-top: 2px solid #d5d5d5;
}

/* Condensed table w/ half padding */
/* line 93, ../sass/framework/_tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 3px;
}

/* Bordered version
   ========================================================================== */
/* line 102, ../sass/framework/_tables.scss */
.table-bordered, table {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d5d5d5;
  /* Done so we can round those corners! */
  border-collapse: separate;
  /* IE7 can't round corners anyway */
  *border-collapse: collapsed;
  border-left: 0;
}
/* line 112, ../sass/framework/_tables.scss */
.table-bordered th, table th,
.table-bordered td,
table td {
  border-left: 1px solid #d5d5d5;
}
/* line 117, ../sass/framework/_tables.scss */
.table-bordered caption + thead tr:first-child th, table caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
table caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
table caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
table colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
table colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
table thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
/* line 129, ../sass/framework/_tables.scss */
.table-bordered thead:first-child tr:first-child th:first-child, table thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child,
table tbody:first-child tr:first-child td:first-child {
  -moz-border-radius: 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0;
}
/* line 136, ../sass/framework/_tables.scss */
.table-bordered thead:first-child tr:first-child th:last-child, table thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child,
table tbody:first-child tr:first-child td:last-child {
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 0 0;
}
/* line 143, ../sass/framework/_tables.scss */
.table-bordered thead:last-child tr:last-child th:first-child, table thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
table tbody:last-child tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 4px;
}
/* line 149, ../sass/framework/_tables.scss */
.table-bordered thead:last-child tr:last-child th:last-child, table thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
table tbody:last-child tr:last-child td:last-child {
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 0;
}

/* Zebra-striping
   ========================================================================== */
/* line 162, ../sass/framework/_tables.scss */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #fbfbfb;
}
/* line 166, ../sass/framework/_tables.scss */
.table-striped tbody tr:nth-child(odd) td:hover,
.table-striped tbody tr:nth-child(odd) th:hover {
  background-color: auto;
}

/* Borderless table.
   ========================================================================== */
/* line 176, ../sass/framework/_tables.scss */
.table-borderless {
  border: 0;
}
/* line 179, ../sass/framework/_tables.scss */
.table-borderless tbody {
  border: 0;
}
/* line 182, ../sass/framework/_tables.scss */
.table-borderless tbody tr {
  background-color: auto;
  border: 0;
}
/* line 186, ../sass/framework/_tables.scss */
.table-borderless tbody tr:hover {
  background-color: initial;
}
/* line 191, ../sass/framework/_tables.scss */
.table-borderless tbody td {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

/**
 * Typography
 *
 * @author magnify
 */
/* Extends
   ========================================================================== */
/* line 10, ../sass/layout/_typography.scss */
.page-title {
  font-family: "SourceSansProSemibold";
  font-weight: normal;
  font-size: 200%;
}
@media only screen and (max-width: 480px) {
  /* line 10, ../sass/layout/_typography.scss */
  .page-title {
    font-size: 130%;
  }
}

/* line 20, ../sass/layout/_typography.scss */
.pane-title {
  font-family: "SourceSansProSemibold";
  font-weight: normal;
  font-size: 160%;
}

/* Header variants
   ========================================================================== */
/* line 31, ../sass/layout/_typography.scss */
.page-title {
  margin-bottom: 20px;
}

/* line 37, ../sass/layout/_typography.scss */
.pane-title {
  margin-bottom: 10px;
}

/* Content and elements
   ========================================================================== */
/* line 47, ../sass/layout/_typography.scss */
.page-image {
  margin-bottom: 10px;
}

/* line 51, ../sass/layout/_typography.scss */
.page-lead {
  font-family: "SourceSansProSemibold";
  font-weight: normal;
  margin-bottom: 10px;
}

/* line 57, ../sass/layout/_typography.scss */
.page-content {
  margin-bottom: 10px;
}

/* line 29, ../sass/ddbasic.wysiwyg.scss */
body {
  background: #fff;
}

/* line 33, ../sass/ddbasic.wysiwyg.scss */
.cke_dialog_ui_hbox_last {
  display: none;
}
