/* line 5, ../sass/ddbasic.ie8.scss */
img {
  width: auto;
}

/* line 10, ../sass/ddbasic.ie8.scss */
.search input[type="text"] {
  min-height: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* line 18, ../sass/ddbasic.ie8.scss */
.topbar .search input[type="text"] {
  min-height: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 27, ../sass/ddbasic.ie8.scss */
.not-logged-in .topbar .search {
  margin-right: 111px;
}

/* line 35, ../sass/ddbasic.ie8.scss */
.header-wrapper .user input[type="text"],
.header-wrapper .user input[type="password"] {
  min-height: 0;
  padding-top: 20px;
  padding-bottom: 19px;
}

/* line 46, ../sass/ddbasic.ie8.scss */
.topbar .user input[type="submit"] {
  padding-left: 20px;
}

/* line 53, ../sass/ddbasic.ie8.scss */
.pane-ding-facetbrowser .expand {
  margin-left: 2px;
}
