#opensearch-search-autocomplete-admin .form-type-radio {
  padding: 4px 5px;
  float: left;
}

#opensearch-search-autocomplete-admin .form-type-textfield {
  padding: 0 9px 0;
  float: left;
  width: 18em;
}

#opensearch-search-autocomplete-admin .form-item-opensearch-search-autocomplete-settings-highlight {
  width: 18em;
}

#opensearch-search-autocomplete-admin .form-item-opensearch-search-autocomplete-settings-highlightpre,
#opensearch-search-autocomplete-admin .form-item-opensearch-search-autocomplete-settings-highlightpost {
  width: 12em;
}

#opensearch-search-autocomplete-admin .form-item-opensearch-search-autocomplete-settings-highlightpre input,
#opensearch-search-autocomplete-admin .form-item-opensearch-search-autocomplete-settings-highlightpost input {
  width: 10em;
}

#opensearch-search-autocomplete-admin .form-item-opensearch-search-autocomplete-rest-url {
  width: 46em;
}

#opensearch-search-autocomplete-admin .form-item-opensearch-search-autocomplete-settings-highlight {
  padding: 18px 9px 0;
  float: left;
  clear: left;
}

#opensearch-search-autocomplete-admin .form-item-opensearch-search-autocomplete-settings-highlight label {
  font-weight: bold;
}

#opensearch-search-autocomplete-admin .form-item-opensearch-search-autocomplete-settings-agency {
  clear: left;
}

#edit-opensearch-search-autocomplete-webservice .form-type-textfield {
  width: 42em;
  float: none;
}

#opensearch-search-autocomplete-admin td {
  vertical-align: top;
}

#opensearch-search-autocomplete-admin td:nth-child(1) {
  font-weight: bold;
  min-width: 10em;
}
