@import "../base.scss";

@font-face {
  font-family: 'icomoon';
  src:    url('../../fonts/icomoon/icomoon.eot?3aoqva');
  src:    url('../../fonts/icomoon/icomoon.eot?3aoqva#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon/icomoon.ttf?3aoqva') format('truetype'),
      url('../../fonts/icomoon/icomoon.woff?3aoqva') format('woff'),
      url('../../fonts/icomoon/icomoon.svg?3aoqva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}