@import "../base.scss";

@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon/icomoon.eot?isebqi');

  src:
    url('../../fonts/icomoon/icomoon.eot?isebqi#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?isebqi') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?isebqi') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?isebqi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
