@import '../base.scss';

// Table
//
// Markup:
// <table>
// <thead>
// <tr><th>Table head</th><th>Table head</th><th>Table head</th></tr>
// </thead>
// <tbody>
// <tr class="odd"><td>td</td><td>td</td><td>td</td></tr>
// <tr class="even"><td>td</td><td>td</td><td>td</td></tr>
// <tr class="odd"><td>td</td><td>td</td><td>td</td></tr>
// <tr class="even"><td>td</td><td>td</td><td>td</td></tr>
// </tbody>
// </table>
//
// Styleguide 1.3

table {
  width: 100%;
  border-collapse: collapse;
  thead {
    @include font('base-bold');
  }
  th {
    padding-bottom: 10px;
    border-bottom: none;
    font-weight: normal;
    text-align: left;
  }
  tbody {
    border-top: none;
  }
  tr.even, 
  tr.odd {
    border-bottom: none;
    padding: 0;
  }
  tr.even {
    background-color: transparent;
  }
  tr.odd {
    background-color: $grey;
  }
  td {
    padding-top: 20px;
    padding-bottom: 20px;
    &:first-child {
      padding-left: $box-padding;
    }
  }
}



