.ding-list-add-button {
  display: inline-block;
  margin-left: 10px;
}

  .ding-list-add-button .trigger {
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 0 1px #595959 inset;
    padding: 8px 14px;
    display: inline-block;
    line-height: normal;
    background-color: #444444;
    background-image: linear-gradient(#444444, #1E1E1E);
  }
  .ding-list-add-button.showing .trigger,
  .ding-list-add-button .trigger:hover {
    background-color: #1E1E1E;
    background-image: linear-gradient(#373737, #101010);
  }
  
.dlab-breakout-button {
  padding: 0;
  padding-top: 43px; /* 35 + 8 */
}
  .dlab-breakout-button li > span,
  .dlab-breakout-button li a {
    color: #000;
    display: block;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #fff;
    padding: 8px 13px;
  }
    .dlab-breakout-button li a:hover {
      text-decoration: none;
      background-color: #ddd;
      font-weight: bold;
    }
  .dlab-breakout-button li.last > span,
  .dlab-breakout-button li.last a {
    border-bottom: 1px solid #ddd;
  }
