/**
 * Availability
 *
 * @author zorp
 */

.unavailable,
.unavailable:link,
.unavailable:visited,
.unavailable:hover,
.unavailable:active {
  color: darken($yellow, 10%);
}

.field-name-ding-entity-buttons .reserve-button {
  display: none;

  &.reservable {
    display: inline-block;
    margin-left: 10px;
  }

  &.available {
    .reserve-button {
      @extend %button-action;
    }
  }

  &.unavailable.reservable {
    .reserve-button {
      @include create-gradient-button($white, $yellow, darken($yellow, 15%));
    }
  }
}
