/**
 * Groups
 *
 * @author magnify
 */

/* Groups blocks
   ========================================================================== */

.group-blocks--inner {
  @include zen-clear(both);
  @include zen-nested-container();

  border-top: 1px solid $gray-light;
  overflow: hidden;
  margin-top: 20px;
  padding-top: 20px;

  @include small-medium() {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }
}

.group-blocks--one {
  .group-blocks--first {
    @include zen-grid-item(12, 1);

    padding-left: 0;
    padding-right: 0;
  }
}

.group-blocks--two {
  .group-blocks--first {
    @include zen-grid-item(6, 1);

    padding-left: 0;
  }

  .group-blocks--second {
    @include zen-grid-item(6, 1, right);

    padding-right: 0;
  }
}

.group-blocks--three {
  .group-blocks--first {
    @include zen-grid-item(4, 1);

    padding-left: 0;
  }

  .group-blocks--second {
    @include zen-grid-item(4, 5);
  }

  .group-blocks--third {
    @include zen-grid-item(4, 1, right);

    padding-right: 0;
  }
}

.group-blocks--four {
  .group-blocks--first {
    @include zen-grid-item(3, 1);

    padding-left: 0;
  }

  .group-blocks--second {
    @include zen-grid-item(3, 4);
  }

  .group-blocks--third {
    @include zen-grid-item(3, 4, right);
  }

  .group-blocks--fourth {
    @include zen-grid-item(3, 1, right);

    padding-right: 0;
  }
}

.group-blocks--wrapper {
  @include zen-grid-container();

  overflow: hidden;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;

  @include small-medium() {
    .group-blocks--first,
    .group-blocks--second,
    .group-blocks--third,
    .group-blocks--fourth {
      @include zen-clear();
      @include zen-grid-item(12, 1);
      @include zen-nested-container();

      border-bottom: 1px solid $gray-light;
      margin-bottom: 20px;
      padding-bottom: 20px;

      &.last {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

/* Groups lists
   ========================================================================== */

.groups-list {
  margin: 0;
  padding: 0;

  .groups-list-item {
    @extend %article-background;
    @extend %article-padding;
    @extend %article-margin;

    overflow: hidden;
    position: relative;
  }

  .groups-list-item:nth-child(odd) {
    @extend %article-background--odd;
  }

  .groups-list-item:nth-child(even) {
    @extend %article-background--even;
  }

  .groups-heading {
    @extend %article-heading;
  }

  .groups-image-wrapper {
    float: left;
    margin-right: $large-spacing;
    max-width: 130px;

    a {
      display: block;
    }
  }

  .groups-heading,
  .groups-list-content {
    margin-left: 95px;
  }

  .groups-list-content {
    max-height: 50px;
    overflow: hidden;
  }

  .groups-arrow-link {
    @extend %arrow-link;
  }

  /* Media queries */
  @include small-medium() {
    .groups-image-wrapper {
      display: none;
    }

    .groups-heading {
      font-size: $font-size-large;
      margin-left: 0px;
    }

    .groups-list-content {
      margin-left: 0px;
    }
  }
}


/* Groups node view
   ========================================================================== */

.ding-group-news {
  @include zen-clear(both);
  @include zen-grid-item(7, 1);
  padding-left: 0;
}

.ding-group-events {
  @include zen-grid-item(5, 1, right);
  padding-right: 0;
}

.ding-group-news,
.ding-group-events {
  border-top: 1px solid $gray-light;
  padding-top: $large-spacing;

  // News and events are normally presented in a two column layout when
  // displaying a group. If the group only contains a single kind of content
  // then display that content in full width.
  // See ddbasic.common.js for detection.
  &.js-og-single-content-type {
    @include zen-clear(both);
    @include zen-grid-item(12, 1);
    padding-left: 0;
    padding-right: 0;
  }

  @include small-medium() {
    @include zen-clear(both);
    @include zen-grid-item(12, 1);
  }
}
