/**
 * Libraries
 *
 * @author magnify
 */



/* Library list
   ========================================================================== */

.pane-ding-library-map {
  margin-bottom: $large-spacing;
}

.library-list {
  padding: 0;
  .views-row {
    @extend %material-list-item;
  }
}

.libraries {
  @include zen-grid-item(8, 1);
  @extend .icon-camera;

  position: relative;
  padding: 0;

  // Icon placement and font-face.
  &:before {
    color: $gray-dark;
    font-family: $base-icon-library-font;
    font-size: 74px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1.5em;
    width: 20%;
    z-index: 25;
  }

  .field,
  .library-title {
    float: right;
    width: 75%;

    &.field-name-field-ding-library-list-image {
      @include box-sizing(border-box);

      position: relative;
      float: left;
      width: 25%;
      padding-right: $large-spacing;
      z-index: 26;
    }
  }

  .field-label-inline {
    .field-label {
      float: left;
      width: auto;
    }

    .field-items {
      float: none;
    }
  }

  /* Media queries */
  @include small-medium {
    float: none;
    width: 100%;

    &:before {
      font-size: $font-size-largest;
    }
  }
}

.library-link {
  padding-top: $large-spacing;
  padding-left: $large-spacing;
}

.libraries-opening-hours {
  @include zen-grid-item(4, 1, right);

  .header {
    background: $gray;
  }

  .prev,
  .next {
    font-family: $base-icon-library-font;
    font-size: $font-size-reset;
  }

  .even {
    background: darken($gray-light,2%);
  }
  .odd {
    background: darken($gray-light,5%);
  }

  .opening-hours-week {
    padding: 0;
  }

  .days {
    padding: 0;
  }

  .day {
    padding: 0 .5em;
  }

  /* Media queries */
  @include small-medium {
    .libraries-opening-hours {
      margin-left: 0;
    }
  }
}

.pane-ding-news-ding-news-library-list {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $large-spacing;
  padding-bottom: $large-spacing;
}



/* Single Library
   ========================================================================== */

.library-menu {
  h2 {
    @extend .sub-menu-title;
  }

  .links {
    @extend .sub-menu;
  }
}
