/**
 * Libraries
 *
 * @author magnify
 */



/* Library list
   ========================================================================== */

.pane-ding-library-map {
  margin-bottom: $large-spacing;
}

.libraries-title,
.opening-hours-title {
  font-size: $font-size-largest;  
  margin-bottom: $large-spacing;
  padding-bottom: $large-spacing;
}

.library-list {
  .views-row {
    background: $gray-lighter;
    line-height: $base-font-size * 2;
    padding-top: $large-spacing;
    padding-right: $large-spacing;
    padding-bottom: $large-spacing;
    padding-left: $large-spacing;
  }
}

.libraries {
  @extend .icon-camera;

  float: left;
  position: relative;
  width: 73%;

  &:before {
    color: $gray-dark;
    font-family: $base-icon-library-font;
    font-size: 74px;
    left: 0;
    position: absolute;
    text-align: center;
    top: .5em;
    width: 25%;
    z-index: 25;
  }

  .field-label-inline {
    margin-left: 25%;
    padding-left: $large-spacing;

    .field-label {
      float: left;
      width: auto;
    }

    .field-items {
      float: none;
    }
  }

  /* Media queries */
  @include small-medium {
    float: none;
    width: 100%;

    &:before {
      font-size: $font-size-largest;
    }
  }
}

.field-name-field-ding-library-list-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 90;

  .field-items {
    padding: 0;
  }
}

.library-link {
  padding-top: $large-spacing;
  padding-left: $large-spacing;
}

.libraries-opening-hours {
  margin-left: 75%;

  .header {
    background: $gray;
  }

  .prev,
  .next {
    font-family: $base-icon-library-font;
    font-size: $font-size-reset;
  }

  .even {
    background: darken($gray-light,2%);
  }
  .odd {
    background: darken($gray-light,5%);
  }

  .opening-hours-week {
    padding: 0;
  }

  .days {
    padding: 0;
  }

  .day {
    padding: 0 .5em;
  }

  /* Media queries */
  @include small-medium {
    .libraries-opening-hours {
      margin-left: 0;
    }
  }
}

.pane-ding-news-ding-news-library-list {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $large-spacing;
  padding-bottom: $large-spacing;
}



/* Single Library
   ========================================================================== */

.library-menu {
  h2 {
    @extend .sub-menu-title;
  }

  .links {
    @extend .sub-menu;
  }
}
