/**
 * Module
 *
 * Common styling shared among modules
 *
 * @author magnify
 */



/* Extends for page elements
   ========================================================================== */

%page-heading {
  font-size: 190%;
}

%section-heading {
  @include font-bold();
  
  font-size: 150%;
}

%article-margin {
  margin-bottom: 10px;
}

%article-padding {
  padding: 20px;
}

%article-padding--small {
  padding: 10px;
}

%article-background {
  background-color: $article-background;
}

%article-background--odd {
  background-color: $article-background-odd;
}

%article-background--even {
  background-color: $article-background-even;
}

%article-heading {
  font-size: 150%;
}

%article-heading--small {
  font-size: 110%;
}


%article-text {
  color: $article-text;
}

%article-text--opaque {
  color: transparentize(#4c4c4c, .5);
}



/* Shared styling used for search and user form in topbar
   ========================================================================== */

%search-user-header {
  display: none;

  &.js-topbar-toggled {
    display: inline-block;
  }

  width: 100%;

  [class^="label-"] {
    @include rem('font-size', 16px);
    @include font-bold();

    color: transparentize($white, .25);
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 2px;
  }

  [class^="icon-"] {
    @include rem('font-size', 30px);

    color: $gray-darker;
    bottom: 15px;
    left: 24px;
    position: absolute;
  }

  .form-item {
    display: inline-block;
    position: relative;
  }

  .form-text {
    @include rem('font-size', 18px);
    @include box-sizing(border-box);
    @include border-radius(12px);

    border: 0;
    display: inline;
    margin-right: 20px;
    padding-bottom: 0;
    width: 100%;
  }

  .form-text,
  .form-submit {
    min-height: 60px;
    padding-top: 0;
  }

  .form-submit {
    @include rem('font-size', 20px);
    @include border-radius(12px);
    @extend %button-default;

    margin-top: 31px;
    padding-bottom: 1px;
    min-width: 110px;
  }

  input[class^="form-"] {
    margin-bottom: 0;
  }

  .form-actions {
    @include zen-grid-item(2, 1, right);

    text-align: right;
  }

  /* Media queries */
  @include small() {
    [class^="label-"] {
      @include rem('font-size', 14px);
    }

    .form-item {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }
  }

  @include small-medium() {
    i[class^="icon-"] {
      @include rem('font-size', 20px);
    }

    .form-text {
      @include rem('font-size', 18px);

      min-height: 50px;
      min-width: 100%;
      padding-left: 42px;
    }

    .form-actions {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }

    .form-submit {
      @include rem('font-size', 18px);

      margin-top: 20px;
      min-height: 44px;
      min-width: 100%;
    }
  }
}



/* Pager
   ========================================================================== */

.pager {
  padding-left: 0;

  li {
    display: inline-block;
    margin-left: -4px;
    margin-right: 4px;

    &.pager-current,
    a {
      background-color: $gray-light;
      display: inline-block;
      padding-top: $small-spacing;
      padding-right: 15px;
      padding-bottom: $small-spacing;
      padding-left: 15px;
    }
  }

  .active a,
  .active a:hover {
    cursor: default;
    text-decoration: underline;
  }

  .disabled {
    background-color: $gray-lighter;
  }
  .disabled a:hover {
    cursor: default;
    text-decoration: none;
  }
}


/* Signature
   ========================================================================== */

.signature {
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;

  margin-bottom: $large-spacing;
  padding-top: $large-spacing;
  padding-bottom: $large-spacing;

  .signature-image {
    img {
      float: left;
      margin-top: $small-spacing;
      margin-right: $large-spacing;
     }
  }

  .signature-label {
    display: inline-block;
    min-width: 125px;
  }
}

.signature .tags a {
  display: inline-block;
  margin-right: 0.3em;
}

.signature .tags a:not(:last-child):after {
  content: ",";
}