/**
 * Page
 *
 * Styling of page elements
 *
 * @author magnify
 */


#page {
  @include zen-grid-container;
}

/* Don't show background in small and medium breakpoint
 *
 * This have to be specific because Drupal adds it inline
 */
#page.ding2-site-template {
  @include small-medium() {
    background-image: none !important;
  }
}

.page-title {
  @extend %page-heading;

  margin-bottom: $large-spacing;
}

.pane-title {
  @extend %section-heading;

  margin-bottom: $medium-spacing;
}

.page-image {
  margin-bottom: $medium-spacing;
}

.page-lead {
  margin-bottom: $medium-spacing;
}

.page-content {
  margin-bottom: $medium-spacing;
}