/**
 * User
 *
 * @author magnify
 */



/* User login in header
   ========================================================================== */

.user {
  @extend %search-user-header;

  .form-item-name {
    @include zen-grid-item(6, 1);

    .form-text {
      padding-left: 45px;
    }
  }

  .form-item-pass {
    @include zen-grid-item(6, 1, right);

    .form-text {
      padding-left: 42px;
    }
  }

  @include small() {
    .form-item-pass {
      margin-top: 10px;
    }
  }
}


.header-wrapper {
  @include box-sizing(border-box);

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;

  .user-name,
  .user-menu-loans,
  .user-menu {
    @include zen-clear();
    @include zen-grid-item(12, 1);
    @extend %header-sections;

    display: none;
    text-align: right;

    &.js-topbar-toggled {
      display: block;
    }

    .block-title {
      display: none;
    }

    @include small-medium() {
      text-align: left;

      .block-title {
        display: block;
        color: $white;
        margin-top: 10px;
        border-bottom: 1px solid transparentize($white, .75);
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .user-name {
    color: transparentize($black, .5);;

    .user-name-title {
      font-size: $font-size-giga;
      overflow: hidden;
      max-height: 45px;
      margin-bottom: 10px;
    }

    @include small-medium() {
      .user-name-title {
        margin-bottom: 0;
      }
    }
  }

  .user-menu {
    margin-bottom: 10px;

    @include small-medium() {
      margin-bottom: 0;
    }
  }

  @include small-medium-low() {
    position: fixed;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 44px;
    z-index: 99;
  }
}



/* User profile
   ========================================================================== */

.pane-user-profile {
  .form-item {
    clear: both;

    label,
    p {
      float: left;
    }

    label {
      font-family: $font-bold;
      font-weight: $base-font-weight-bold;
      min-width: 25%;
    }
  }

  h3 {
    border: 0;

    margin-top: 30px;
    margin-bottom: 30px;
  }

  .profile2-provider-alma {
    .field-label {
      float: left;
      font-family: $font-bold;
      font-weight: $base-font-weight-bold;
      min-width: 25%;
    }

    .field-items,
    .field-item {
      display: inline;
    }
  }
}



/* User loans
   ========================================================================== */

.pane-loans,
.pane-reservations,
.pane-bookmarks {
  table {
    border-bottom: 1px solid $gray-light;
    margin-bottom: $large-spacing;
  }

  h2 {
    @extend .block-title;

    margin-top: 2px;
    max-width: 90%;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  th {
    border-top: 1px solid $gray-light;
    text-align: center;

    &.select-all {
      padding-left: $medium-spacing;
    }

    &.title {
      text-align: left;
    }
  }

  td:first-child {
    width: 30px;
  }

  td {
    border-top: 1px solid $gray-light;
    text-align: center;

    &.title {
      text-align: left;
      width: 30%;
    }
  }

  .select-all,
  .form-type-checkbox {
    text-align: center;
  }

  .form-checkbox {
    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .ting-cover {
    float: left;

    margin-top: 4px;
    max-width: 15%;

    img {
      max-width: 85%;
    }
  }

  .order-id {
    margin-bottom: 0;
  }


  .operations {
    .renew-loan-button,
    .delete-reservation {
      text-align: center;
    }
  }

  .renew-loan-button  {
    .renewable {
      @extend %button-action;
    }
  }

  .renew-loan-button  {
    .not-renewable {
      @extend %button-danger;
    }
  }

  .delete-reservations,
  .update-reservations {
    display: inline;
    margin-right: $large-spacing;
  }

  .delete-reservation,
  .delete-reservations {
    .form-submit {
      @extend %button-danger;
    }
  }

  .update-reservations {
    .form-submit {
      @extend %button-action;
    }
  }
}

.pane-bookmarks {
  td {
    text-align: left;
    vertical-align: middle;
  }

  .ding-entity-button {
    float: right;
    margin-right: $large-spacing;

    a {
      @extend %button-danger;
    }

    &.ding-bookmark-reservation-button {
      a {
        @extend %button-action;
      }
    }
  }
}

.pane-reservations {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $large-spacing;
  padding-bottom: $large-spacing;
}

#ding-reservation-reservations-ready-form {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $large-spacing;
  padding-bottom: $large-spacing;
}

#ding-bookmark-remove-form {
  .form-submit {
    @extend %button-danger;
  }
}



/* User debts
   ========================================================================== */

.pane-debts {
  table {
    margin-bottom: $large-spacing;

    th,
    td {
      &.feedate {
        width: 10%;
      }

      &.feeamount {
        text-align: right;
      }
    }
  }

  .pay-button {
    margin-bottom: $large-spacing;

    .form-submit {
      @extend %button-action;
    }
  }
}

.pane-debts,
.pane-ding-dibs-dibs-terms-of-sale,
.pane-ding-dibs-dibs-cards-supported {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $large-spacing;
  padding-bottom: $large-spacing;

  #dibs-cards-supported {
    .card-name {
      font-weight: $base-font-weight-bold;
      font-family: $font-bold;
    }
  }
}
