// =============================================================================
// Styling for Internet Explorer 8
// =============================================================================
//


// Include compass
@import "compass";
@import "compass/css3";

// Grid - http://zengrids.com
@import "zen";

// Include configuration
@import "configuration/_variables";
@import "configuration/_colors";
@import "configuration/_configuration";


// Include framework
@import "framework/_mixins";

img {
  width: auto;
}

.search {
  input[type="text"] {
    min-height: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.topbar .search {
  input[type="text"] {
    min-height: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.not-logged-in {
  .topbar {
    .search {
      margin-right: 111px;
    }
  }
}

.header-wrapper {
  .user {
    input[type="text"],
    input[type="password"] {
      min-height: 0;
      padding-top: 20px;
      padding-bottom: 19px;
    }
  }
}

.topbar {
  .user {
    input[type="submit"] {
      padding-left: 20px;
    }
  }
}

.pane-ding-facetbrowser {
  .expand {
    margin-left: 2px;
  }
}

.lt-ie9 {
  .search-field-in-content .form-submit {
    margin-top: 0;
  }

  .search-field-in-content .form-text {
    height: 62px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .pane-search-result .search-results .list .view-mode-teaser,
  .view-node-search-result .search-results .list .view-mode-teaser,
  .ting-reference-reverse-list .search-results .list .view-mode-teaser,
  .pane-new-materials .search-results .list .view-mode-teaser {
    background-color: $white;
  }
}

/* Ting Search Carousel */
.rs-carousel-action-prev,
.rs-carousel-action-next {
  background-color: transparent;
  border: 0;
}

/* Ding Opening Hours */
.hours {
  .day-notice-star {
    visibility: visible;
  }
}
