//Default settings

@media print {
  body {
    padding-top: 0;
  }
  
  .site-header,
  .footer {
    display: none;
  }
  
  .secondary-content {
    display: none !important;
  }
  
  .primary-content {
    width: 100% !important;
  }
  
  //Hide specific elements
  a.print-button,
  .actions-container,
  .ask-vopros-tab,
  .pane-page-messages {
    display: none !important;
  }
  
  
  
  .pane-title {
    width: 100% !important;
  }
  
  //User
  .material-item {
    .left-column {
      min-width: 0;   
      .item-checkbox {
        display: none;
      }
      .ting-cover {
        margin-left: 0px;
      }
    }
    &.odd {
      background-color: #cccccc;
      -webkit-print-color-adjust: exact; 
    }
  }
  
  .select-all {
    -webkit-print-color-adjust: exact;
    label.option {
      padding-left: 0;
      &:before {
        display: none;
      }
    } 
  }
}