/**
 * Mixins
 *
 * @author magnify
 */
/* Breakpoints
   ========================================================================== */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
   ========================================================================== */
/* Availability
   ========================================================================== */
/* Pseudo arrow
 *
 * Usage example: pseudo-arrow(10px, #000, top, center, $offset: 20px)
   ========================================================================== */
a.cross:hover {
  text-decoration: line-through;
}

/* Page search results
   ========================================================================== */
.page-search-meta {
  /* Form styles
   ========================================================================== */
  /* Results styles
   ========================================================================== */
  /* Pagination styles
   ========================================================================== */
  /* Facets styles
   ========================================================================== */
}
.page-search-meta .pane-search-form .pane-title {
  font-size: 200%;
  margin-bottom: 20px;
}
.page-search-meta .pane-search-form .input-group {
  position: relative;
}
.page-search-meta .pane-search-form .search-form .row {
  clear: both;
  overflow: hidden;
}
.page-search-meta .pane-search-form .search-form .form-text {
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 12px;
  display: inline;
  font-size: 110%;
  margin-right: 20px;
  min-height: 60px;
  padding: 0 0 0 49px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.page-search-meta .pane-search-form .form-type-textfield {
  position: relative;
}
.page-search-meta .pane-search-form .form-type-textfield:before {
  bottom: 30px;
  color: #959595;
  content: "\f002";
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 180%;
  left: 13px;
  position: absolute;
}
.page-search-meta .pane-search-form .input-group-btn {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.page-search-meta .pane-search-form .input-group-btn input[type="submit"] {
  border-radius: 12px;
  font-size: 160%;
  margin-top: 0;
  min-width: 110px;
  min-height: 60px;
  padding-bottom: 1px;
  padding-top: 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.page-search-meta .pane-search-form .dropdown-wrapper {
  overflow: hidden;
}
.page-search-meta .pane-search-form .dropdown-wrapper .mkdru-sort {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: inherit;
  width: 49%;
}
.page-search-meta .pane-search-form .dropdown-wrapper .mkdru-perpage {
  float: right;
  width: 50%;
  margin-right: 0%;
  margin-left: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: inherit;
  width: 49%;
}
.page-search-meta .pane-search-results .mkdru-status-container {
  background: none;
  border: none;
  padding: 0;
}
.page-search-meta .pane-search-results .mkdru-status-inner-container {
  background-color: #528c10;
  border: none;
  color: #fff;
  font-family: "SourceSansProSemibold";
  font-weight: normal;
  margin-bottom: 30px;
  padding: 20px 20px 20px 60px;
  position: relative;
}
.page-search-meta .pane-search-results .mkdru-status-inner-container:before {
  color: #fff;
  content: "\f058";
  font-family: "FontAwesome";
  font-size: 200%;
  left: 20px;
  margin-top: -11px;
  margin-right: 15px;
  position: absolute;
  top: 50%;
}
.page-search-meta .mkdru-result-list .search-result {
  background-image: url("../images/pw_maze_white.png");
  margin-bottom: 1em;
  padding: 15px;
  position: relative;
  overflow: hidden;
}
.page-search-meta .mkdru-result-list .search-result .title {
  margin-right: 150px;
}
.page-search-meta .mkdru-result-list .search-result .results-see-online {
  float: right;
}
.page-search-meta .mkdru-result-list .search-result .result-inner-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  overflow: hidden;
}
.page-search-meta .mkdru-result-list .search-result .result-inner-wrapper .search-snippet-info {
  padding-left: 0;
}
.page-search-meta .mkdru-result-list .search-result .result-inner-wrapper .mkdru-result-subject a {
  background-color: #00cafe;
  border-radius: 8px;
  color: #fffffd;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  white-space: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.page-search-meta .mkdru-result-list .search-result .mkdru-target {
  font-size: 90%;
  position: absolute;
  top: 30px;
  right: 35px;
}
.page-search-meta .mkdru-above-below {
  border: none;
}
.page-search-meta .mkdru-above-below .mkdru-pager a, .page-search-meta .mkdru-above-below .mkdru-pager span {
  background-color: #efefef;
  display: inline-block;
  margin-left: -4px;
  margin-right: 4px;
  margin-bottom: 1em;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.page-search-meta .mkdru-above-below .mkdru-pager .mkdru-pager-current {
  font-weight: bold;
}
.page-search-meta .pane-search-facets .pane-title {
  color: #7c7c7c;
  margin-bottom: 30px;
}
.page-search-meta .pane-search-facets .mkdru-facet-section {
  border: 1px solid #efefef;
  margin: 0 0 40px 0;
  padding: 10px 20px;
}
.page-search-meta .pane-search-facets .mkdru-facet-section .mkdru-facet-title {
  background: #fff;
  color: #7c7c7c;
  display: block;
  font-weight: normal;
  font-size: 110%;
  float: left;
  left: -10px;
  margin-top: -20px;
  padding: 0 10px;
  position: relative;
}
.page-search-meta .pane-search-facets .mkdru-facet-section .mkdru-facet {
  clear: both;
}
.page-search-meta .pane-search-facets .mkdru-facet-section .mkdru-facet input[type="checkbox"] {
  float: left;
  height: 16px;
  margin-top: 4px;
  margin-right: 8px;
  vertical-align: baseline;
  width: 16px;
}
.page-search-meta .pane-search-facets .mkdru-facet-section .mkdru-facet label {
  color: #00b7e7;
  cursor: pointer;
}
