/* Transparent button
   ========================================================================== */

@mixin transparent-button {
  @include border-radius($button-border-radius);
  font-size: $font-size-small;
  border: 1px solid $white;
  color: $white;
  display: block;
  text-decoration: none;
  padding: 10px;
}