/* Colors
   ========================================================================== */
   
/* Notifications */
$notification-style-blue:         #00B7E7;
$notification-style-red:          #E74C3C;
$notification-style-green:        #00C65C;

/* Interests */
$interests-blue:                  #006FB9;
$interests-green:                 #27AE60;
$interests-red:                   #E74C3C;