//
// Styling of user profile form

@import '../../base.scss';

// ==========================================================================
// User profile form
// ==========================================================================

#user-profile-form {
  input[type=text]:not(.date-clear),
  input[type=password] {
    border-radius: 0;
    background-color: $grey;
    color: $charcoal;
  }
  label {
    color: $color-text;
  }
  .form-wrapper {
    padding: 0;
  }
  .form-submit {
    width: auto;
    padding-right: 40px;
  }

  .pane-content {
    > div {
      > .form-wrapper:not(#edit-pass--2):not(#edit-profile-provider-alma-field-alma-reservation-pause):not(#edit-profile-provider-alma-field-alma-mail) {
        @include span-columns(6);
        @include omega(2n);

        @include media($mobile) {
          width: 100%;
        }
      }

      #edit-pass--2 {
        width: 100%;
        float: left;
        padding: 20px 0;
        margin: 20px 0;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        .fieldset-wrapper {
          width: 100%;
          float: left;
        }
        .form-type-password {
          @include span-columns(6);
          @include omega(2n);

          @include media($mobile) {
            width: 100%;
          }
        }
      }

      #edit-profile-provider-alma-field-alma-reservation-pause {
        width: 100%;
        float: left;
        padding: 20px 0;
        margin: 20px 0;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        .fieldset-wrapper {
          width: 100%;
        }
        .fieldset-description {
          margin-bottom: 10px;
        }
        .date-no-float {
          @include span-columns(6);
          clear: none;

          @include media($mobile) {
            width: 100%;
          }
        }
        .form-type-date-popup {
          width: 100%;
          margin: 0;
          .date-padding {
            width: 100%;
            padding: 0;

            .form-item {
              width: 100%;
              position: relative;
              height: $element-height;
              margin: 20px 0;
              background-color: $white;
              border: 1px solid $grey;
              border-radius: $round-corner;

              @include place-icon(arrow-down-small, $charcoal-opacity-dark);

              &::after {
                right: 0;
                pointer-events: none;
              }
              &::before {
                content: '';
                display: block;
                background-color: $grey;
                background-repeat: no-repeat;
                background-position: right 4px center;
                width: $element-height;
                height: 52px;
                position: absolute;
                right: 0;
                top: 0;
                pointer-events: none;
              }
              input {
                width: 100%;
                background-color: transparent;
                cursor: pointer;
              }
              > label {
                position: absolute;
                top: -20px;
              }
            }
          }
        }
      }

      #edit-ding-user-fee-sms {
        width: 100%;
        float: left;
      }

      #edit-profile-provider-alma-field-alma-mail {
        width: 100%;
        float: left;
        margin-bottom: 20px;
        input {
          @include span-columns(6);

          @include media($mobile) {
            width: 100%;
            margin-bottom: 10px;
          }
        }
        .description {
          @include span-columns(6);
          margin-right: 0;

          @include media($mobile) {
            width: 100%;
          }
        }
      }
    }
  }
}
