/**
 * Navigation
 *
 * @author magnify
 */


/* Topbar menu
   ========================================================================== */

.topbar-menu {
  @include zen-grid-item(8, 1, right);

  margin-top: 45px;
  text-align: right;

  li {
    display: inline;
  }

  .menu-item {
    @include text-shadow(1px 1px 0 rgba(0, 0, 0, .5));
    @include font-bold();

    color: $topbar-text-color;
    display: inline-block;
    font-size: $font-size-medium;
    margin-left: -4px;
    padding: 10px 14px;
    outline: 0;

    &:hover {
      background-color: $black;

      text-decoration: none;
    }

    &.active {
      text-decoration: none;
      background-color: $blue;
    }

    /* Hide mobile link menu item */
    &.topbar-link-menu {
      display: none;
    }
    /* Only show default override on mobile*/
    &.default-override {
      display: none;
    }
  }


  i[class^="icon-"] {
    margin-right: 5px;
  }

  /* Media queries */
  @include small() {
    .menu-item {
      padding: 10px 9px;
    }
  }

  @include small-medium() {
    @include zen-grid-item(6, 1, right);

    margin-top: 0;
    padding: 0;

    i[class^="icon-"] {
      margin-right: 0;
    }

    span {
      display: none;
    }

    /* Show mobile link menu item */
    .menu-item.topbar-link-menu {
      display: inline-block;
    }

    .topbar-link-user-account.menu-item {
      display: none;
    }

    .topbar-link-user-account.default-override {
      display:inline-block;
    }

  }
}


/* Navigation, main menu and secondary menu
   ========================================================================== */

.navigation-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
  width: 100%;

  /* Media queries */
  @include small-medium() {
    @include box-sizing(border-box);

    background-color: $blue;
    display: none;
    padding-top: 10px;
    padding-right: 20px;
    /* Extra space needed below the menu for device stuff (e.g. iOS) */
    padding-bottom: 30px;
    padding-left: 20px;
  }
}

.navigation-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: hidden;
}

.main-menu-wrapper {
  @include zen-grid-item(8, 1);
}

.secondary-menu-wrapper {
  @include zen-grid-item(4, 1, right);
}

.main-menu-wrapper,
.secondary-menu-wrapper {
  @include small-medium() {
    @include zen-grid-item(12, 1);
    @include zen-clear();
  }
}

.main-menu {
  font-size: $font-size-large;

  /* For now Drupal's menu_tree function adds the class "main-menu" so sub-menus
   * as well.
   */
  .main-menu {
    display: none;
  }

  /* Media queries */
  @include small-medium() {
    .main-menu {
      display: block;
      font-size: $font-size-reset;
      margin-left: $large-spacing;
    }
  }
}

.secondary-menu {
  @include zen-float(right);

  li {
    border-right: 1px solid $gray;
  }

  .menu-item {
    margin-left: 15px;
  }

  @include large() {
    .menu-item {
      font-size: $font-size-small;
      margin-left: 10px;
    }
  }

  @include small-medium() {
    float: none;

    li {
      border-right: 0;
    }
  }
}

.main-menu,
.secondary-menu,
.system-user-menu{
  margin: 0;
  padding-left: 0;

  li {
    /* Add the icon here so we can show it in other breakpoints */
    @extend .icon-angle-right;

    display: inline;

    /* Make sure the icon is not displayed in this breakpoint */
    &:before {
      display: none;
    }
  }

  .first {
    .menu-item {
      margin-left: 0;
    }
  }

  .last {
    border-right: 0;

    .menu-item {
      margin-right: 0;
    }
  }

  .menu-item {
    color: #959594;
    display: inline-block;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
      color: #000002;
    }

    &.active {
      color: #000002;
      text-decoration: underline;
    }
  }

  @include large() {
    .menu-item {
      font-size: $font-size-small;
      margin-right: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  @include small-medium() {
    font-size: $font-size-reset;

    li {
      border-bottom: 1px solid transparentize($white, .75);
      display: block;

      &:before {
        color: $white;
        display: inline;
        float: left;
        font-family: $base-icon-library-font;
        margin-top: 9px;
        margin-right: 5px;
      }

      &.first {
        .menu-item {
          margin-left: -12px;
        }
      }

      .menu-item {
        color: $white;
        display: inline-block;
        margin-right: 0;
        margin-left: -12px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        width: 95%;

        &:hover {
          @include font-bold();

          color: $white;
          text-decoration: none;
        }

        &.active {
          @include font-bold();

          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}


.system-user-menu {
  .last .menu-item {
    margin-right: 0;
  }

  .menu-item {
    color: $white;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include small-medium() {
    .menu-item {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}



/* Sub menu
   ========================================================================== */

/* The sub menu is moved to main menu in responsive design
   @see ddbasic/scripts/ddbasic.topbar.menu.js */
.pane-taxonomy-menu,
.sub-menu-wrapper {
  @include small-medium() {
    display: none;
  }
}

.sub-menu-title {
  @include font-normal();

  border-bottom: 1px solid $gray-light;
  font-size: $font-size-large;
  margin-bottom: 0;
  padding-bottom: $medium-spacing;
}

.sub-menu {
  padding-left: 0;

  > li {
    border-bottom: 1px solid $gray-light;
    padding-top: 0;
    padding-right: 0;

    a {
      color: $link-color;
      display: block;
      margin-left: -$large-spacing;
      padding-top: $medium-spacing;
      padding-bottom: 8px;
      padding-left: 35px;

      &.active {
        font-family: $font-bold;
        font-weight: $base-font-weight-bold;
      }

      &:hover {
        text-decoration: none;
        color: $link-color-hover;
      }
    }
  }

  li {
    @extend .icon-angle-right;

    &:before {
      color: $link-color;
      float: left;
      font-family: $base-icon-library-font;
      font-size: $font-size-large;
      margin-top: 8px;
      margin-left: 1px;
    }
  }

  ul {
    li {
      border-left: 7px solid $gray-light;
      padding-left: $medium-spacing;

      li {
        border-top: 1px solid $gray-light;
        border-left: 0;
        padding-left: 25px;
      }

      &.first {
      }

      &.last {
        border-bottom: 0;
      }
    }
  }
}



/* Footer menus
   ========================================================================== */

.footer {
  .pane-title {
    @extend .icon-chevron-down;

    color: $footer-text-color;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5b5b5b;
    cursor: pointer;

    &:before {
      float: right;
      font-family: $base-icon-library-font;
    }

    &.js-toggled {
      @extend .icon-chevron-right;
    }
  }

  .menu {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;

    li {
      @extend .icon-angle-right;

      margin: 0;
      margin-bottom: 10px;

      &:before {
        float: left;
        color: $footer-text-color;
        font-family: $base-icon-library-font;
      }

      a {
        color: $footer-text-color;
        padding-left: 10px;
      }
    }
  }

  @include small-medium {
    .menu {
      display: none;
    }
  }
}



/* Action Links
   ========================================================================== */

.action-links {
  padding-top: $medium-spacing;
  padding-right: $large-spacing;
  padding-bottom: $medium-spacing;
  padding-left: $large-spacing;

  li {
    @extend .icon-plus;

    color: $link-color;
    display: inline-block;
    padding: 0 10px;

    &:before {
      color: $link-color;
      float: left;
      font-family: FontAwesome;
      font-size: $font-size-medium;
      margin-top: 2px;
      margin-left: 1px;
    }

    a {
      font-family: $base-font-family;
      margin-left: -$large-spacing;
      padding-left: 25px;
    }
  }
}

/* User top bar menu
   ========================================================================== */

.header-wrapper .pane-user-menu {
  display: none;

  .sub-menu {
    @extend .main-menu;

    ul li {
      border-left: none;
    }
  }
}
