/**
 * Tabs
 *
 * @author magnify
 */

#tabs {
  margin-bottom: -20px;
}

.tabs {
  &.primary {
  	border: none;
    padding-left: $medium-spacing;
  }

  li,
  li.active,
  li:hover,
  li.active:hover {
    background: transparent;
    border-right: none;
    display: inline-block;
    padding-right: 0;

    a {
      @include border-radius($button-border-radius $button-border-radius 0 0);

      border: none;
      display: block;
      line-height: $base-line-height * 1.3;
      margin: 0;
      padding-right: $large-spacing;
      padding-left: $large-spacing;

      &:hover {
        background: $gray-lighter;
        color: $black;
        text-decoration: none;
      }
    }
  }

  li a {
    background: $gray-light;
  }

  li a.active {
    background: $white;
  }

  &.secondary {
    background-color: $white;
    padding: $medium-spacing;
    margin: 0 $medium-spacing;

    li {
      a {
        background: $white;
      }

      a.active {
        background: $gray-light;
      }
    }

    li,
    li.active,
    li:hover,
    li.active:hover {
      a {
        @include border-radius($button-border-radius);
      }
    }
  }
}
