.fa {
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa:hover {
  cursor: pointer;
}
.fa-star-o:before {
  content: "\f006";
}
.fa-star-o.active:before,
.fa-star-o.submitted:before {
  content: "\f005";
}
.ding-entity-rating-avg {
  margin-left: 10px;
}
.ding-entity-rating-clear {
  margin-left: 1em;
  display: none;
}
.ding-entity-rating.has-submission .ding-entity-rating-clear {
  display: inline;
}
