.tdcss-fragments,
.tdcss-elements,
.tdcss-section,
.tdcss-section .tdcss-h2,
.tdcss-fragment,
.tdcss-dom-example,
.tdcss-code-example,
.tdcss-dom-example,
.tdcss-code-example,
.tdcss-code-example .tdcss-h3,
.tdcss-code-example .tdcss-textarea
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.tdcss-fragments {
    display: none;
}

.tdcss-elements {
    width: 100%;
}

.tdcss-section {
    padding: 1px 0 0 0;
    border: none;
    vertical-align: bottom;
    width: 100%;
    margin-bottom: 1em;
}
.tdcss-section .tdcss-h2 {
    display: block;
    color: white;
    font-size: 20px;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 10px;
    border: 1px solid #08C;
    text-shadow: 0 -1px rgba(0,0,0,0.1);
    /*background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #add8e6), color-stop(100%, #96cddf));*/
    background: -webkit-linear-gradient(top, #08C, #00B7E7);
    background: -moz-linear-gradient(top, #08C, #00B7E7);
    background: -o-linear-gradient(top, #08C, #00B7E7);
    background: linear-gradient(top, #08C, #00B7E7);
}
.tdcss-section .tdcss-h2:after {
    content: "\25BC";
    float: right;
    font-size: 65%;
}
.tdcss-section.is-collapsed .tdcss-h2:after {
    content: "\25B2";
    float: right;
}
.tdcss-section:hover .tdcss-h2 {
    background-color: #b1dcea;
}

.tdcss-fragment {
    overflow: hidden;
    position: relative;
    padding: 0 1em;
    margin-bottom: 2em;
    
}
.tdcss-dom-example,
.tdcss-code-example {
    float: left;
}
.tdcss-dom-example {
    position: relative;
    padding: 1em;
    width: 50%;
}
.tdcss-code-example {
    position: relative;
    /*background-color: white;*/
    z-index: 1000;
    width: 50%;
    padding: 1em;
}
.tdcss-fragment .tdcss-h3 {
    /*font-family: arial, sans-serif;
    font-weight: bold;
    color: #333;
    border: 1px solid #333;
    text-shadow: 0 -1px rgba(0,0,0,0.1);
    background: -webkit-linear-gradient(top, #08C, #00B7E7);
    background: -moz-linear-gradient(top, #08C, #00B7E7);
    background: -o-linear-gradient(top, #08C, #00B7E7);
    background: linear-gradient(top, #08C, #00B7E7);
    margin-top: 0;*/
    padding: 0.25em;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tdcss-code-example .tdcss-textarea {
    display: block;
    width: 100%;
    /*height: 100%;*/
    min-height: 100px;
    border: 1px solid #bbb;
    font-size: 0.9em;
    line-height: 1.25em;
    padding: 0.25em;
    /*overflow: hidden;*/
}