
.content .place2book.order,
.pane-content .place2book.order {
    background: transparent url("../img/sprite-knapper-reservering.png") no-repeat scroll right -30px;
    width: 188px;
}

.content .place2book a,
.content .place2book a:link,
.content .place2book a:visited,
.content .place2book a:hover,
.content .place2book a:active {
    background: transparent url("../img/sprite-knapper-reservering.png") no-repeat scroll left -90px;
    color: white;
    display: block;
    padding: 3px 0;
    text-align: center;
    width: 180px;
    font-size: 1.1em;
    font-weight: bold;
}

.content .place2book.info {
    background: #FFEE66;
    border: 1px solid #EEDD55;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    color: #884400;
}
