@import '../base.scss';

.ding_nodelist-node_blocks .nb-item.node-ding-page:hover .inner,
.ding_nodelist-node_blocks .nb-item.node-ding-eresource:hover .inner{
  padding-bottom: 50px;
}

.ding_nodelist-carousel .library{
  color: $white;
}

.ding_nodelist-node_blocks .nb-item .info-bottom .library .field-item {
  text-overflow: clip;
  white-space: normal;
}

.ding_nodelist-node_blocks .nb-item .text .info-bottom {
  margin-top: 10px;
}
