//
// Styling of related content panel

@import '../base.scss';

.pane-related-content {
  .related-content-title {
    h1 {
      margin-bottom: 20px;
      // Mobile
      @include media($mobile) {
        margin-bottom: 10px;
      }
    }
  }
  .group-blocks--inner {
    > div {
      @include span-columns(3);
      @include omega(4n);
      h2 {
        @include font('display-small');
        color: $charcoal;
        margin-top: 10px;
        margin-bottom: 30px;
      }
      .field-name-field-ding-news-list-image {
        position: relative;
        &::after {
          @include transition(opacity $speed $ease);
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $black;
          opacity: 0;
        }
        .no-touch & {
          &:hover {
            &::after {
              opacity: 0.5;
            }
          }
        }
      }
      // Tablet
      @include media($tablet) {
        @include omega-reset(4n, 12);
        @include span-columns(6);
        @include omega(2n);
      }
      // Tablet
      @include media($mobile) {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
