/**
 * Base
 *
 * @author magnify
 */


body {
  background-color: $gray-light;
  color: $font-color-primary;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-bold();

	/* This fixes huge spaces when a heading wraps onto two lines */
	line-height: 1.2;

  margin-top: 0;
  margin-bottom: $medium-spacing;

	/* Voodoo to enable ligatures and kerning */
	text-rendering: optimizeLegibility;

  a {
    &:link {
      color: $font-color-primary;
      text-decoration: none;
    }

    &:visited {
      color: darken($font-color-primary, 25%);
    }

    &:hover {
      color: darken($font-color-primary, 25%);
    }

    &:focus {
      color: darken($font-color-primary, 25%);
    }

    &:active {
      background-color: transparent;
      color: darken($font-color-primary, 25%);
    }
  }
}


h1 {
  font-size: $font-size-giga;
}

h2 {
  font-size: $font-size-largest;
}

h3 {
  font-size: $font-size-larger;
}

h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-medium;
}

h6 {
  font-size: $font-size-reset;
}


strong {
  @include font-bold();
}


em {
  @include font-italic();

  strong {
    @include font-bold();
  }
}


/* Image
   ========================================================================== */

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}



/* Lists
   ========================================================================== */

ol {
  padding-left: 20px;
}

ul {
  margin: 0;
  padding-left: 20px;

  li {
    list-style: none;
  }
}


/* Make sure lists in content get the icon */
.field-type-text-long,
.page-content {
  ul {
    li {
      list-style: disc outside;
    }
  }
}



/* Fieldset
   ========================================================================== */

fieldset {
  border-color: $gray-light;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: $large-spacing;
  margin-left: 0;
  padding-top: $medium-spacing;
  padding-right: $large-spacing;
  padding-bottom: $medium-spacing;
  padding-left: $large-spacing;
}

legend {
  @include font-bold();

  display: block;
  font-size: $font-size-medium;
  margin-right: -10px;
  margin-left: -10px;
  padding-right: 10px;
  padding-left: 10px;
}



/* Selection color
   ========================================================================== */

::-moz-selection,
::selection {
  background-color: #ffff99;
  color: #333;
  text-shadow: none;
}
