/**
 * Labels
 *
 * @author magnify
 */


.label {
  font-size: $font-size-small;
  text-shadow: $label-shadow;
  vertical-align: baseline;
  white-space: nowrap;


  /* Make sure it works with a wrapper */
  a {
    background-color: $label-bg-color;
    color: $label-text-color;
    padding: $label-padding;

    @include border-radius($label-border-radius);

    &:link,
    &:visited {
      color: $label-text-color;
      text-decoration: none;
    }

    &:hover {
      background-color: $label-bg-color-hover;
      color: $label-text-color-hover;
      text-decoration: none;
    }
  }
}

// Fixed labels in ting objects.
.ting-object .subjects,
.pane-ting-object .subjects {
  white-space: normal;
}
