// =============================================================================
//
// Media queries
//
// Stuff for media queries
//
// @author magnify
//
// =============================================================================


// -----------------------------------------------------------------------------
// Media queries and breakpoints
// -----------------------------------------------------------------------------
//
$breakpoint-low:        580px;
$breakpoint-small:      480px;
$breakpoint-medium:     768px;
$breakpoint-large:      940px;
$breakpoint-x-large:    1210px;


// Respond-to mixin
@mixin respond-to($media) {
	// Sizes
	@if $media == small {
		@media only screen and (max-width: $breakpoint-small) { @content; }
	}

  @if $media == small-medium-low {
    @media only screen and (max-height: $breakpoint-low) and (max-width: $breakpoint-medium) { @content; }
  }

	@else if $media == medium {
		@media only screen and (min-width: $breakpoint-small + 1) and (max-width: $breakpoint-medium) { @content; }
	}

	@else if $media == large {
		@media only screen and (min-width: $breakpoint-medium + 1) and (max-width: $breakpoint-large) { @content; }
	}

	@else if $media == x-large {
		@media only screen and (min-width: $breakpoint-x-large + 1) { @content; }
	}

  @else if $media == large-x-large {
    @media only screen and (min-width: $breakpoint-medium + 1) { @content; }
  }
}


// Size mixins
@mixin small {
  @include respond-to(small) { @content; }
}

@mixin small-medium {
  @include respond-to(small) { @content; }
  @include respond-to(medium) { @content; }
}

@mixin small-medium-low {
  @include respond-to(small-medium-low) { @content; }
}

@mixin medium {
  @include respond-to(medium) { @content; }
}

@mixin large {
  @include respond-to(large) { @content; }
}

@mixin x-large {
  @include respond-to(x-large) { @content; }
}

@mixin large-x-large {
  @include respond-to(large-x-large) { @content; }
}


// -----------------------------------------------------------------------------
// Displays
// -----------------------------------------------------------------------------


// **
// Primary 100% stacked secondary and tertiary 50% side by side
//
// -------------------------------
// |           Primary           |
// -------------------------------
// -------------------------------
// |  Secondary   |   Tertiary   |
// -------------------------------
//
@mixin display-100-50-50 {
  .primary-content {
    @include zen-grid-item(12, 1);
  }

  .secondary-content {
    @include zen-clear(both);
    @include zen-grid-item(6, 1);
  }

  .tertiary-content {
    @include zen-grid-item(6, 1, right);
  }
}


// **
// Secondary 33% primary 66%
//
// -------------------------------
// | Sec. |       Primary        |
// -------------------------------
//
@mixin ddbasic-display-33-66-secondary {
  .primary-content {
    @include zen-grid-item(9, 3 + 1);
  }
  .secondary-content {
    @include zen-grid-item(3, 1);
  }
}

// **
// Primary 66% tertiary 33%
//
// -------------------------------
// |       Primary        | Ter. |
// -------------------------------
//
@mixin ddbasic-display-66-33-tertiary {
  .primary-content {
    @include zen-grid-item(8, 1);
  }

  .tertiary-content {
    @include zen-grid-item(4, 1, right);
  }
}


// **
// Secondary 25% primary 50% tertiary 25%
//
// -------------------------------
// | Sec. |    Primary    | Ter. |
// -------------------------------
//
@mixin display-25-50-25 {
  .primary-content {
    @include zen-grid-item(6, 3 + 1);
  }

  .secondary-content {
    @include zen-grid-item(3, 1);
  }

  .tertiary-content {
    @include zen-grid-item(3, 1, right);
  }
}


// -----------------------------------------------------------------------------
// Attachments
// -----------------------------------------------------------------------------
//


// **
// 4 columns side by side
//
// -------------------------------
// |   1   |  2   |  3   |   4   |
// -------------------------------
//
@mixin attachment-25-25-25-25 {
  .attachment-first {
    @include zen-grid-item(3, 1);
  }

  .attachment-second {
    @include zen-grid-item(3, 3 + 1);
  }

  .attachment-third {
    @include zen-grid-item(3, 3 + 1, right);
  }

  .attachment-fourth {
    @include zen-grid-item(3, 1, right);
  }
}


// **
// 3 column + 1 stacked (4th column optional)
//
// -------------------------------
// |    1    |    2    |    3    |
// -------------------------------
// -------------------------------
// |         Attachment 4        |
// -------------------------------
//
@mixin attachment-33-33-33-100 {
  .attachment-first {
    @include zen-grid-item(4, 1);
  }

  .attachment-second {
    @include zen-grid-item(4, 4 + 1);
  }

  .attachment-third {
    @include zen-grid-item(4, 1, right);
  }

  .attachment-fourth {
    @include zen-clear(both);
    @include zen-grid-item(12, 1);
  }
}


// **
// 2 columns side by side + 2 stacked
//
// -------------------------------
// | Attachment 1 | Attachment 2 |
// -------------------------------
// -------------------------------
// |         Attachment 3        |
// -------------------------------
// -------------------------------
// |         Attachment 4        |
// -------------------------------
//
@mixin attachment-50-50-100-100 {
  .attachment-first {
    @include zen-grid-item(6, 1);
  }

  .attachment-second {
    @include zen-grid-item(6, 1, right);
  }

  .attachment-third {
    @include zen-clear();
    @include zen-grid-item(12, 1);
  }

  .attachment-fourth {
    @include zen-clear();
    @include zen-grid-item(12, 1);
  }
}

// **
// 2 columns side by side
//
// -------------------------------
// | Attachment 1 | Attachment 2 |
// -------------------------------
// -------------------------------
// | Attachment 3 | Attachment 4 |
// -------------------------------
//
@mixin attachment-50-50-50-50 {
  .attachment-first {
    @include zen-grid-item(6, 1);
  }

  .attachment-third {
    @include zen-clear(both);
    @include zen-grid-item(6, 1);
  }

  .attachment-second,
  .attachment-fourth {
    @include zen-grid-item(6, 1, right);
  }
}

// **
// Columns stacked
//
// -------------------------------
// |         Attachment 1        |
// -------------------------------
// -------------------------------
// |         Attachment 2        |
// -------------------------------
// -------------------------------
// |         Attachment 3        |
// -------------------------------
// -------------------------------
// |         Attachment 4        |
// -------------------------------
//
@mixin attachment-100-100-100-100 {
  .attachment-first,
  .attachment-second,
  .attachment-third,
  .attachment-fourth {
    @include zen-clear();
    @include zen-grid-item(12, 1);
  }
}
