/**
 * Modal popup styling (from jquery ui library)
 *
 * @author magnify
 */



/* Variables
   ========================================================================== */

$modal-overlay-color:             $black;
$modal-overlay-transparency:      .8;
$modal-text-color:                $black;
$modal-background-color:          $black;
$modal-background-transparency:   .25;
$modal-min-width:                 450px;
$modal-border-radius:             12px;


.ui-widget-overlay {
  @include opacity(1);

  background: transparentize($modal-background-color, $modal-background-transparency);
}

.ui-dialog {
  @include box-shadow(rgba(black, 0.35) 0 0 10px);
  @include border-radius($button-border-radius);

  background: $header-background-color;
  min-width: $modal-min-width;

  /* Media queries */
  @include small-medium() {
    min-width: 0;
    max-width: 100% !important;
  }
}


.ui-dialog-title {
  @extend .page-title;
  
  color: $topbar-text-color;
}


.ui-widget-content {
  color: $topbar-text-color;
  padding: 0;
}

.ui-widget-header {
  background: none;
  border: 0;
}

.ui-dialog {
  @include box-sizing(border-box);

  padding: $large-spacing;

  .ui-dialog-titlebar {
    .ui-dialog-titlebar-close {
      float: right;
      right: $small-spacing;
      padding: 0;
      top: $medium-spacing;
      width: auto;
      background: none;
      border: none;

      .ui-icon {
        @include font-bold();
        @extend .icon-remove;

        color: $topbar-text-color;
        background: none;
        height: 24px;
        text-indent: 0;
        text-transform: capitalize;

        &:hover {
          background: none;
          border: 0;
          color: $topbar-text-color;
        }
      }

      .ui-icon:before {
        font-family: $base-icon-library-font;
        margin-right: 2px;
        margin-bottom: -1px;
      }

      &:link,
      &:visited,
      &:active {
        color: $topbar-text-color;
        text-decoration: none;
      }

      &:hover {
        color: $topbar-text-color;
        text-decoration: none;
      }
    }

    .ui-dialog-title {
      float: none;
    }

    .form-item {
      margin-bottom: $medium-spacing;

      .description {
        color: transparentize($white, .1);
        margin-top: -$medium-spacing;
      }
    }

    .openid-links {
      display: none;
    }
  }

  .form-text {
    width: 100%;
  }
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: none;
  border: 0;
}
