// =============================================================================
// Modal popup styling (from jquery ui library)
// =============================================================================
//


// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
//
$modal-overlay-color:             $black;
$modal-overlay-transparency:      .8;
$modal-text-color:                $black;
$modal-background-color:          #00b7e7;
$modal-background-transparency:   .95;
$modal-min-width:                 450px;
$modal-border-radius:             12px;


// -----------------------------------------------------------------------------
// Default styling
// -----------------------------------------------------------------------------
//
.ui-widget-overlay {
  background-color: transparentize($modal-background-color, $modal-background-transparency);
}

.ui-dialog {
  @include box-shadow(rgba(black, 0.35) 0 0 10px);
  @include border-radius($button-border-radius);

  background-color: transparentize($modal-background-color, $modal-background-transparency);
  min-width: $modal-min-width;
}


.ui-dialog-title {
  color: $modal-text-color;
}


.ui-widget-content {
  color: $modal-text-color;
  padding: 0;
}


.ui-dialog {
  padding: $large-spacing;

  .ui-dialog-titlebar {
    .ui-dialog-titlebar-close {
      float: right;
      right: $small-spacing;
      padding: 0;
      top: $medium-spacing;
      width: auto;

      .ui-icon {
        @include font-bold();
        @extend .icon-remove;

        text-indent: 0;
        text-transform: capitalize;

        &:hover {
          color: lighten($modal-background-color, 40%);
        }
      }

      .ui-icon:before {
        font-family: $base-icon-library-font;
        margin-right: 2px;
        margin-bottom: -1px;
      }

      &:link,
      &:visited,
      &:active {
        color: $modal-text-color;
        text-decoration: none;
      }

      &:hover {
        color: $modal-text-color;
        text-decoration: none;
      }
    }

    .form-item {
      margin-bottom: $medium-spacing;

      .description {
        color: transparentize($white, .1);
        margin-top: -$medium-spacing;
      }
    }

    .openid-links {
      display: none;
    }
  }
}
